@font-face {
  font-family: 'HeliosCondC';
  src: url('@{burlfonts}HeliosCondC-Bold.eot');
  src: url('@{burlfonts}HeliosCondC-Bold.eot?#iefix') format('embedded-opentype'),
  url('@{burlfonts}HeliosCondC-Bold.woff2') format('woff2'),
  url('@{burlfonts}HeliosCondC-Bold.woff') format('woff'),
  url('@{burlfonts}HeliosCondC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
