@font-face {
  font-family: 'HeliosCondC';
  src: url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/b72dcdfe289bacaa14ad5c62bac9f791.eot');
  src: url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/b72dcdfe289bacaa14ad5c62bac9f791.eot?#iefix') format('embedded-opentype'),
  url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/d0043e4013af33bb9c7e36e7329685fc.woff2') format('woff2'),
  url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/66763b43f9968ba999f7bbe307d578a8.woff') format('woff'),
  url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/33e135f50135285cf10d4010d9bb2d1e.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
