body {
  margin: 0;
  font-family: Myriad Pro, Arial, Helvetica, sans-serif;
  &.no_scrol {
    overflow: hidden;
  }
}
.bns_inner_block {
  max-width: 1370px;
  width: 100%;
  margin:auto;
}
.bns_tab {
  float: left;
  width: 100%;
  padding-top:65px;
  padding-bottom:40px;
  text-align: center;
  a {
    line-height: 1;
    color: #e6e6e6;
    width: 30%;
    font-size: 32px;
    display: inline-block;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    &:not(:last-child) {
      margin-right:5%;
    }
    &.act, &:hover {
      color: #000;
      //&:before {
      //  content: '';
      //  display: block;
      //  height: 2px;
      //  width: 100%;
      //  background-color: #e6e6e6;
      //  position: absolute;
      //  left: 0;
      //  bottom: 5px;
      //  z-index: -1;
      //}
    }
  }
}