body {
  margin: 0;
  font-family: Myriad Pro, Arial, Helvetica, sans-serif;
  &.no_scrol {
    overflow: hidden;
  }
}
.bns_inner_block {
  max-width: 1370px;
  width: 100%;
  margin:auto;
}
.bns_tab {
  float: left;
  width: 100%;
  padding-top:65px;
  padding-bottom:40px;
  text-align: center;
  a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
    color: #148f6a;
    width: 33%;
    font-size: 26px;
    display: inline-block;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    &:not(:last-child):not(:hover):not(.act) {
      border-right: 1px solid #eaeaea;
    }
    &.act, &:hover {
      background-color: #0F9675;
      color: #fff;
      //&:before {
      //  content: '';
      //  display: block;
      //  height: 2px;
      //  width: 100%;
      //  background-color: #e6e6e6;
      //  position: absolute;
      //  left: 0;
      //  bottom: 5px;
      //  z-index: -1;
      //}
    }
  }
}
div[data-sailplay-action-custom] {
  max-width: 800px;
}

.sp_wrapper{
  font-family: "Open Sans Condensed";
}