
@media screen and (max-width: 1230px){
  .bns_inner_block {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 20px;
  }
  .bns_top {
    .bns_top_info {
      .bns_top_popup {
        .bns_top_popup_hist {
          .bns_top_popup_hist_item {
            width: 100%;
          }
        }
      }
      .bns_top_info_left {
        width: 100%;
        .bns_top_info_stat {
          text-align: center;
          .bns_ne_pod_bal_block {
            width: 300px;
            float: none;
            display: inline-block;
            margin: 0px 210px;
            text-align: left;
            .bns_ne_pod_bal {
              width: 100px;
              margin-right: 20px;
              margin-left: 0;
            }
            .bns_ne_pod_bal_name_container {
              width: 180px;
            }
            a {

            }
          }
          .bns_stat_now {
            width: 300px;
            float: none;
            display: inline-block;
            text-align: left;
            img {
              width: 100px;
              margin-right: 20px;
              margin-left: 0;
            }
            .bns_stat_name {
              width: 180px;
            }
            a {
              width: auto;
            }
          }
        }
      }
      .bns_top_info_right {
        margin: 0 auto 165px;
        position: relative;
        right: auto;
      }
    }
  }
  .bns_tab_block {
    text-align: center;
    .bns_gift_item {
      text-align: left;
      display: inline-block;
      float: none;
      &:nth-child(4n) {
        margin: 13px;
      }
    }
    .bns_qust_item {
      margin: 13px;
      text-align: left;
      display: inline-block;
      float: none;
      &:nth-child(4n) {
        margin: 13px;
      }
    }
    .bns_achiv_line {
      .bns_achiv_item {
        float: non;
      }
      .bns_achiv_item {
        margin: 13px;
        text-align: left;
        display: inline-block;
        float: none;
        &:nth-child(5n) {
          margin: 13px;
        }
        &:after {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 900px){
  .bns_tab {
    width: 100%;
    text-align: center;
    a {
      float: none;
      display: inline-block;
      //margin-right: 0;
    }
  }
  .bns_top {

    .bns_top_info {
      min-height: 0px;
      text-align: center;
      &:before {
        min-height: 0px;
      }
      .bns_top_popup {
        width: 100% !important;
        .bns_top_popup_hist {
          .bns_top_popup_hist_item {
            text-align: left;
            position: relative;
            .bal {
              position: absolute;
              right: 0px;
              top:0px;
            }
          }
        }
      }
      .bns_top_info_left {
        .bns_ava_block {
          float: left;
          width: 100%;
          text-align: center;
          img {
            float: none;
          }
          .bns_ava_block_right {
            padding-left: 0;
            width: 100%;
          }
        }
        .bns_top_info_stat {
          .bns_ne_pod_bal_block {
            margin: 0px 70px;
          }
        }
      }
      .bns_top_info_right {
        float: none;
        display: inline-block;
        margin: 0 auto 25px;
      }
    }
  }
}

@media screen and (max-width: 650px){
  .bns_tab {
    a:not(:last-child) {
      margin-bottom: 10px;
      margin-right: 0;
    }
    a {
      width: 100%;
    }
  }
  .bns_top {
    .bns_top_info {
      padding: 30px 10px;
      .bns_top_info_left {
        .bns_top_info_stat {
          .bns_ne_pod_bal_block {
            margin: 0px;
          }
        }
      }
      .bns_top_info_right {
        width: 100%;
        background-repeat: no-repeat;
      }
      .bns_top_slide {
        img {
          max-width: 100%;
          height: auto;
          margin-left: 0;
        }
      }
    }
  }

}

@media screen and (max-width: 450px){
  .bns_tab {
    a {
      font-size: 30px;
    }
  }
  .bns_top {
    .bns_top_info {
      .bns_top_popup {
        h2 {
          font-size: 30px;
        }
        .close {
          left: 0;
        }
        .bns_top_popup_hist {
          .bns_top_popup_hist_item {
            .name {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .bns_tab_block {
    .bns_gift_item {
      margin-left: 0 !important;
      margin-right: 0  !important;
      width: 100%;
    }
  }
}

@media screen and (max-width: 400px){
  .bns_top {
    .bns_top_info {
      .bns_top_info_left {
        .bns_top_info_stat {
          .bns_ne_pod_bal_block {
            text-align: center;
            .bns_ne_pod_bal {
              display: inline-block;
              float: none;
              margin-right: 0;
            }
            .bns_ne_pod_bal_name {
              display: inline-block;
              width: 100%;
              float: none;
              margin-top: 0;
            }
            a {
              display: inline-block;
              float: none;
              margin-top: 0;
            }
          }
          .bns_stat_now {
            text-align: center;
            img {
              display: inline-block;
              float: none;
              margin-right: 0;
            }
            .bns_stat_name {
              display: inline-block;
              width: 100%;
              float: none;
              margin-top: 0;
            }
            a {
              display: inline-block;
              float: none;
              margin-top: 0;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}