.bns_top {
  float: left;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  background-size: cover;
  //margin-top: 30px;
  .bns_top_info {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 45px 64px;
    position: relative;
    min-height: 330px;
    &:before {
      height: 100%;
      min-height: 330px;
      display: inline-block;
      vertical-align: middle;
      content: '';
    }
    .bns_top_popup {
      width: 90%;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
      padding: 30px 35px;
      box-sizing: border-box;
      h2 {
        float: left;
        width: 100%;
        color: #000000;
        font-size: 42px;
        margin-top: 0;
        margin-bottom: 15px;
      }
      span.bns_top_popup_text {
        float: left;
        width: 100%;
        color: #000000;
        font-size: 22px;
      }
      .close {
        width: 42px;
        height: 42px;
        border-radius: 8px;
        background-color: #fff;
        position: absolute;
        left: -21px;
        top: -21px;
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("https://sailplays3.cdnvideo.ru/media/assets/assetfile/10f8ff372ad96ebc4df4285a88d58613.png");
        box-shadow: 1px 1px 9px #333;
      }
      &.bns_top_popup_hist {
        float: left;
        width: 62%;
        height: 333px;
        z-index: 3;
        @media screen and (max-width: 1230px) {
          width: 100%;
        }
        .bns_top_popup_hist_item {
          clear: both;
          float: left;
          width: 100%;
          display: flex;
          line-height: 1.4;
          .date {
            float: left;
            color: #878787;
            font-size: 22px;
            margin-right: 38px;
            width: 90px
          }
          .name {
            float: left;
            flex-grow: 1;
            color: #000000;
            font-size: 22px;
          }
          .bal {
            float: right;
            color: #048a65;
            font-size: 22px;
            font-weight: bold;
            width: 120px;
          }
        }
        .bns_hist_page {
          float: left;
          width: 100%;
          margin-top: 10px;
          span {
            color: #000000;
            float: left;
            width: 105px;
            font-size: 22px;
          }
          a {
            float: left;
            margin-right: 10px;
            font-size: 22px;
            text-decoration: none;
            color: #000000;
            &.act {
              color: #048a65;
              font-weight: bold;
            }
          }
        }
      }
    }
    .bns_top_slide {
      width: 100%;
      float: left;
      text-align: center;
      img {
        margin-left: 50px;
        max-width: 300px;
      }
      .bns_slide_text_container {
        max-width: 600px;
        margin: 0 auto;
      }
      .bns_slide_text {
        color: #000000;
        display: block;
        font-size: 24px;
        font-weight: bold;
        line-height: 25px;
        width: 100%;
        max-width: 600px;
        margin-top: 25px;
        margin-bottom: 25px;
      }
      .bns_top_slide_linck {
        width: 100%;
        a {
          cursor: pointer;
          display: inline-block;
          width: 120px;
          line-height: 45px;
          border-radius: 10px;
          background-color: #0a9876;
          text-align: center;
          text-decoration: none;
          color: #ffffff;
          font-size: 22px;
        }
      }
    }
    .bns_top_info_left {
      float: left;
      width: 80%;
      .bns_ava_block {
        float: left;
        width: 100%;
        img {
          float: left;
          border-radius: 100%;
          width: 163px;
          height: auto;
        }
        .bns_ava_block_right {
          float: left;
          width: 550px;
          box-sizing: border-box;
          padding-left: 30px;
          .bns_name {
            float: left;
            width: 100%;
            font-size: 50px;
            font-weight: bold;
            font-family: 'HeliosCondC';
            color: #000000;
            margin-top: 33px;
            margin-bottom: 13px;
          }
          a {
            float: left;
            width: 100%;
            color: #048a65;
            font-size: 22px;
          }
        }
      }
      .bns_top_info_stat {
        float: left;
        width: 100%;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        margin-top: 30px;
        .bns_ne_pod_bal_block {
          float: left;
          width: 45%;
          box-sizing: border-box;
          .bns_ne_pod_bal {
            float: left;
            display: inline-block;
            line-height: 100px;
            width: 100px;
            border-radius: 100px;
            background-color: #fff;
            -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
            text-align: center;
            font-size: 38px;
            font-weight: bold;
            color: #0a9876;
            font-family: 'HeliosCondC';
            margin-left: 30px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-right: 20px;
          }
          .bns_ne_pod_bal_name_container {
            width: 218px;
            float: left;
          }
          .bns_ne_pod_bal_name {
            display: block;
            width: 228px;
            color: #000000;
            font-size: 24px;
            margin-top: 45px;
            margin-bottom: 8px;
          }
          a {
            color: #0a9876;
            font-size: 20px;
            width: auto;
            position: relative;
            &:hover {
              .bns_tile {
                display: block;
              }
            }
            .bns_tile {
              line-height: 1.1;
              position: absolute;
              display: inline-block;
              width: 240px;
              box-sizing: border-box;
              border-radius: 10px;
              background-color: #fff;
              -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
              box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
              bottom: 30px;
              color: #5e5e5e;
              font-size: 20px;
              left: 50%;
              margin-left: -120px;
              padding: 15px 20px;
              text-align: center;
              display: none;
              &:after {
                position: absolute;
                left: 50%;
                content: '';
                display: block;
                width: 20px;
                height: 12px;
                background-image: url("https://sailplays3.cdnvideo.ru/media/assets/assetfile/2ebe1084f94d6642f5584f860b411729.png");
                margin-left: -10px;
                bottom: -12px;
              }
            }
          }
        }
        .bns_stat_now {
          float: left;
          width: 50%;
          box-sizing: border-box;
          img {
            min-height: 100px;
            width: 100px;
            height: auto;
            float: left;
            border-radius: 100px;
            -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
            margin-top: 20px;
            margin-right: 30px;
            margin-bottom: 20px;
          }
          .bns_stat_name_container {
            width: 300px;
            margin-top: 45px;
            width: 180px;
            float: left;
          }
          .bns_stat_name {
            width: auto;
            font-size: 24px;
            color: #000000;
            margin-bottom: 8px;
          }
          a {
            width: auto;
            color: #0a9876;
            font-size: 20px;
          }
        }
      }
    }
    .bns_top_info_right {
      position: absolute;
      right: 90px;
      bottom: 0px;
      width: 402px;
      height: 382px;
      //background-image: url("@{burl}vidj.png");
    }
  }

}

.bns_popup_layout {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2000;
  width: 100%;
  height: 100%;
}

.bns_popup_wrapper {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3000;
  &:before {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.bns_popup {
  position: relative;
  text-align: center;
  z-index: 2001;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
  padding: 30px 35px;
  box-sizing: border-box;
  h2 {
    float: left;
    width: 100%;
    color: #000000;
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  span.bns_popup_text {
    float: left;
    width: 100%;
    color: #000000;
    font-size: 22px;
  }
  .close {
    width: 42px;
    height: 42px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    left: -21px;
    top: -21px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("https://sailplays3.cdnvideo.ru/media/assets/assetfile/10f8ff372ad96ebc4df4285a88d58613.png");
  }
}