@main-bg: #0b0a0d;
@block-bg: #211e20;
@white-bg: #fff;

@text-black: #010102;
@text-white: #ffffff;
@text-orange: #dd4010;

@btn-bg: #dd4010;
@btn-color: #fff;

@err-color: #fb2d32;

@gray: #b3afa9;

@forg: #fdfeea;

@poin-bg: #e2dcc8;

@ava-bg:#a096c7;