.bns_earn {
  float: left;
  width: 100%;
  h2 {
    color: @text-orange;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Rajdhani';
    line-height: 90px;
    width: 100%;
    float: left;
    margin: 0;
    padding-top: 10px;
  }
  .bns_earn_main {
    float: left;
    width: 102%;
    text-align: center;
    margin-left:-14px;
    .bns_earn_item {
      display: inline-block;
      width: 375px;
      height: 121px;
      background-color: @block-bg;
      margin-right:13px;
      margin-left: 14px;
      margin-bottom:27px;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
      .bns_earn_item_left {
        float: left;
        width: 30%;
        height: 100%;
        text-align: center;
        img {
          vertical-align: middle;
          display: inline-block;
        }
        &:before {
          vertical-align: middle;
          height: 100%;
          display: inline-block;
          content: '';
        }
      }
      &:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        .bns_earn_item_right {
          .bns_earn_btn {
            opacity: 1;
          }
        }
      }
      .bns_earn_item_right {
        float: left;
        width: 70%;
        height: 100%;
        box-sizing: border-box;
        padding-right: 90px;
        position: relative;
        &:before {
          vertical-align: middle;
          height: 100%;
          display: inline-block;
          content: '';
        }
        .bns_earn_btn {
          position: absolute;
          left: 0px;
          width: 93%;
          top:50%;
          margin-top: -28px;
          opacity: 0;
          -webkit-transition: all 300ms ease;
          -moz-transition: all 300ms ease;
          -ms-transition: all 300ms ease;
          -o-transition: all 300ms ease;
          transition: all 300ms ease;
          font-size: 26px;
          font-family: Arial;
          font-weight: bold;
          iframe {
            width: 100% !important;
            height: 100% !important;
          }
        }
        .bns_earn_point {
          position: absolute;
          right: 0px;
          width: 90px;
          top:34px;
          text-align: center;
          color: @text-orange;
          font-size: 17px;
          strong {
            width: 100%;
            float: left;
            font-weight: normal;
            font-size: 30px;
          }
        }
        .bns_earn_name {
          font-size: 20px;
          color: @text-white;
          line-height: 24px;
          vertical-align: middle;
          display: inline-block;
          width: 95%;
          text-align: left;
        }
      }
    }
  }
}