@font-face {
  font-family: 'Rajdhani';
  src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/39e2666a0e0d11ff42b8273c2e9c41f0.eot');
  src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/39e2666a0e0d11ff42b8273c2e9c41f0.eot?#iefix') format('embedded-opentype'),
  url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/c7b486200eaa95015ea71e0977653068.woff2') format('woff2'),
  url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/ae03c9f807cd4acf0a96dbb053e09d81.woff') format('woff'),
  url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/b13c1be18bdaefd081cfdeb27a666a45.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/4fc5998082d4aa6f2f33178916fed596.eot');
  src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/4fc5998082d4aa6f2f33178916fed596.eot?#iefix') format('embedded-opentype'),
  url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/d3002248cd879fa31c0c650528f5ada7.woff2') format('woff2'),
  url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/d57bcaafed0ae271613983741595edba.woff') format('woff'),
  url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/fe8db990c40d259a554685e18092b380.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


