// !variables
@trans-duration: 150ms;

// !colors
@body-back: #fff;
@color-warning: #ed685a;
@color-success: #4AAC3D;

@color-text-main: #727373;
@color-link: #00AEEF;
@color-link-hover: darken(#00AEEF, 10%);

// other colors
