@font-face {
    font-family: 'a_antiquetradyregular';
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/03c5660fc5dbbc84ef6d2dd0b61a1dab.eot');
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/03c5660fc5dbbc84ef6d2dd0b61a1dab.eot?#iefix') format('embedded-opentype'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/e903cd6dec20f70f98928ffdeae2d381.woff2') format('woff2'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/a2e4e356d5fa98fe35a626f7135e6da3.woff') format('woff'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/85cd6f498ba57b2cd9637ef084966910.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.antique() {
	font-family: 'a_antiquetradyregular', serif;
}