@font-face {
    font-family: 'coco_gothic';
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/eb5907e5b8a8c16d8bd746c08aae7ae0.eot');
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/eb5907e5b8a8c16d8bd746c08aae7ae0.eot?#iefix') format('embedded-opentype'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/eea299fe1a86571538f48a69c0d91bea.woff2') format('woff2'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/94ba4858f5801daeb689e759193ba0ff.woff') format('woff'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/dcb5df3da7d570620ef674e863b0a6a6.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'coco_gothic';
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/69ba4269a5a866de4408712b4916cb47.eot');
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/69ba4269a5a866de4408712b4916cb47.eot?#iefix') format('embedded-opentype'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/c71aa5a0bfc853a07657b7583fac6afd.woff2') format('woff2'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/079abd9b98d4d3cfcd612386df435016.woff') format('woff'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/ea4aa13378c938624417de13045a6e4b.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'coco_gothic';
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/a05f526f2fc4b690006c0a1e4614abf4.eot');
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/a05f526f2fc4b690006c0a1e4614abf4.eot?#iefix') format('embedded-opentype'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/d8ec60a555f5f491647f542e2402ae84.woff2') format('woff2'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/c8531a767c4a2cac3db2e1354c35ff2a.woff') format('woff'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/20fad5cd3789d63569dbe79bc809da4e.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}
.coco {
    font-family: 'coco_gothic', sans-serif;
}