@font-face {
	font-family: 'Muller';
	src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/14b10cded46c5f3dc004d75b253bde72.eot');
	src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/14b10cded46c5f3dc004d75b253bde72.eot?#iefix') format('embedded-opentype'),
		url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/1881e8ca0a54c95b111c478ec9fa8837.woff2') format('woff2'),
		url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/75a444030389ee5c90ee23c7fde3f618.woff') format('woff'),
		url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/5ea4412a38bf286c8f67fa8386b32d61.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/95ed8e52096a72758fc957c91c4561a7.eot');
	src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/95ed8e52096a72758fc957c91c4561a7.eot?#iefix') format('embedded-opentype'),
		url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/eaa790e041ed8fe8c1f51299eea69d9d.woff2') format('woff2'),
		url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/e173d29c2fd6c461477920b87a2dacfb.woff') format('woff'),
		url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/4b82a8f83af63b5e2e7ad41b7488d5be.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/9c975cc1696bd20420c7e6db2e19639e.eot');
	src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/9c975cc1696bd20420c7e6db2e19639e.eot?#iefix') format('embedded-opentype'),
		url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/41cf83fcb0ecbe2f44f7000193a8a81b.woff2') format('woff2'),
		url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/01df7e8c5e27042e9363d755c876ec07.woff') format('woff'),
		url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/1731022c0a614a603e62f24762bfc291.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
.muller {
    font-family: 'Muller', sans-serif;
}