@font-face {
    font-family: 'trebuchet_own';
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/39ebce9b6ea2d150a7e9a33a1e42e4b1.eot');
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/39ebce9b6ea2d150a7e9a33a1e42e4b1.eot?#iefix') format('embedded-opentype'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/10dad925b538ef3f7c54cd2b19055c94.woff') format('woff'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/d4e6f4451e600c732e41d992c488fc0f.ttf') format('truetype'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/b359170dce2821f3c3cdad4eb5678b4a.svg#trebuchet_msregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'trebuchet_own';
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/8901b30ffcf455cba4a1abad2acba2a4.eot');
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/8901b30ffcf455cba4a1abad2acba2a4.eot?#iefix') format('embedded-opentype'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/29be76fdc11c2e513e9690cb782c7cc6.woff') format('woff'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/1480d08ba3c1ffd1e006e068bd11493e.ttf') format('truetype'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/1690612637b90c0c3e8e787f06494162.svg#trebuchet_msbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
.trebuchet(@fontSize) {
	font-family: 'trebuchet_own', helvetica, sans-serif;
	font-size: @fontSize;
}
.trebuchet() {
	font-family: 'trebuchet_own', helvetica, sans-serif;
}