<div class="bn_wrap" data-ng-show="global.auth">
    <div class="top_main">
        <!--<div class="top_menu"></div>-->
        <div class="top_text_main">
            <div class="top_text_white_bg">
                <h2>Бонусная программа МТТ</h2>
					<span>Участвуйте в бонусной программе, подключая наши услуги, выполняя простые задания<br>
и накапаливая за это баллы, которые можно обменять на подарки от нас и наших партнеров.</span>
                <a href="#">Подробнее</a>
            </div>
            <div class="top_text_purp_bg">
                <div class="top_text_item">
                    <div class="tt_icon">
                        <img src="dist/img/icon_top1.png" alt="">
                    </div>
                    <span>Подключайте услуги</span>
                </div>
                <div class="top_text_item">
                    <div class="tt_icon">
                        <img src="dist/img/icon_top2.png" alt="">
                    </div>
                    <span>Копите баллы</span>
                </div>
                <div class="top_text_item">
                    <div class="tt_icon">
                        <img src="dist/img/icon_top3.png" alt="">
                    </div>
                    <span>Выбирайте подарки</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bns_overlay_iner bns_overlay_iner_tr_bg bns_about_page">
        <div class="b_about">
            <a href="#" class="b_about1"><img src="dist/img/icon_how1.png" alt="">
					<span>Как получить<br>
					карту</span></a>
            <a href="#" class="b_about2"><img src="dist/img/icon_how2.png" alt="">
					<span>Какие бывают<br>
					бонусы</span></a>
            <a href="#" class="b_about3"><img src="dist/img/icon_how3.png" alt="">
					<span>Как бонусы<br>
					начисляются</span></a>
            <a href="#" class="b_about4"><img src="dist/img/icon_how4.png" alt="">
					<span>На что тратить<br>
					бонусы</span></a>
        </div>
        <div class="b_about_main  cycle-slideshow"
             data-cycle-fx="fade"
             data-cycle-timeout="0"
             data-cycle-slides="> .b_about_item"
             data-cycle-pager=".b_about"
             data-cycle-pager-template="">
            <a href="#" class="bns_about_close">Закрыть</a>
            <div class="b_about_item">
                <h3>Как получить
                    карту</h3>
										<span>При совершении покупки с погашением части суммы бонусами, происходит списание  бонусов по следующим условиям:<br>
• Списание бонусов допускается только на товар без скидки за исключением специальных предложений и акций<br>
• Списание бонусов производится с конечной суммы после вычета всех скидок по акциям;<br>
• Всеми видами бонусов можно оплатить не более 20% от стоимости покупки после вычета всех скидок по акциям; <br>
• Бонусы могут быть аннулированы за товар, на который оформлен возврат<br>
• Списание бонусов может быть в счет получения подарка на кассе магазина Respect</span>
            </div>
            <div class="b_about_item">
                <h3>Какие бывают
                    бонусы</h3>
										<span>При совершении покупки с погашением части суммы бонусами, происходит списание  бонусов по следующим условиям:<br>
• Списание бонусов допускается только на товар без скидки за исключением специальных предложений и акций<br>
• Списание бонусов производится с конечной суммы после вычета всех скидок по акциям;<br>
• Всеми видами бонусов можно оплатить не более 20% от стоимости покупки после вычета всех скидок по акциям; <br>
• Бонусы могут быть аннулированы за товар, на который оформлен возврат<br>
• Списание бонусов может быть в счет получения подарка на кассе магазина Respect</span>
            </div>
            <div class="b_about_item">
                <h3>Как бонусы
                    начисляются</h3>
										<span>При совершении покупки с погашением части суммы бонусами, происходит списание  бонусов по следующим условиям:<br>
• Списание бонусов допускается только на товар без скидки за исключением специальных предложений и акций<br>
• Списание бонусов производится с конечной суммы после вычета всех скидок по акциям;<br>
• Всеми видами бонусов можно оплатить не более 20% от стоимости покупки после вычета всех скидок по акциям; <br>
• Бонусы могут быть аннулированы за товар, на который оформлен возврат<br>
• Списание бонусов может быть в счет получения подарка на кассе магазина Respect</span>
            </div>
            <div class="b_about_item">
                <h3>На что тратить
                    бонусы</h3>
					<span>При совершении покупки с погашением части суммы бонусами, происходит списание  бонусов по следующим условиям:<br>
• Списание бонусов допускается только на товар без скидки за исключением специальных предложений и акций<br>
• Списание бонусов производится с конечной суммы после вычета всех скидок по акциям;<br>
• Всеми видами бонусов можно оплатить не более 20% от стоимости покупки после вычета всех скидок по акциям; <br>
• Бонусы могут быть аннулированы за товар, на который оформлен возврат<br>
• Списание бонусов может быть в счет получения подарка на кассе магазина Respect</span>
            </div>
        </div>
    </div>
    <div class="bon_profile_wrap" data-ng-cloak data-sailplay-profile>
        <div class="bon_profile_info">
            <div class="bon_profile_top">
                <div class="bon_profile_top_left">
                    <h3>Ваш профиль</h3>
                    <h4>Здесь отображается количество накопленных баллов и прогресс получения подарков</h4>
                </div>
                <div class="bon_profile_right">
                    <img data-ng-src="{{ (user().user.pic | sailplay_pic) || 'dist/img/prof_def.png'}}" alt="You">
                    <span data-ng-bind="user().user.name || 'Имя не указано'"></span>
                    <a href="#" data-ng-click="open_profile();$event.preventDefault();">Редактировать профиль</a>
                </div>
            </div>
            <div class="bon_profile_stat">
                <div class="bps_left">
                    <span data-ng-if="user().user_points.confirmed"
                          data-ng-bind="(user().user_points.confirmed | number)  + ' ' + (user().user_points.confirmed | sailplay_pluralize:'балл,балла,баллов')"></span>
                    <a href="#">История начислений</a>
                </div>
                <div class="bps_right">
                    <div class="progress_line_main">
                        <div class="progress_line_bg"></div>
                        <div class="progress_line" data-procent="0"
                             data-ng-style="{ width: setProgress(user().user_points.confirmed) + '%' }">
                            <div class="progress_text" data-ng-show="getOffsetToGift(user().user_points.confirmed)">
                                <span data-ng-bind="getOffsetToGift(user().user_points.confirmed) + ' ' + ((getOffsetToGift(user().user_points.confirmed) | sailplay_pluralize:'балл,балла,баллов')) + ' до подарка'"></span>
                            </div>
                        </div>
                        <div class="gift_item" data-ng-repeat="limit in limits track by $index"
                             data-ng-class="{act : limit <= user().user_points.confirmed }"
                             data-ng-style="{ left: progressGiftWidth($index, limits.length) + '%' }"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bon_news" data-ng-cloak data-sailplay-news>
            <h3>Новости</h3>
            <a href="#" class="bon_open_news">Все новости</a>
            <div class="bon_news_main">

                <div class="bon_news_item" data-ng-repeat="item in news() | limitTo:6">
                    <span class="data" data-ng-bind="item.date"></span>
                    <a data-ng-href="{{ item.link }}" data-ng-bind="item.title" target="_blank"></a>
                    <span class="text" data-ng-bind="item.text"></span>
                    <a data-ng-href="{{ item.link }}" class="news_more" target="_blank">Подробнее</a>
                </div>

                <a href="#" class="close_news"><span>Свернуть список новостей</span></a>
            </div>
        </div>
    </div>
    <div class="bon_choice_main" data-ng-cloak data-sailplay-gifts>
        <h3 class="bon_header">Выберите вознаграждение</h3>
        <h4 class="bon_sub_header">Вы моежете потратить накопленные баллы на подарки из разных категорий</h4>

        <div class="bon_choice_cat">

            <a href="#" data-ng-repeat="category in categories() | filter:notEmpty"
               data-slider-init=".bon_item_main"
               data-last="{{ $last }}">
                <span data-ng-bind="category.name"></span>
                <span data-ng-bind="category.count + ' ' + (category.count | sailplay_pluralize:'подарок,подарка,подарков') + ' в разделе'"></span>
                <img data-ng-src="dist/img/icon_ch{{ ($index + 1)}}.png" alt="{{ category.name }}">

            </a>

        </div>

        <div class="bon_item_main"
             data-cycle-fx="fade"
             data-cycle-timeout="0"
             data-cycle-slides="> .bon_slide_cat_item_wrap"
             data-cycle-pager=".bon_choice_cat"
             data-cycle-pager-template=""
        >

            <div class="bon_slide_cat_item_wrap"
                 data-ng-repeat="gifts_category in gifts_by_category | toArray:false | filter:hasGift"
                 data-ng-init="last_category = $last"

            >
                <div class="bon_slide_cat_item"
                     data-cycle-fx="carousel"
                     data-cycle-timeout="0"
                     data-cycle-slides="> .bon_item"
                     data-cycle-next=".arr_right{{ ($index + 1) }}"
                     data-cycle-prev=".arr_left{{ ($index + 1) }}"
                     data-allow-wrap=false
                     data-cycle-swipe=true

                >
                    <div class="bon_item"
                         data-ng-repeat="gift in gifts_category"
                         data-slider-init=".bon_slide_cat_item"
                         data-last="{{ last_category }}"
                    >
                        <div class="bon_item_iner">
                            <img data-ng-src="{{ gift.thumbs.url_250x250 | sailplay_pic }}" alt="">
                            <span class="bon_item_name" data-ng-bind="gift.name"></span>
                            <span class="bon_tem_info"
                                  data-ng-bind="(gift.points | number) + ' ' + (gift.points | sailplay_pluralize:'балл,балла,баллов')"></span>
                            <a href="#"
                               data-ng-click="gift_purchase(gift);$event.preventDefault();"
                               data-ng-bind="user().user_points.confirmed >= gift.points ? 'Получить' : 'Недостаточно баллов'"></a>
                        </div>
                    </div>

                </div>
                <a href="#" onclick="return false;" class="arr_left arr_left{{ ($index + 1) }}"></a>
                <a href="#" onclick="return false;" class="arr_right arr_right{{ ($index + 1) }}"></a>

            </div>

        </div>
    </div>
    <div class="more_bonus" data-ng-cloak data-sailplay-actions>
        <h3 class="bon_header">Заработайте баллы</h3>
        <h4 class="bon_sub_header">Выполняя простые задания вы моежете получить дополнительные баллы</h4>
        <div class="more_bonus_main">

            <div class="mb_item" data-ng-repeat="action in actions().actions">
                <div class="mb_item_left">
                    <span data-ng-bind="action_data(action).name"></span>
                    <span data-ng-bind="(action.points | number) + ' ' + (action.points | sailplay_pluralize:'балл,балла,баллов')"></span>
                    <a data-sailplay-action data-action="action" class="without_bg" data-text="Получить">Получить</a>
                </div>
                <div class="mb_item_right">
                    <img data-ng-src="{{ action_data(action).pic }}" alt="">
                </div>
            </div>

            <div class="mb_item mb_item_prof" data-ng-if="!getExist(exist(),'Заполнил профиль')">
                <div class="mb_item_left">
                    <span>Заполнить профиль</span>
                    <span>150 баллов</span>
                    <a href="#">Получить</a>
                </div>
                <div class="mb_item_right">
                    <img src="dist/img/icon_prof.png" alt="">
                </div>
            </div>

            <div class="mb_item mb_item_prof_opr" data-ng-repeat="test in test_data() track by $index"
                 data-ng-if="test.rules ? !getExist(exist(), test.tag) && getExist(exist(), test.rules) : !getExist(exist(), test.tag)">
                <div class="mb_item_left">
                    <span data-ng-bind="test.name"></span>
                    <span data-ng-bind="(test.points | number) + ' ' + (test.points | sailplay_pluralize:'балл,балла,баллов')"></span>
                    <a href="#" data-ng-click="openTest(test);$event.preventDefault();">Получить</a>
                </div>
                <div class="mb_item_right">
                    <img src="dist/img/icon_opr.png" alt="">
                </div>
            </div>

            <div class="mb_popup mb_popup_op" data-ng-cloak data-sailplay-test>
                <div class="mb_popup_top">
                    <span>Пройти опрос<strong>{{ (current_test.points | number) + ' ' + (current_test.points |
                        sailplay_pluralize:'балл,балла,баллов') }}</strong></span>
                </div>
                <div class="mb_popup_main" data-ng-show="current_test">
                    <span class="numb_qust">Вопрос {{ step }} / {{ current_test.data.length }}</span>
                    <span class="qust" data-ng-bind="current_test.data[step - 1].label"></span>
                    <div class="answ_item" data-ng-repeat="item in current_test.data[step - 1].answers"
                         data-ng-switch="current_test.data[step - 1].type">

                        <input data-ng-switch-when="checkbox" type="checkbox"
                               name="{{ 'qust[' + (step - 1)  + '][]' }}"
                               id="qust_{{ (step - 1)+ '_' + $index }}" data-ng-value="item"
                               data-ng-model="item.model"
                               data-ng-change="on_change(item, item.model, 'checkbox')">

                        <input data-ng-switch-default type="radio" name="qust"
                               id="qust_{{ (step - 1)+ '_' + $index }}" data-ng-value="$index"
                               data-ng-model="current_test.model_for_radio"
                               data-ng-change="on_change(item, null, 'radio')">

                        <label for="qust_{{ (step - 1) + '_' + $index }}"
                               class="type_{{ current_test.data[step - 1].type || 'radio' }}"
                               data-ng-bind="item.label"></label>

                    </div>
                    <div class="answ_text">
                        <input type="text" placeholder="Напишите свой вариант тут" data-ng-if="writable"
                               data-ng-model="$parent.writable_model"/>
                        <input type="submit" value="Далее" data-ng-disabled="!isSelectable()"
                               data-ng-click="set_answer();">
                    </div>
                </div>
            </div>

            <div class="mb_popup mb_popup_prof">
                <div class="mb_popup_top">
                    <span>Заполнить профиль<strong>150 баллов</strong></span>
                </div>
                <div class="mb_popup_main mb_popup_main_mt">
                    <div class="edit_profile_input">
                        <label>Имя</label>
                        <input type="text" placeholder="Введите имя" data-ng-model="form.firstName">
                    </div>
                    <div class="edit_profile_input">
                        <label>Телефон</label>
                        <input type="text" placeholder="+7 (___) ___ - __ - __" data-ng-model="form.addPhone">
                    </div>
                    <div class="edit_profile_input">
                        <label>Фамилия</label>
                        <input type="text" placeholder="Введите фамилию" data-ng-model="form.lastName">
                    </div>
                    <div class="edit_profile_input">
                        <label>E-mail</label>
                        <input type="text" placeholder="Введите E-mail" data-ng-model="form.addEmail">
                    </div>
                    <div class="edit_profile_input">
                        <label>Отчество</label>
                        <input type="text" placeholder="Введите отчество" data-ng-model="form.middleName">
                    </div>
                    <div class="edit_profile_input">
                        <label>Адрес</label>
                        <input type="text" placeholder="Укажите адрес" data-ng-model="vars['Адрес']">
                    </div>
                    <div class="answ_text">
                        <input type="submit" value="Сохранить" data-ng-disabled="!isValid()"
                               data-ng-click="save_profile();">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Версия "О программе" в виде попапа -->
<div class="bns_overlay bns_overlay_about">
    <div class="bns_overlay_iner bns_overlay_iner_tr_bg">
        <div class="b_about">
            <a href="#" class="b_about1"><img src="dist/img/icon_how1.png" alt="">
					<span>Как получить
					карту</span></a>
            <a href="#" class="b_about2"><img src="dist/img/icon_how2.png" alt="">
					<span>Какие бывают
					бонусы</span></a>
            <a href="#" class="b_about3"><img src="dist/img/icon_how3.png" alt="">
					<span>Как бонусы
					начисляются</span></a>
            <a href="#" class="b_about4"><img src="dist/img/icon_how4.png" alt="">
					<span>На что тратить
					бонусы</span></a>
        </div>
        <a href="#" class="close_overlay"></a>
        <div class="b_about_main  cycle-slideshow"
             data-cycle-fx="fade"
             data-cycle-timeout="0"
             data-cycle-slides="> .b_about_item"
             data-cycle-pager=".b_about"
             data-cycle-pager-template="">
            <div class="b_about_item">
                <h3>Как получить
                    карту</h3>
										<span>При совершении покупки с погашением части суммы бонусами, происходит списание  бонусов по следующим условиям:<br>
• Списание бонусов допускается только на товар без скидки за исключением специальных предложений и акций<br>
• Списание бонусов производится с конечной суммы после вычета всех скидок по акциям;<br>
• Всеми видами бонусов можно оплатить не более 20% от стоимости покупки после вычета всех скидок по акциям; <br>
• Бонусы могут быть аннулированы за товар, на который оформлен возврат<br>
• Списание бонусов может быть в счет получения подарка на кассе магазина Respect</span>
            </div>
            <div class="b_about_item">
                <h3>Какие бывают
                    бонусы</h3>
										<span>При совершении покупки с погашением части суммы бонусами, происходит списание  бонусов по следующим условиям:<br>
• Списание бонусов допускается только на товар без скидки за исключением специальных предложений и акций<br>
• Списание бонусов производится с конечной суммы после вычета всех скидок по акциям;<br>
• Всеми видами бонусов можно оплатить не более 20% от стоимости покупки после вычета всех скидок по акциям; <br>
• Бонусы могут быть аннулированы за товар, на который оформлен возврат<br>
• Списание бонусов может быть в счет получения подарка на кассе магазина Respect</span>
            </div>
            <div class="b_about_item">
                <h3>Как бонусы
                    начисляются</h3>
										<span>При совершении покупки с погашением части суммы бонусами, происходит списание  бонусов по следующим условиям:<br>
• Списание бонусов допускается только на товар без скидки за исключением специальных предложений и акций<br>
• Списание бонусов производится с конечной суммы после вычета всех скидок по акциям;<br>
• Всеми видами бонусов можно оплатить не более 20% от стоимости покупки после вычета всех скидок по акциям; <br>
• Бонусы могут быть аннулированы за товар, на который оформлен возврат<br>
• Списание бонусов может быть в счет получения подарка на кассе магазина Respect</span>
            </div>
            <div class="b_about_item">
                <h3>На что тратить
                    бонусы</h3>
					<span>При совершении покупки с погашением части суммы бонусами, происходит списание  бонусов по следующим условиям:<br>
• Списание бонусов допускается только на товар без скидки за исключением специальных предложений и акций<br>
• Списание бонусов производится с конечной суммы после вычета всех скидок по акциям;<br>
• Всеми видами бонусов можно оплатить не более 20% от стоимости покупки после вычета всех скидок по акциям; <br>
• Бонусы могут быть аннулированы за товар, на который оформлен возврат<br>
• Списание бонусов может быть в счет получения подарка на кассе магазина Respect</span>
            </div>
        </div>
    </div>
</div>

<div class="bns_overlay bns_overlay_hist" data-sailplay-history data-ng-cloak>
    <div class="bns_overlay_iner">
        <table class="bns_hist_table">
            <a href="#" class="close_overlay"></a>
            <h3>Вся история<b>У вас {{ user().user_points.confirmed + ' ' + (user().user_points.confirmed |
                sailplay_pluralize:'балл,балла,баллов') }}</b></h3>
            <h4>Здесь показана история покупок, выполненных заданий, начисления баллов и полученных подарков</h4>
            <tbody>

            <tr data-dir-paginate="item in history() | itemsPerPage:10" data-pagination-id="history_pages">
                <td>
                    <span data-ng-bind="item.action_date | date:'d MM yyyy'"></span>
                </td>
                <td>
                    <span><b data-ng-bind="item | history_item"></b></span>
                </td>
                <td>
                    <span data-ng-if="item.points_delta"
                          data-ng-bind="((item.points_delta|number) || 0) + ' ' + (item.points_delta | sailplay_pluralize:'балл,балла,баллов')"></span>
                </td>
            </tr>

            </tbody>
        </table>

        <dir-pagination-controls data-max-size="7" data-pagination-id="history_pages"
                                 data-template-url="/html/ui/ui.pagination.controls.html"
                                 data-auto-hide="true"></dir-pagination-controls>

    </div>
</div>

<notifier></notifier>