.fb_share_btn, .gp_share_btn {
    font-family: Arial;
    box-sizing: border-box;
    height: 58px;
    line-height: 58px;
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    width: 100%;
    font-weight: bold;
    left: 0;
    top: 0;
    font-size: 26px;
    text-align: center;
    transition: all 300ms ease;
    display: inline-block;
    cursor: pointer;
}