/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
.sptb {
  /* HTML5 display-role reset for older browsers */
}
.sptb html,
.sptb body,
.sptb div,
.sptb span,
.sptb applet,
.sptb object,
.sptb iframe,
.sptb h1,
.sptb h2,
.sptb h3,
.sptb h4,
.sptb h5,
.sptb h6,
.sptb p,
.sptb blockquote,
.sptb pre,
.sptb a,
.sptb abbr,
.sptb acronym,
.sptb address,
.sptb big,
.sptb cite,
.sptb code,
.sptb del,
.sptb dfn,
.sptb em,
.sptb img,
.sptb ins,
.sptb kbd,
.sptb q,
.sptb s,
.sptb samp,
.sptb small,
.sptb strike,
.sptb strong,
.sptb sub,
.sptb sup,
.sptb tt,
.sptb var,
.sptb b,
.sptb u,
.sptb i,
.sptb center,
.sptb dl,
.sptb dt,
.sptb dd,
.sptb ol,
.sptb ul,
.sptb li,
.sptb fieldset,
.sptb form,
.sptb label,
.sptb legend,
.sptb table,
.sptb caption,
.sptb tbody,
.sptb tfoot,
.sptb thead,
.sptb tr,
.sptb th,
.sptb td,
.sptb article,
.sptb aside,
.sptb canvas,
.sptb details,
.sptb embed,
.sptb figure,
.sptb figcaption,
.sptb footer,
.sptb header,
.sptb hgroup,
.sptb menu,
.sptb nav,
.sptb output,
.sptb ruby,
.sptb section,
.sptb summary,
.sptb time,
.sptb mark,
.sptb audio,
.sptb video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.sptb article,
.sptb aside,
.sptb details,
.sptb figcaption,
.sptb figure,
.sptb footer,
.sptb header,
.sptb hgroup,
.sptb menu,
.sptb nav,
.sptb section {
  display: block;
}
.sptb body {
  line-height: 1;
}
.sptb ol,
.sptb ul {
  list-style: none;
}
.sptb blockquote,
.sptb q {
  quotes: none;
}
.sptb blockquote:before,
.sptb blockquote:after,
.sptb q:before,
.sptb q:after {
  content: '';
  content: none;
}
.sptb table {
  border-collapse: collapse;
  border-spacing: 0;
}
.sptb html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.sptb audio,
.sptb canvas,
.sptb progress,
.sptb video {
  display: inline-block;
  vertical-align: baseline;
}
.sptb audio:not([controls]) {
  display: none;
  height: 0;
}
.sptb [hidden],
.sptb template {
  display: none;
}
.sptb a {
  background-color: transparent;
}
.sptb a:active,
.sptb a:hover {
  outline: 0;
}
.sptb abbr[title] {
  border-bottom: 1px dotted;
}
.sptb b,
.sptb strong {
  font-weight: bold;
}
.sptb img {
  border: 0;
}
.sptb svg:not(:root) {
  overflow: hidden;
}
.sptb figure {
  margin: 1em 40px;
}
.sptb hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
.sptb pre {
  overflow: auto;
}
.sptb code,
.sptb kbd,
.sptb pre,
.sptb samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
.sptb button,
.sptb input,
.sptb optgroup,
.sptb select,
.sptb textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.sptb button {
  overflow: visible;
}
.sptb button,
.sptb select {
  text-transform: none;
}
.sptb button,
.sptb html input[type="button"],
.sptb input[type="reset"],
.sptb input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.sptb button[disabled],
.sptb html input[disabled] {
  cursor: default;
}
.sptb button::-moz-focus-inner,
.sptb input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.sptb input {
  line-height: normal;
}
.sptb input[type="checkbox"],
.sptb input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.sptb input[type="number"]::-webkit-inner-spin-button,
.sptb input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.sptb input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.sptb input[type="search"]::-webkit-search-cancel-button,
.sptb input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.sptb fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.sptb legend {
  border: 0;
  padding: 0;
}
.sptb textarea {
  overflow: auto;
}
.sptb optgroup {
  font-weight: bold;
}
.sptb table {
  border-collapse: collapse;
  border-spacing: 0;
}
.sptb td,
.sptb th {
  padding: 0;
}
.sptb .inline_block {
  display: inline-block !important;
}
.sptb .hidden,
.sptb .hidden.clearfix {
  display: none;
}
.sptb .text-center {
  text-align: center !important;
}
.sptb .text-left {
  text-align: left !important;
}
.sptb .text-right {
  text-align: right !important;
}
.sptb .pull-left {
  float: left;
}
.sptb .pull-right {
  float: right;
}
.sptb .clearfix {
  display: block;
  zoom: 1;
}
.sptb .clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.sptb .no-select {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}
.sptb .no-wrap {
  white-space: nowrap;
}
.sptb .italic {
  font-style: italic;
}
.sptb .row {
  width: 100%;
}
.sptb .sp-well {
  width: 100%;
  border: 2px dotted rgba(209, 225, 238, 0.7);
  background-color: #f3f7fa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sptb .bold {
  font-weight: 600 !important;
}
.sptb .ovh {
  overflow: hidden !important;
}
.sptb .ova {
  overflow: auto !important;
}
.sptb .p-abs {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.sptb .p-rel {
  position: relative !important;
}
.sptb .t-ellps {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.sptb .text-hide {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
  width: 600px;
  height: 400px;
  position: relative;
  direction: ltr;
}
.royalSlider > * {
  float: left;
}
.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0);
}
.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
  -webkit-backface-visibility: hidden;
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none;
}
.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0;
}
.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rsArrow,
.rsThumbsArrow {
  cursor: pointer;
}
.rsThumb {
  float: left;
  position: relative;
}
.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear;
}
.rsGCaption {
  width: 100%;
  float: left;
  text-align: center;
}
/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}
.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  display: none;
}
.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto;
}
.rsContent {
  width: 100%;
  height: 100%;
  position: relative;
}
.rsPreloader {
  position: absolute;
  z-index: 0;
}
.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}
.rsNavItem {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
}
.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22;
}
.rsTabs {
  float: left;
  background: none !important;
}
.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rsVideoContainer {
  /*left: 0;
    top: 0;
    position: absolute;*/
  /*width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative;
}
.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s;
}
.rsVideoFrameHolder.rsVideoActive {
  opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px;
}
.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15;
}
img.rsImg {
  max-width: none;
}
.rsNoDrag {
  cursor: auto;
}
.rsLink {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.sptb {
  font-size: 13px;
  line-height: 1.4;
  color: #454340;
  -webkit-text-size-adjust: 100%;
}
.sptb * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
::-webkit-input-placeholder {
  color: #333;
}
::-moz-placeholder {
  color: #333;
}
/* Firefox 19+ */
:-moz-placeholder {
  color: #333;
}
/* Firefox 18- */
:-ms-input-placeholder {
  color: #333;
}
.sptb .sptb-promo {
  position: relative;
  height: 240px;
  background-color: #ebebed;
}
.sptb .sptb-promo-img {
  position: absolute;
  top: 0;
  left: 100px;
  bottom: 0;
  width: 400px;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: contain;
  background-size: contain;
}
.sptb .sptb-promo-text {
  margin-left: 24%;
  color: #272223;
  text-align: center;
}
.sptb .sptb-promo-text .title {
  color: #272223;
  padding-top: 75px;
  font-size: 52px;
  line-height: 1;
  margin-bottom: 15px;
  font-family: 'Intro', Arial, sans-serif;
}
.sptb .sptb-promo-text .text {
  font-size: 20px;
  line-height: 24px;
  font-family: 'FuturisC', Arial, sans-serif;
}
@media screen and (max-width: 1400px) {
  .sptb .sptb-promo-img {
    left: 50px;
  }
  .sptb .sptb-promo-text .title {
    font-size: 45px;
    padding-top: 70px;
  }
  .sptb .sptb-promo-text .text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 1250px) {
  .sptb .sptb-promo-img {
    left: 0;
  }
  .sptb .sptb-promo-text .title {
    font-size: 35px;
    padding-top: 80px;
  }
  .sptb .sptb-promo-text .text {
    font-size: 14px;
    line-height: 18px;
  }
}
.sptb .sptb-row {
  margin-bottom: 10px;
  overflow: hidden;
}
.sptb .sptb-item {
  position: relative;
  float: left;
  width: 69%;
  height: 394px;
}
.sptb .sptb-item-small {
  width: 30%;
}
.sptb .sptb-rating-item:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.2);
}
.sptb .sptb-item-right {
  margin-right: 1%;
}
.sptb .sptb-item-orange {
  background: #272223;
}
.sptb .sptb-item-blue {
  background: #f0eff2;
}
.sptb .sptb-item-red {
  background: #272223;
}
.sptb .sptb-level-icon {
  position: relative;
  display: inline-block;
  width: 129px;
  height: 128px;
  background-size: 100% 100%;
}
.sptb .sptb-level-icon-count {
  position: absolute;
  right: -27px;
  top: -10px;
  display: block;
  width: 53px;
  height: 53px;
  border-radius: 53px;
  text-align: center;
  font-size: 19px;
  font-family: 'FuturisC', Arial, sans-serif;
  line-height: 54px;
  color: #ffffff;
  background-color: #93db7a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.sptb .sptb-level-outer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #272223;
}
.sptb .sptb-level {
  text-align: justify;
  margin: 0 2%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.sptb .sptb-level:after {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.sptb .sptb-level-item-arrow {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 142px;
  width: 21px;
  height: 25px;
}
.sptb .sptb-level-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  color: #ffffff;
  padding-top: 84px;
  text-align: center;
}
.sptb .sptb-level-item .sptb-level-icon {
  display: block;
  margin: 0 auto 33px;
}
.sptb .sptb-level-name {
  color: #ffffff;
  margin-bottom: 20px;
  font-family: 'Intro', Arial, sans-serif;
  font-size: 25px;
  line-height: 1;
}
.sptb .sptb-level-subname {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-family: 'FuturisC', Arial, sans-serif;
}
.sptb .sptb-list {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #272223;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.sptb .sptb-rating-list {
  max-height: 270px;
  overflow: hidden;
}
.sptb .sptb-rating-list::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}
.sptb .sptb-rating-list::-webkit-scrollbar-thumb {
  border-width: 0;
  border-radius: 6px;
  background-color: #effbd9;
}
.sptb .sptb-rating-list::-webkit-scrollbar-track {
  border-width: 0;
  background: #73b85c;
}
.sptb .sptb-rating-item {
  overflow: hidden;
  height: 45px;
  font-size: 20px;
  font-family: 'FuturisC', Arial, sans-serif;
  line-height: 45px;
  color: #ffffff;
}
.sptb .sptb-rating-name {
  float: left;
  padding-left: 4%;
  width: 36%;
}
.sptb .sptb-rating-name:after {
  content: '\a0';
}
.sptb .sptb-rating-date {
  float: left;
  width: 36%;
}
.sptb .sptb-rating-date:after {
  content: '\a0';
}
.sptb .sptb-rating-count {
  float: left;
  width: 20%;
  text-align: right;
  padding-left: 2%;
}
.sptb .sptb-rating-count:after {
  content: '\a0';
}
.sptb .sptb-rating-btn {
  position: absolute;
  left: 18px;
  right: 18px;
  bottom: 16px;
}
.sptb .sptb-rating-pager {
  margin-top: 13px;
  text-align: left;
  margin-left: 20px;
}
.sptb .sptb-rating-page-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff !important;
  text-decoration: none !important;
  background-color: rgba(255, 255, 255, 0.2);
}
.sptb .sptb-rating-page-item:hover {
  opacity: .9;
}
.sptb .sptb-rating-page-item.selected {
  color: #272223 !important;
  background-color: rgba(255, 255, 255, 0.9);
}
.sptb .sptb-detail-info {
  background-color: #272223;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
}
.sptb .sptb-info {
  margin-left: 8.4%;
  margin-right: 8.4%;
  padding-top: 50px;
  display: block;
  zoom: 1;
}
.sptb .sptb-info:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.sptb .sptb-info-text {
  overflow: hidden;
  padding-top: 23px;
}
.sptb .sptb-info-text .titles {
  font-family: 'FuturisC', Arial, sans-serif;
  font-size: 17px;
  line-height: 1;
  display: block;
  margin-bottom: 16px;
  color: #ffffff;
  letter-spacing: 2px;
}
.sptb .sptb-info-text .texts {
  font-family: 'Intro', Arial, sans-serif;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
}
.sptb .sptb-info-footer {
  display: block;
  zoom: 1;
  margin-left: 8.2%;
  margin-right: 9.2%;
  padding-top: 85px;
}
.sptb .sptb-info-footer:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.sptb .sptb-info-footer .sptb-info-btn {
  float: right;
  min-width: 140px;
  position: relative;
  top: 41px;
}
.sptb .sptb-info-count {
  color: #fccd58;
  line-height: 1;
}
.sptb .sptb-info-count .count {
  display: inline-block;
  color: #fccd58;
  font-size: 117px;
  font-family: 'Intro', Arial, sans-serif;
  line-height: 1;
  margin-right: 10px;
}
.sptb .sptb-info-count .count-text {
  display: inline-block;
  position: relative;
  color: #fccd58;
  font-size: 20px;
  font-family: 'FuturisC', Arial, sans-serif;
  line-height: 1;
}
.sptb .sptb-info-link {
  font-size: 20px;
  color: #ffffff !important;
  font-family: 'FuturisC', Arial, sans-serif;
  line-height: 23px;
  text-decoration: none !important;
  border-bottom: 1px solid #fff;
}
.sptb .sptb-info-link:hover {
  opacity: .9;
}
.sptb .sptb-info-popup {
  position: absolute;
  left: 66px;
  bottom: 47px;
  background-color: #ffffff;
  border-radius: 3px;
  width: 400px;
  height: 208px;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #222222;
  font-family: 'FuturisC', Arial, sans-serif;
  box-shadow: 0 35px 27px rgba(0, 0, 0, 0.23);
}
.sptb .sptb-info-popup:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -13px;
  width: 0;
  height: 0;
  border-top: 15px solid #fff;
  border-right: 20px solid transparent;
}
.sptb .sptb-info-popup .sptb-info-popup-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
}
.sptb .sptb-info-popup-text {
  padding: 73px 31px 0;
}
.sptb .sptb-level-con {
  padding-top: 81px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sptb .sptb-level-img-small {
  display: block;
  margin: 0 auto 25px;
  text-align: center;
}
.sptb .sptb-level-title {
  margin-bottom: 12px;
  font-size: 20px;
  font-family: 'FuturisC', Arial, sans-serif;
  text-align: center;
  color: #ffffff;
}
.sptb .sptb-btn {
  display: inline-block;
  height: 44px;
  font-size: 14px;
  color: #ffffff !important;
  text-transform: uppercase;
  font-family: 'Intro', Arial, sans-serif;
  text-decoration: none !important;
  border-radius: 8px;
  border: 2px solid #ffffff;
  line-height: 48px;
  text-align: center;
  padding: 0 15px;
}
.sptb .sptb-btn:hover {
  opacity: .8;
}
.sptb .sptb-level-btn {
  vertical-align: top;
  min-width: 177px;
}
.sptb .sptb-question {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 133px;
  text-align: center;
  background-color: #feeff2;
}
.sptb .sptb-question-title {
  color: #272223;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 8px;
  font-family: 'Intro', Arial, sans-serif;
  text-transform: uppercase;
}
.sptb .sptb-question-subtitle {
  padding: 0 30px;
  font-size: 20px;
  line-height: 24px;
  font-family: 'FuturisC', Arial, sans-serif;
  color: #272223;
  margin-bottom: 44px;
}
.sptb .sptb-question-back,
.sptb .sptb-question-more {
  vertical-align: top;
  margin: 0 4px;
  min-width: 176px;
  border-color: #272223;
  color: #272223 !important;
}
.sptb .sptb-question-more {
  border: 2px dashed #272223;
}
.sptb .sptb-item-task-con {
  padding-top: 165px;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 4;
}
.sptb .sptb-item-task-title {
  font-size: 35px;
  line-height: 1;
  padding-bottom: 14px;
  position: relative;
  color: #272223;
  text-transform: uppercase;
  font-family: 'Intro', Arial, sans-serif;
}
.sptb .sptb-item-task-subtitle {
  color: #272223;
  text-align: center;
  font-size: 17px;
  line-height: 19px;
  font-family: 'FuturisC', Arial, sans-serif;
}
.sptb .sptb-slider-item {
  -webkit-transforn: translateZ(0);
  transforn: translateZ(0);
}
.sptb .sptb-slider {
  position: relative;
  z-index: 4;
}
.sptb .sptb-last-con {
  padding-top: 148px;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 4;
}
.sptb .sptb-last-con .sptb-item-task-title,
.sptb .sptb-last-con .sptb-item-task-subtitle {
  color: #ffffff;
}
.sptb .sptb-last-question {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 133px;
  text-align: center;
}
.sptb .sptb-last-question .sptb-question-title,
.sptb .sptb-last-question .sptb-question-subtitle {
  color: #ffffff;
}
.sptb .sptb-last-question .sptb-question-back,
.sptb .sptb-last-question .sptb-question-more {
  color: #ffffff !important;
  border: 2px solid #ffffff;
}
.sptb .sptb-last-slider {
  z-index: 4;
  position: relative;
  padding-top: 101px;
  margin: 0 30px;
}
.sptb .sptb-last-slider .rsArrowLeft {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 21px solid transparent !important;
  border-left: none;
  border-right: 22px solid #ffffff;
  border-bottom: 21px solid transparent !important;
  left: -2%;
  top: 156px;
  opacity: 1;
  visibility: visible;
}
.sptb .sptb-last-slider .rsArrowRight {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 21px solid transparent !important;
  border-right: none;
  border-left: 22px solid #ffffff;
  border-bottom: 21px solid transparent !important;
  right: -2%;
  top: 156px;
  opacity: 1;
  visibility: visible;
}
.sptb .sptb-slider-item {
  text-align: justify;
  padding: 0 0 0 30px;
  max-width: 790px;
  margin: 0 auto;
}
.sptb .sptb-slider-item:after {
  content: '';
  display: inline-block;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}
.sptb .sptb-task-item {
  display: inline-block;
  vertical-align: top;
  width: 185px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.sptb .sptb-task-item:hover .sptb-task-name {
  opacity: .9;
}
.sptb .sptb-task-img {
  display: block;
  margin: 0 auto 29px;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background-color: #fecf59;
  position: relative;
}
.sptb .sptb-task-img:before {
  content: '';
  position: absolute;
}
.sptb .sptb-task-img-count {
  position: absolute;
  top: 0;
  left: -22px;
  width: 53px;
  height: 53px;
  text-align: center;
  border-radius: 53px;
  color: #272223;
  font-size: 19px;
  line-height: 57px;
  font-family: 'FuturisC', Arial, sans-serif;
  background-color: #fff;
}
.sptb .sptb-task-name {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Intro', Arial, sans-serif;
}
.sptb .sptb-last-detail {
  padding-top: 130px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #272223;
}
.sptb .rsOverflow {
  height: 275px !important;
}
@media screen and (max-width: 1430px) {
  .sptb .sptb-last-slider {
    margin: 0 5%;
  }
}
@media screen and (max-width: 1200px) {
  .sptb .sptb-last-slider {
    margin: 0 3%;
  }
}
@media screen and (max-width: 1100px) {
  .sptb .sptb-task-item {
    width: 160px;
  }
}
.sptb .sptb-gift {
  display: inline-block;
  vertical-align: top;
  width: 185px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.sptb .sptb-gift.type-complete .sptb-gift-svg {
  display: none;
}
.sptb .sptb-last-question {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #272223;
  padding-top: 133px;
  text-align: center;
}
.sptb .sptb-last-question .sptb-question-more {
  border: 2px solid #ffffff;
}
.sptb .sptb-slider {
  z-index: 4;
  position: relative;
  padding-top: 94px;
  margin: 0 30px;
}
.sptb .sptb-slider .rsArrowLeft {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 21px solid transparent !important;
  border-left: none;
  border-right: 22px solid #272223;
  border-bottom: 21px solid transparent !important;
  left: -2%;
  top: 156px;
  opacity: 1;
  visibility: visible;
}
.sptb .sptb-slider .rsArrowRight {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 21px solid transparent !important;
  border-right: none;
  border-left: 22px solid #272223;
  border-bottom: 21px solid transparent !important;
  right: -2%;
  top: 156px;
  opacity: 1;
  visibility: visible;
}
.sptb .sptb-history-slider {
  z-index: 4;
  position: relative;
  padding-top: 0;
  margin: 0 30px;
}
.sptb .sptb-history-slider .rsArrowLeft {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 21px solid transparent !important;
  border-left: none;
  border-right: 22px solid #ffffff;
  border-bottom: 21px solid transparent !important;
  left: -2%;
  top: 156px;
  opacity: 1;
  visibility: visible;
}
.sptb .sptb-history-slider .rsArrowRight {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 21px solid transparent !important;
  border-right: none;
  border-left: 22px solid #ffffff;
  border-bottom: 21px solid transparent !important;
  right: -2%;
  top: 156px;
  opacity: 1;
  visibility: visible;
}
.sptb .sptb-gift-icon {
  position: absolute;
  z-index: 2;
  right: 1px;
  width: 164px;
  height: 164px;
  border-radius: 164px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 85% 85%;
}
.sptb .sptb-gift-img {
  position: relative;
  width: 164px;
  height: 164px;
  display: block;
  margin: 0 auto 24px;
  border-radius: 164px;
  background-color: #fecf59;
  border: none;
}
.sptb .sptb-gift-svg {
  display: none !important;
}
.sptb .sptb-gift-count {
  position: absolute;
  top: 0;
  right: -1px;
  width: 53px;
  height: 53px;
  border-radius: 53px;
  text-align: center;
  font-size: 19px;
  line-height: 56px;
  color: #ffffff;
  font-family: 'FuturisC', Arial, sans-serif;
  font-weight: 300;
  background-color: #272223;
  z-index: 3;
}
.sptb .sptb-gift-title {
  color: #272223;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  font-family: 'Intro', Arial, sans-serif;
}
.sptb .sptb-gift-svg {
  position: absolute;
  left: -8px;
  top: -8px;
  -webkit-transform: rotate(47deg);
  -moz-transform: rotate(47deg);
  -ms-transform: rotate(47deg);
  -o-transform: rotate(47deg);
  transform: rotate(47deg);
}
.sptb .sptb-item-gift-detail {
  padding-top: 100px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: #f0eff2;
}
@media screen and (max-width: 1100px) {
  .sptb .sptb-slider .rsArrowLeft {
    left: -3%;
  }
  .sptb .sptb-slider .rsArrowRight {
    right: -3%;
  }
  .sptb .sptb-slider .sptb-slider-item {
    padding: 0 20px;
  }
}
.sptb .sptb-popup {
  position: fixed;
  width: 526px;
  min-height: 326px;
  left: 50%;
  top: 50%;
  margin-left: -263px;
  margin-top: -163px;
  border-radius: 5px;
  box-shadow: 0 35px 27px rgba(0, 0, 0, 0.23);
  z-index: 200;
  background-color: #fac833;
  text-align: center;
}
.sptb .sptb-popup-close {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 10px;
  top: 10px;
  background-repeat: no-repeat;
}
.sptb .sptb-popup-close:hover {
  opacity: .9;
}
.sptb .sptb-popup-title {
  font-size: 26px;
  color: #000000;
  line-height: 1;
  font-family: 'Intro', Arial, sans-serif;
  padding-top: 70px;
  padding-bottom: 30px;
}
.sptb .sptb-popup-title span {
  color: #ffffff;
}
.sptb .sptb-popup-subtitle {
  font-size: 14px;
  line-height: 1;
  font-family: 'FuturisC', Arial, sans-serif;
  margin-bottom: 24px;
}
.sptb .sptb-popup-sharing {
  margin-bottom: 36px;
}
.sptb .sptb-popup-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
  width: 36px;
  height: 36px;
}
.sptb .sptb-popup-item:hover {
  opacity: .7;
}
.sptb .sptb-popup-btn {
  border-color: #000000;
  color: #000000 !important;
  font-size: 11px;
  height: 39px;
  line-height: 43px;
  min-width: 193px;
}
.sptb .sptb-user {
  text-align: center;
}
.sptb .sptb-user-btn {
  font-size: 11px;
  line-height: 30px;
  height: 28px;
  color: #000000 !important;
  border-color: #000000;
}
.sptb .sptb-user-btn:hover {
  border-color: #ffc941 !important;
}
.sptb .sptb-user-name {
  font-family: 'Intro', Arial, sans-serif;
  font-size: 26px;
  line-height: 1;
  padding: 22px 0 10px;
}
.sptb .sptb-user-nav {
  text-align: center;
  font-family: 'FuturisC', Arial, sans-serif;
  padding-top: 16px;
}
.sptb .sptb-user-nav-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 27px;
  font-size: 14px;
  text-decoration: none !important;
  color: #000000 !important;
}
.sptb .sptb-user-nav-item:hover {
  opacity: .9;
}
.sptb .sptb-user-nav-item.selected {
  cursor: default !important;
  opacity: 1 !important;
  font-weight: bold;
}
.sptb-sum {
  margin: 15px 0 15px;
  font-size: 12px;
  font-family: 'Intro', Arial, sans-serif;
  text-align: center;
  color: #000000;
}
.sptb-sum span {
  font-family: 'FuturisC', Arial, sans-serif;
}
.sptb .sptb-list,
.sptb .sptb-level-outer {
  -webkit-transition: -webkit-transform 0.8s ease;
  -moz-transition: -moz-transform 0.8s ease;
  transition: transform .8s ease;
  -webkit-transform: translate(0, 394px);
  -moz-transform: translate(0, 394px);
  -ms-transform: translate(0, 394px);
  -o-transform: translate(0, 394px);
  transform: translate(0, 394px);
  visibility: visible;
  z-index: 5;
}
.sptb.sptb-state-show-list .sptb-list {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.sptb.sptb-state-show-badge .sptb-level-outer {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.sptb.sptb-state-show-badge .sptb-level-btn .show-list {
  display: inline;
}
.sptb.sptb-state-show-badge .sptb-level-btn .show-badge {
  display: none;
}
.sptb .sptb-question,
.sptb .sptb-item-gift-detail {
  -webkit-transition: -webkit-transform 0.8s ease;
  -moz-transition: -moz-transform 0.8s ease;
  transition: transform .8s ease;
  -webkit-transform: translate(0, 394px);
  -moz-transform: translate(0, 394px);
  -ms-transform: translate(0, 394px);
  -o-transform: translate(0, 394px);
  transform: translate(0, 394px);
  visibility: visible;
  z-index: 5;
}
.sptb.sptb-state-show-gift .sptb-question,
.sptb.sptb-state-show-gift .sptb-item-gift-detail {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.sptb .sptb-last-question,
.sptb .sptb-last-detail {
  -webkit-transition: -webkit-transform 0.8s ease;
  -moz-transition: -moz-transform 0.8s ease;
  transition: transform .8s ease;
  -webkit-transform: translate(0, 394px);
  -moz-transform: translate(0, 394px);
  -ms-transform: translate(0, 394px);
  -o-transform: translate(0, 394px);
  transform: translate(0, 394px);
  visibility: visible;
  z-index: 5;
}
.sptb.sptb-state-show-task .sptb-last-question,
.sptb.sptb-state-show-task .sptb-last-detail {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
