@block-bg: #071741;
@top-block-bg: #e1d5c3;
@white-bg: #fff;

@text-black: #000000;
@text-blue: #071741;
@text-white: #ffffff;
@text-green: #45a39a;

@btn-bg: #6c242b;
@btn-color: #ffffff;

@err-color: #fd2217;

@gray: #4d4847;

@ava-bg:#fff;