@font-face {
  font-family: 'Crimson';
  src: url('@{burlfonts}CrimsonText-Semibold.eot');
  src: url('@{burlfonts}CrimsonText-Semibold.eot?#iefix') format('embedded-opentype'),
  url('@{burlfonts}CrimsonText-Semibold.woff2') format('woff2'),
  url('@{burlfonts}CrimsonText-Semibold.woff') format('woff'),
  url('@{burlfonts}CrimsonText-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('@{burlfonts}CrimsonText-Bold.eot');
  src: url('@{burlfonts}CrimsonText-Bold.eot?#iefix') format('embedded-opentype'),
  url('@{burlfonts}CrimsonText-Bold.woff2') format('woff2'),
  url('@{burlfonts}CrimsonText-Bold.woff') format('woff'),
  url('@{burlfonts}CrimsonText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}






@font-face {
  font-family: 'Roboto Lt';
  src: url('@{burlfonts}Roboto-Light.eot');
  src: url('@{burlfonts}Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('@{burlfonts}Roboto-Light.woff2') format('woff2'),
  url('@{burlfonts}Roboto-Light.woff') format('woff'),
  url('@{burlfonts}Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('@{burlfonts}HelveticaNeueCyr-Thin.eot');
  src: url('@{burlfonts}HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
  url('@{burlfonts}HelveticaNeueCyr-Thin.woff2') format('woff2'),
  url('@{burlfonts}HelveticaNeueCyr-Thin.woff') format('woff'),
  url('@{burlfonts}HelveticaNeueCyr-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
