.bns_top_img {
  float: left;
  width: 100%;
  .bns_top_logo {
    float: left;
    width: 100%;
    text-align: center;
    padding: 30px 0;
  }
  .bns_top_text {
    float: left;
    width: 100%;
    height: 310px;
    background-image: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/bc1312058ff3c590405a00bdd140dd03.png');
    background-position: center center;
    h2 {
      float: left;
      width: 100%;
      text-align: center;
      color: @text-white;
      font-size: 37px;
      font-family: 'Crimson';
      font-weight: 600;
      line-height: 44px;
      margin-bottom:20px;
      margin-top: 27px;
      text-shadow: 0 1px 1px #000000;
    }
    .bns_top_text_icon {
      float: right;
      width: 385px;
      margin-right:16px;
      span {
        float: left;
        width: 100%;
        font-family: 'Crimson';
        font-weight: 600;
        text-align: left;
        box-sizing: border-box;
        line-height: 20px;
        color: @text-white;
        font-size: 15px;
        padding-left:33px;
        background-repeat:no-repeat;
        background-position: left center;
        margin-bottom:18px;
        &.btti1 {
          background-image:  url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/254c63315b72abec26ff30ca77b2ea6e.png');
        }
        &.btti2 {
          background-image:  url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/05ef91db21462809302e73cc04630abe.png');
        }
        &.btti3 {
          background-image:  url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/fd8a8b4970fc00c6df1c3f5576388766.png');
        }
      }
    }
  }
}
.bns_top {
  float: left;
  width: 100%;
  padding-top: 50px;
  position: relative;
  background-color: @white-bg;
  .bns_top_left {
    float: left;
    width: 58%;
    margin-left: 2%;
    background-color: @top-block-bg;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2);
    .bns_ava {
      float: left;
      width: 45%;
      text-align: center;
      .ava {
        width: 150px;
        height: 150px;
        border-radius: 150px;
        display: inline-block;
        margin-top:30px;
        overflow: hidden;
        border: 7px solid @ava-bg;
        img {
          width: 100%;
        }
      }
    }
    .bns_prof_info {
      float: left;
      width: 55%;
      .bns_name {
        float: left;
        width: 100%;
        text-align: left;
        color: @text-blue;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Crimson';
        margin-top: 27px;
        margin-bottom:10px;
      }
      .bns_email, .bns_phone {
        float: left;
        width: 100%;
        text-align: left;
        color: @text-blue;
        font-size: 20px;
        font-weight: 100;
        font-family: 'HelveticaNeueCyr';
      }
      .bns_phone {
        margin-bottom: 20px;
        margin-top:7px;
      }
      .bns_btn_open_prof {
        padding: 0 45px;
        margin-bottom: 20px;
      }
    }
  }
  .bns_top_right {
    float: right;
    width: 36%;
    margin-right: 2%;
    background-color: @top-block-bg;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2);
    text-align: center;
    .bns_num_point {
      float: left;
      width: 100%;
      text-align: center;
      color: @text-blue;
      font-size: 15px;
      font-family: 'Crimson';
      font-weight: bold;
      strong {
        font-size: 70px;
        font-weight: bold;
        font-family: 'Crimson';
        width: 100%;
        float: left;
        line-height: 70px;
        margin-top:38px;
      }
    }
    .bns_btn_opne_hist {
      width: 240px;
      margin-top:25px;
      margin-bottom:35px;
    }
  }
}