@font-face {
    font-family: 'Rockwell_MT';
    src: url('@{burlfonts}Rockwell MT.woff') format('woff'),
         url('@{burlfonts}Rockwell MT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}