.clearfix:after {
  display: table;
  clear: both;
  content: ''
}

.bns_inner_block {
  max-width: 1155px;
  width: 100%;
  margin:auto;
}
.bns_two_col {
  float: left;
  width: 100%;
  .bns_col_left {
    float: left;
    width: 763px;
    background-color: #fff;
    position: relative;
    margin-bottom: 35px;
  }
  .bns_col_right {
    float: right;
    width: 375px;
    background-color: #fff;
    position: relative;
    margin-bottom: 35px;
  }
  .bns_bot_linck {
    margin-left: -65px;
  }
}
.bns_block {
  float: left;
  width: 100%;
  background-color: #fff;
  position: relative;
}
.bns_top_head {
  position: absolute;
  left:20px;
  background-color: #f1f1f1;
  line-height: 27px;
  top:-14px;
  padding: 0px 24px;
  color: #000000;
  font-size: 17px;
  border-radius: 10px;
}
.bns_bot_linck {
  position: absolute;
  padding-left:15px;
  padding-right: 35px;
  line-height: 27px;
  bottom: -14px;
  color: #ef6747;
  font-size: 13px;
  left:50%;
  margin-left: -100px;
  border-radius: 27px;
  background-color:#f1f1f1;
  &:after {
    position: absolute;
    right: 15px;
    top: 0;
    width: 5px;
    display: block;
    content: '';
    height: 100%;
    background-image: url("https://sailplays3.cdnvideo.ru/media/assets/assetfile/f76bfebb653d205053e945255a10c3e0.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
}