
@media screen and (max-width: 1170px){

  .bns_line{
    background-color: #f1f1f1;
    text-align: center;
    min-width: 300px;
    height: auto;
    .bns_line_fil {
      display: none;
    }
    &:before {
      display: none;
    }
    .bns_line_item {
      position: relative;
      left: 0 !important;
      top: 0 !important;
      display: inline-block;
      margin: 20px 0px;
    }
  }
  .bns_inner_block {
    box-sizing: border-box;
    padding: 0px 15px;
  }
  .bns_top {
    text-align: center;
    .bns_top_center {
      margin-right: 0;
      float: right;
      width: 375px;
    }
    .bns_top_left {
      text-align: left;
    }
    .bns_top_right {
      float: none;
      display: inline-block;
      margin-top: 40px;
    }
  }

  .bns_game_day {
    .bns_game_day_left {
      width: ~"calc(100% - 155px)";
    }
  }

  .bns_two_col {
    .bns_col_left {
      width: 100%;
    }
    .bns_col_right {
      width: 100%;
    }
  }
   body {
     .bns_overlay {
       .bns_overlay_inner {
         width: 96% !important;
         padding: 30px;
         .bns_edit_col {
           width: 100%;
         }
       }
     }
   }
}

@media screen and (max-width: 930px){
  .bns_top {
    .bns_top_left {
      float: none;
      display: inline-block;
      margin-right: 0;
    }
    .bns_top_right {
      float: none;
      display: inline-block;
      margin-top: 40px;
    }
    .bns_top_center {
      float: none;
      display: inline-block;
    }
    .bns_top_right {
      width: 375px;
    }
  }

}

@media screen and (max-width: 794px){
    .bns_top_center {
      margin-top: 40px;
    }
}

@media screen and (max-width: 700px){
  .bns_overlay {
    .bns_overlay_inner {
      .bns_input_block.bns_input_block_int {
        input[type="checkbox"] + label {
          width: 100% !important;
        }
      }
      .nms_overlay_bottom  {
        .bns_btn {
          float: none !important;
          margin-bottom: 20px;
        }
      }
      .bns_over_about_main {
        .bns_over_about_item {
          margin-bottom: 30px;
          .bns_over_about_item_left {
            width: 100%;
            text-align: center;
          }
          .bns_over_about_item_right {
            width: 100%;
            text-align: center;
            margin-left: 0;
            .bns_over_about_item_right_name {
              margin-top: 15px;
            }
          }
        }
      }
    }
    .bns_qust_over {
      .bns_qust_over_bot {
        .bns_qust_over_b_nach {
          text-align: center;
          .bns_qust_over_b_nach_bal {
            margin-left: 0 !important;
          }
        }
      }
    }
    table {
      tr {
        td:nth-child(4), td:nth-child(2) {
          display: none;
        }
      }
    }
  }

}
@media screen and (max-width: 440px){
  .bns_gift_main {
    padding: 0px 30px;
  }
  .bns_game_day {
    .bns_game_day_left {
      width: 100%;
    }
    .bns_game_day_right {
      float: left;
      width: 100%;
    }
  }
  .bns_top {
    .bns_top_left {
      width: 100%;
      .bns_top_ava {
        width:115px;
        img {
          margin-bottom: 20px;
        }
      }
      .bns_top_prof_info {
        width: 155px;
      }
      .bns_top_prof_info_soc {
        width: 100%;
        float: left;
        margin-bottom: 20px;
        text-align: center;
        .bns_top_prof_info_soc_item {
          margin-right: 3px;
          margin-left: 3px;
          float: none;
        }
      }
    }
    .bns_top_center {
      width: 100%;
    }
    .bns_top_right {
      width: 100%;
    }
  }

}