.bns_inner_block {
    max-width: 1300px;
}

.bns_top_right {
    //width: 429px;
    border: 1px solid #E0E0E0;
    //height: 247px;
    height: 250px;
    box-sizing: border-box;
}

//.bns_line:before {
//    background-size: cover;
//}

//.bns_line .bns_line_item.bns_line_item1 {
//    left: 264px;
//    top: 27px;
//}
//
//.bns_line .bns_line_item.bns_line_item2 {
//    left: 722px;
//    top: 27px;
//}
//
//.bns_line .bns_line_item.bns_line_item3 {
//    left: 1086px;
//    top: 27px;
//}

.bns_line .bns_line_fil {
    height: 100%
}

.bns_line {
    height: 245px;
}

.b-polygon_hexagon2 {
    width: 89px;
}

.b-polygon_hexagon2 .b-polygon-part_content {
    width: 90px;
}

.bns_top .bns_top_left .bns_top_prof_info_soc {
    //width: 379px !important;
    width: 260px;
    margin-top: 30px;
    float: left;
    .bns_top_prof_info_soc_item {
        display: inline-block;
        margin-right: 23px;
    }
}

.bns_top .bns_top_left {
    margin-right: 0;
    padding-top: 12px;
    padding-bottom: 50px;
    //width: 554px;
    border: 1px solid #E0E0E0;
    border-right-color: transparent;

    height: 250px;
    box-sizing: border-box;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 25%;
        height: 50%;
        width: 1px;
        background: black;
        opacity: .07;
    }
}

.bns_top_head {
    left: 48px;
}

.bns_top_head_sm {
    text-decoration: underline !important;
}

.bns_top .bns_top_left .bns_top_prof_info .bns_top_prof_info_phone {
    color: #d3d2cd;
}

.bns_top .bns_top_left .bns_top_prof_info .bns_top_prof_info_email {
    color: #d3d2cd;
}

.history {
    top: -20%;
    //top: -25px;
    position: relative;
}

a.new_button, .new_button {
    border: 1px solid #EF6747;
    color: #EF6747;
    font-size: 19px;
    padding: 15px 47px;
    border-radius: 35px;
    cursor: pointer;
    text-decoration: none !important;

    &.type_filled {
     color: white;
     background: #EF6747;
    }

    &:hover {
      opacity: 0.8;
    }

}

.bns_top .bns_top_center {
    //width: 294px;
    //height: 248px;
    border: 1px solid #E0E0E0;
    border-left-color: transparent;

    height: 250px;
    box-sizing: border-box;
}

.bns_top .bns_top_center .bns_top_bal {
    font-size: 50px;
    line-height: 50px;
}

.bns_top .bns_top_left .bns_top_ava {
    position: relative;
}

.bns_top .bns_top_left .bns_top_ava:after {
    content: '...';
    display: block;
    cursor: pointer;
    position: absolute;
    background: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.39);
    font-size: 30px;
    color: #d3d2cd;
    border-radius: 50%;
    top: 39px;
    right: 30px;
    line-height: 8px;
    height: 24px;
    width: 24px;
}

.avatar_menu {
    position: absolute;
    top: 0px;
    left: 65px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: .2s visibility 0s, opacity .2s, transform .2s;    
    z-index: 30;

    &.show {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition: 0s visibility 0s, opacity .2s, transform .2s;
    }

    .bns_bot_linck {
        position: relative;
        display: inline-block;
        margin-left: 0;
        border-radius: 5px;
        background: white;
        color: #d3d2dc;
        border: 1px solid #d3d2dc;
        text-decoration: none;
        margin-bottom: 10px;
        text-align: center;
        padding: 0 15px;
        z-index: 1;
        &:after {
            display: none;
        }
        &:hover {
            color: #EF6747;
            border-color: #EF6747;
        }
    }
}

.bns_line .bns_line_item .bns_line_item_name {
    margin-top: 2px;
    font-size: 16px;
}

.bns_line_item_progress {
    opacity: .7;
    font-size: 14px;
    text-align: center;
    float: left;
    width: 100%;
}

.bns_line .bns_line_item .bns_line_item_til {
    font-size: 15px;
    width: 210px;
    margin-left: -105px;
}

.bns_two_col .bns_col_left {
    //width: 848px;
    border: 1px solid #E0E0E0 
}

.bns_two_col .bns_col_right {
    //width: 429px;
    border: 1px solid #E0E0E0    
}

.bns_quest_main .bns_quest_item {
    width: 240px;
    height: 135px;
    border: 1px solid rgba(0, 0, 0, .07);
    border-radius: 20px;
    margin: 0 auto;

    &:first-child {
    }

    a {
        right: 20px;
        width: 110px;
        left: auto;
        bottom: 20px;
        line-height: 37px;
    }
}
.bns_quest_main .bns_quest_item .bns_quest_item_img {
    //width: 87px;
    background: none;
    margin: 0;
    height: 100%;
    position: relative;
}

.bns_quest_main .bns_quest_item .bns_quest_item_img:after {
  content: '';
  height: 70%;
  background: #f1f1f1;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
}

.bns_quest_main .bns_quest_item .bns_quest_item_name {
    display: inline-block;
    float: none;
    //padding-left: 24px;
    //padding-right: 24px;
    //width: 150px;
    width: 39%;
    margin-left: 0;
    box-sizing: border-box;
    position: relative;
    top: 20px;
    text-align: left;
    vertical-align: top;
}

.bns_quest_main .bns_quest_item .bns_quest_item_bal {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    right: 0;
    //width: 130px;
    width: 51%;
}

.bns_quest_main {
    margin-bottom: 0;
}

.bns_wish_main .bns_wish_item {
    width: 100%;
    height: 175px;
    text-align: left;
}

.bns_wish_main .bns_wish_item .bns_wish_item_img {
    margin-left: 60px;
    width: 120px;
}

.bns_wish_main .bns_wish_item .bns_wish_item_name {
    width: 42%;
    height: 53px;
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
}

.bns_wish_main .bns_wish_item .bns_wish_item_name + a {
    line-height: 36px;
    margin-left: 10px;
}

.bns_wish_main {
    height: 250px;
    box-sizing: border-box;
    overflow: hidden;
}

.to_gradient {
    position: relative;
    overflow: hidden;
}
.to_gradient:after {
    content: '';
    background: url(https://sailplays3.cdnvideo.ru/media/assets/assetfile/4f6665ca892edcfbc788486bed5751bc.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
}

.bns_recom .bns_recom_item {
    width: 33%;
}

.bns_recom .bns_recom_item .bns_recom_item_img .bns_name {
    height: 62px;
    margin-top: 10px;
}

.bns_price_container {
    float: left;
    width: 100%;
    text-align: center;
}

.bns_recom_item .bns_price_container .price {
      display: inline-block;
      line-height: 36px;
      padding: 0px 11px 0px 27px;
      background-color: #ef6747;
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      border-radius: 21px;
      position: relative;
      text-decoration: none;
      margin-top: 13px;
      margin-bottom: 25px;
      &:before {
        content: '';
        width:13px;
        height: 100%;
        background-image: url("https://sailplays3.cdnvideo.ru/media/assets/assetfile/0512a0f28e2cbf973bf958d1b98d82e4.png");
        background-position: center center;
        background-repeat: no-repeat;
        left: 10px;
        top:0px;
        display: block;
        position: absolute;
      }
      .bns_old_price {
        border-radius:21px;
        background-color: #68a5b7;
        white-space: nowrap;
        top:0px;
        padding: 0px 10px;
        display: inline-block;
        margin-right: -11px;
        position: relative;
        &:before {
          width: 80%;
          height: 2px;
          background-color: #ef6747;
          content: '';
          left: 10%;
          top:50%;
          -moz-transform: rotate(-6deg);
          -webkit-transform: rotate(-6deg);
          -o-transform: rotate(-6deg);
          -ms-transform: rotate(-6deg);
          transform: rotate(-6deg);
          display: block;
          z-index:1;
          position: absolute;
        }
      }
    }

.bns_top_head.big {
    font-size: 30px;
    font-weight: 600;
    left: 0;
    padding: 0;
    top: 0;
}

.tablet {
    display: none
}

.mobile {
    display: none
}

.bns_edit_col {
    background: #e5e5e5;
    padding: 26px;

    &:nth-child(1) {
      padding-right: 13px;
    }

    &:nth-child(2) {
      padding-left: 13px;
    }

}