.bns_recom {
  float: left;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 30px;
  text-align: center;
  .bns_recom_item {
    width: 175px;
    text-align: center;
    display: inline-block;
    .bns_recom_item_img {
      float: left;
      width: 100%;
      text-decoration: none;
      span {
        float: left;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        padding: 0px 30px;
        color: #000000;
        font-size: 15px;
        height: 51px;
      }
    }
  }
}