.bns_recom {
  float: left;
  width: 100%;
  padding-top: 32px;
  padding-left: 30px;
  padding-right: 30px;
  //padding-bottom: 30px;
  text-align: center;
  box-sizing: border-box;
  .bns_recom_item {
    width: 175px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    .bns_recom_item_img {
      float: left;
      width: 100%;
      text-decoration: none;
      outline: none;
      img {
        display: inline-block;
      }
      .bns_name {
        float: left;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        padding: 0px 30px;
        color: #000000;
        font-size: 13px;
        height: 130px;

        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 0;
          height: 100%;
        }

        span {
          display: inline-block;
          vertical-align: middle;
        }

      }
    }
  }

  .slick-prev {
    outline: none;
    border: 0px;
    text-indent: -99999px;
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("https://sailplays3.cdnvideo.ru/media/assets/assetfile/0a63fd5169d85a2f7125e8b914d445ef.svg");
    background-position: center center;
    background-size: 25%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 2px;
    border-radius: 50%;
    background-color: white;
    background-repeat: no-repeat;
    left: -10px;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    transform: rotate(-180deg);
    z-index: 1;
    transition: box-shadow 0.3s linear;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 22px 3px;
    }

  }
  .slick-next {
    outline: none;
    border: 0px;
    text-indent: -99999px;
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("https://sailplays3.cdnvideo.ru/media/assets/assetfile/0a63fd5169d85a2f7125e8b914d445ef.svg");
    background-position: center center;
    background-size: 25%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 2px;
    border-radius: 50%;
    background-color: white;
    background-repeat: no-repeat;
    right: -10px;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    z-index: 1;
    transition: box-shadow 0.3s linear;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 22px 3px;
    }
  }
}