.bns_top {
  float: left;
  width: 100%;
  margin-top: 50px;
  .bns_top_left {
    position: relative;
    float: left;
    width: 375px;
    margin-right: 20px;
    background-color: #fff;
    .bns_top_ava {
      float: left;
      width: 145px;
      text-align: center;
      img {
        border-radius: 100%;
        margin-top: 39px;
        margin-bottom: 39px;
        max-width: 92px;
      }
    }
    .bns_top_prof_info {
      float: left;
      width: 185px;
      .bns_top_prof_info_name {
        float: left;
        width: 100%;
        color: #000000;
        font-size: 20px;
        margin-top: 38px;
      }
      .bns_top_prof_info_phone {
        float: left;
        width: 100%;
        color: #000000;
        font-size: 15px;
        margin-top: 6px;
      }
      .bns_top_prof_info_email {
        float: left;
        width: 100%;
        color: #000;
        font-size: 15px;
        margin-top: 6px;
      }
      .bns_log_out {
        float: left;
        width: 100%;
        color: #ef6747;
        font-size: 13px;
        margin-top: 9px;
      }
    }
    .bns_top_prof_info_soc {
      float: right;
      width: 44px;
      text-align: center;
      .bns_top_prof_info_soc_item {
        float: left;
        width: 40px;
        height: 40px;
        text-align: center;
        display: inline-block;
        border-radius: 40px;
        background-color: #cccccc;
        margin-top: 3px;
        text-decoration: none;
        &.act {
          background-color: #6a95c6;
        }
        &:before {
          height: 100%;
          content: '';
          display: inline-block;
          vertical-align: middle;
        }
        img {
          vertical-align: middle;
        }
      }
    }
  }
  .bns_top_center {
    float: left;
    width: 320px;
    margin-right: 20px;
    background-color: #fff;
    position: relative;
    text-align: center;
    height: 173px;
    .bns_top_head_sm {
      color: #ef6747;
      font-size: 13px;
      left: 50%;
      margin-left: -95px;
      text-decoration: none;
    }
    .bns_bot_linck {
      margin-left: -76px;
    }
    .bns_top_bal {
      float: left;
      width: 100%;
      text-align: center;
      color: #000000;
      font-size: 40px;
      font-weight: bold;
      line-height: 40px;
      margin-top: 50px;
      margin-bottom: 4px;
      &:after {
        content: '';
        display: inline-block;
        margin-left: 5px;
        width: 32px;
        height: 40px;
        background-image: url("https://sailplays3.cdnvideo.ru/media/assets/assetfile/ad7d80b69ad3d9bb2e25f275d0391a7c.png");
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        top: 4px;
      }
    }
    .bns_top_bal_np {
      float: left;
      width: 100%;
      text-align: center;
      color: #000;
      font-size: 13px;
      line-height: 18px;
      &:hover {
        & + .bns_tooltip {
          opacity: 1;
          transform: translate(0)
        }
      }
      &:after {
        content: '';
        display: inline-block;
        width: 16px;
        height: 18px;
        background-image: url("https://sailplays3.cdnvideo.ru/media/assets/assetfile/d22257c3e4296e5ae07b1b3baed38b8b.png");
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        top: 4px;
        margin-left: 5px;
      }
    }
  }
  .bns_top_right {
    float: right;
    width: 420px;
    background-color: #fff;
    position: relative;
    .empty_badges {
      box-sizing: border-box;
      text-align: center;
      height: 141px;
      padding-top: 60px;
    }
    .bns_bot_linck {
      margin-left: -61px;
    }
    .bns_top_achiv {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding: 0px 44px;
      margin-top: 50px;
      margin-bottom: 49px;
      .bns_top_achiv_item {
        width: 66px;
        height: 74px;
        background-image: url("https://sailplays3.cdnvideo.ru/media/assets/assetfile/a8462ce4b1618d8a348570443b4be82b.png");
        background-position: center center;
        background-repeat: no-repeat;
        text-align: center;
        display: inline-block;

        &:before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
        img {
          vertical-align: middle;
          max-width: 62%;
          max-height: 47%;
          display: inline-block;
        }
      }
      .slick-prev {
        border: 0px;
        background-color: transparent;
        text-indent: -99999px;
        width: 15px;
        height: 50px;
        position: absolute;
        background-image: url("https://sailplays3.cdnvideo.ru/media/assets/assetfile/8f8c516f2d7c0a07a0ec4e37dc88455c.png");
        left: 20px;
        top: 50%;
        margin-top: -25px;
        outline: none;
        cursor: pointer;
      }
      .slick-next {
        outline: none;
        border: 0px;
        background-color: transparent;
        text-indent: -99999px;
        width: 15px;
        height: 50px;
        position: absolute;
        background-image: url("https://sailplays3.cdnvideo.ru/media/assets/assetfile/b46be7c91b2036afb8660b47ced7a1fe.png");
        right: 20px;
        top: 50%;
        margin-top: -25px;
        cursor: pointer;
      }
    }
  }
}





















