.sp_common-btn {
	display: block;
	position: relative;

	background-color: @color1;
	height: 45px;

	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 43px;
	color: #fff;
	text-align: center;

	border-radius: 15px;
	cursor: pointer;
	&:hover {
		background-color: lighten(#2DACCC, 10%)
	}
	&:active {
		background-color: darken(#2DACCC, 3%)
	}
}

.sp_common-check {
	display: inline-block;
	position: relative;
	width: 15px;
	height: 15px;
	top: 1px;
	border: 1px solid @color-text-main;
	&.this-active {
		border-color: @color1;
		background: url("@{burl}checkbox-arrow.png") no-repeat center;
	}
}


