<div class="sailplay_wrapper" data-ng-show="global.loaded">

    <!--<div class="bns_overlay js_over_login" data-ng-if="!global.auth"-->
    <!--data-ng-style="{ display:  (!global.auth ? 'block' : 'none')}">-->
    <!--<div class="bns_overlay_inner oi_login">-->
    <!--<div class="oi_top">-->
    <!--<span class="bns_over_head">Вход</span>-->
    <!--</div>-->
    <!--<iframe frameborder="0" data-sp-auth="global.remote_login_options"></iframe>-->
    <!--</div>-->
    <!--</div>-->

    <div class="bns_overlay js_over_prof" data-ng-cloak data-sailplay-profile-edit
         data-ng-style="{ display:  (show ? 'block' : 'none')}">

        <div class="bns_overlay_inner fil_prof">

            <div class="oi_top">
                <span class="bns_over_head">Редактирование профиля</span>
            </div>

            <form novalidate name="profile">
                <!--<div class="bns_over_err_block act">-->
                <!--<span>Неверный E-mail</span>-->
                <!--<span>Неверный телефон</span>-->
                <!--</div>-->
                <div class="bns_input_block">
                    <label>Фамилия:</label>
                    <input type="text" data-ng-model="form.lastName" required>
                </div>
                <div class="bns_input_block ">
                    <label>Имя:</label>
                    <input type="text" data-ng-model="form.firstName" required>
                </div>
                <div class="bns_input_block ">
                    <label>E-mail:</label>
                    <input type="text" data-ng-model="form.addEmail" required>
                </div>
                <div class="bns_input_block ">
                    <label>Телефон:*</label>
                    <input type="text" data-ui-mask="+9 (999) 999-9999" data-ng-model="form.addPhone" required>
                </div>

                <div class="bns_input_block">
                    <span class="ib_label_text">Дата рождения</span>
                    <div style="width: 50%;display: inline-block;">
                        <date-picker data-model="form.birthDate"></date-picker>
                    </div>
                </div>

                <div class="bns_input_block ">
                    <label>Пол:</label>
                    <div class="bns_check">
                        <input type="radio" data-ng-model="form.sex" id="m" data-ng-value="1" name="gen" required>
                        <label for="m">Мужской</label>
                        <input type="radio" data-ng-model="form.sex" id="f" data-ng-value="2" name="gen" required>
                        <label for="f">Женский</label>
                    </div>
                </div>

                <div class="bns_input_block">
                    <a href="#" class="bns_btn bns_btn_left"
                       data-ng-click="$event.preventDefault();close();body_lock(false);">Отмена</a>
                    <a href="#" class="bns_btn bns_btn_right" data-ng-class="{'type-disabled' : profile.$invalid}"
                       data-ng-click="$event.preventDefault();save(profile);body_lock(false);">Сохранить</a>
                </div>

            </form>

        </div>

    </div>

    <div class="bns_overlay js_over_hist" data-ng-cloak data-sailplay-history
         data-ng-style="{ display:  (show ? 'block' : 'none')}">
        <div class="bns_overlay_inner oi_hist">
            <div class="oi_top">
                <span class="bns_over_head">История</span>
            </div>
            <span class="empty_history" data-ng-show="history && history() && !history().length">Пусто</span>
            <div class="hist_main" data-ng-if="history && history()">

                <div class="hist_item" data-dir-paginate="item in history() | filter:hasPoints | itemsPerPage:5"
                     data-pagination-id="history_pages">
                    <span class="hist_date" data-ng-bind="item.action_date | date:'dd.MM.yyyy'"></span>
                    <span class="hist_name">
                        <strong data-ng-bind="item | history_item"></strong>
                    </span>
                    <span data-ng-if="item.points_delta" class="hist_point"
                          data-ng-class="{
                          hist_point_not_completed: !item.is_completed,
                          hist_point_minus: item.points_delta < 0
                           }" data-ng-bind="(item.points_delta < 0 ? '' : '+ ') + (item.points_delta | number) + ' ' + (item.points_delta |
                            sailplay_pluralize:'балл,балла,баллов')"></span>
                </div>

                <dir-pagination-controls data-max-size="5" data-pagination-id="history_pages"
                                         data-template-url="/html/ui/ui.pagination.controls.html"
                                         data-auto-hide="true"></dir-pagination-controls>

            </div>
            <div class="bns_input_block">
                <a href="#" class="bns_btn bns_btn_center"
                   data-ng-click="$event.preventDefault();show = null;">Назад</a>
            </div>
        </div>
    </div>

    <div class="bns_inner_block" data-ng-if="global.auth">

        <div class="bns_top_img">
            <div class="bns_top_text">
                <h2>БОНУСНАЯ ПРОГРАММА</h2>
                <div class="bns_top_text_icon">
                    <span class="btti1">Выполняйте <br>задания</span>
                    <span class="btti2">Получайте <br>бонусы</span>
                    <span class="btti3">Оплачивайте <br> бонусами <br>(1 бонус = 1 руб.)</span>
                </div>
            </div>
        </div>

        <div class="bns_top" data-ng-cloak data-sailplay-profile data-ng-show="user && user()">
            <div class="bns_top_left">
                <div class="bns_ava">
                    <a href="#" class="ava" data-ng-click="$event.preventDefault();edit_profile();body_lock(true);">
                        <img data-ng-src="{{ user().user.pic | sailplay_pic }}" alt="user().user.name || 'Нет имени'">
                    </a>
                </div>
                <div class="bns_prof_info">
                    <div class="bns_name">
                        {{ user().user.name || 'Нет имени' }}
                        <!--<span class="saiplay_logout" data-ng-click="logout();">(Logout)</span>-->
                    </div>
                    <div class="bns_stat">
                        Статус: <strong
                            data-ng-bind="user().user_status && user().user_status.name ? user().user_status.name : 'Нет статуса'"></strong>
                    </div>
                    <div class="bns_phone"
                         data-ng-bind="user().user.phone && ('+' + (user().user.phone | tel)) || 'Телефона не указан'"></div>
                    <div class="bns_email" data-ng-bind="user().user.email || 'E-mail не указан'"></div>
                    <a href="#" class="bns_btn_open_prof"
                       data-ng-click="$event.preventDefault();edit_profile();body_lock(true);">Редактировать</a>
                </div>
            </div>
            <div class="bns_top_center">
                <div class="bns_point">
                    <span class="bns_p_num">
                        {{ user().user_points.confirmed | number }}
                        <span class="bns_p_next" data-ng-if="user().user_points.unconfirmed">+{{ user().user_points.unconfirmed | number }}</span>
                    </span>
                    <span class="bns_p_text"
                          data-ng-bind="user().user_points.confirmed | sailplay_pluralize:'балл,балла,баллов'"></span>
                </div>
                <a href="#" class="bns_btn bns_btn_opne_hist" data-ng-click="$event.preventDefault();show_history();">ИСТОРИЯ
                    ПОКУПОК</a>
            </div>
            <div class="bns_top_right">
                <img class="icon_stat_now" data-ng-src="{{ user().user_status.pic | sailplay_pic }}"
                     alt="{{ user().user_status.name || 'Нет статуса' }}">
            </div>
        </div>

        <div class="bns_line" data-ng-cloak data-sailplay-status>
            <div class="bns_line_left" data-ng-if=" badges && badges() && user && user()">
                <span data-ng-if="toNextStatus(user().purchases.sum)">До следющего статуса осталось <strong>{{(toNextStatus(user().purchases.sum) | number) + ' ' + ( toNextStatus(user().purchases.sum) | sailplay_pluralize:'рубль,рубля,рублей') }}</strong></span>
                <span data-ng-if="!toNextStatus(user().purchases.sum)">Вы совершили покупок на сумму <strong>{{(user().purchases.sum | number) + ' ' + ( user().purchases.sum | sailplay_pluralize:'рубль,рубля,рублей') }} </strong></span>
            </div>
            <div class="bns_line_right" data-ng-if="badges && badges() && user && user()">
                <div class="bns_line_main">
                    <div class="bns_line_fill" data-ng-style="{{ getProgress(user().purchases.sum) }}"></div>
                    <div class="bns_line_traf"></div>
                </div>
                <div class="bns_stst" data-ng-repeat="badge in $parent.badges().multilevel_badges[0]"
                     data-ng-style="{{ getStatusCss($index) }}"
                     data-ng-class="{act : badge.is_recieved }">
                <span>
                     <img data-ng-src="{{ (badge.is_received ? badge.thumbs.url_250x250 : badge.thumbs.url_gs) | sailplay_pic }}"
                          alt="{{ badge.name }}">
                    <span data-ng-bind="badge.name"></span>
                </span>
                </div>
            </div>
        </div>

        <div class="bns_gift" data-ng-cloak data-sailplay-gifts>

            <h2>ПОДАРКИ</h2>

            <div class="bns_gift_main">

                <div class="bns_gift_item" data-ng-repeat="gift in gifts()" data-gifts-slider>
                    <div class="bns_gift_item_img">
                        <img data-ng-src="{{ gift.thumbs.url_250x250 | sailplay_pic }}"
                             alt="{{ gift.name }}">
                    </div>
                    <span class="bns_gift_item_name" data-ng-bind="gift.name" titel="{{ gift.name }}"></span>
                    <span class="bns_gift_item_point"
                          data-ng-bind="(gift.points | number) + ' ' + (gift.points | sailplay_pluralize:'балл,балла,баллов')"></span>
                    <a href="#" class="bns_btn"
                       data-ng-class="{'type-disabled' : user().user_points.confirmed < gift.points}"
                       data-ng-click="$event.preventDefault();$parent.gift_open = gift;body_lock(true);">Получить</a>
                </div>

            </div>

            <div class="bns_overlay js_over_gift" data-ng-if="gift_open"
                 data-ng-style="{ display:  (gift_open ? 'block' : 'none')}">
                <div class="bns_overlay_inner oi_login">
                    <div class="oi_top">
                        <span class="bns_over_head">Вы уверены?</span>
                    </div>
                    <div class="sure_main">
                        <div class="bns_gift_item">
                            <div class="bns_gift_item_img">
                                <img data-ng-src="{{ $parent.gift_open.thumbs.url_250x250 | sailplay_pic }}"
                                     alt="{{ $parent.gift_open.name }}">
                            </div>
                        <span class="bns_gift_item_point"
                              data-ng-bind="($parent.gift_open.points | number) + ' ' + ($parent.gift_open.points | sailplay_pluralize:'балл,балла,баллов')"></span>
                            <span class="bns_gift_item_name" data-ng-bind="$parent.gift_open.name"></span>
                            <span class="bns_gift_item_descr" data-ng-bind="$parent.gift_open.descr"></span>
                        </div>
                    </div>
                    <div class="bns_input_block">
                        <a href="#" class="bns_btn bns_btn_left js_open_sucs"
                           data-ng-bind="user().user_points.confirmed < $parent.gift_open.points ? 'Недостаточно баллов' : 'Да'"
                           data-ng-class="{'type-disabled' : user().user_points.confirmed < $parent.gift_open.points}"
                           data-ng-click="$event.preventDefault();get_gift($parent.gift_open);"></a>
                        <a href="#" class="bns_btn bns_btn_right js_open_cansel"
                           data-ng-click="$event.preventDefault();$parent.gift_open = null;body_lock(false);">Нет</a>
                    </div>
                </div>
            </div>

            <div class="bns_overlay js_over_sucsess" data-ng-if="gift_success"
                 data-ng-style="{ display:  (gift_success ? 'block' : 'none')}">
                <div class="bns_overlay_inner oi_login">
                    <div class="oi_top">
                        <span class="bns_over_head">Готово</span>
                    </div>
                    <div class="sure_main">
                        <div class="bns_gift_item">
                            <div class="bns_gift_item_img">
                                <img data-ng-src="{{ $parent.gift_success.thumbs.url_250x250 | sailplay_pic }}"
                                     alt="{{ $parent.gift_success.name }}">
                            </div>
                        <span class="bns_gift_item_name">
                            Подарок добавлен в вашу корзину и будет доставлен со следующим заказом
                        </span>
                        </div>
                    </div>
                    <div class="bns_input_block">
                        <a href="#" class="bns_btn bns_btn_center"
                           data-ng-click="$parent.gift_open = null;$event.preventDefault();$parent.gift_success = null;body_lock(false);">Закрыть</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="bns_earn" data-ng-cloak data-sailplay-actions>

            <h2>ЗАДАНИЯ</h2>


            <div class="bns_earn_main">

                <div class="bns_earn_item" data-ng-repeat="action in actions().actions | filter:check_in_list">
                    <div class="bns_earn_item_left">
                        <img data-ng-src="{{ action_data(action).pic }}" alt="{{ action_data(action).name }}">
                    </div>
                    <div class="bns_earn_item_right">
                        <span class="bns_earn_name" data-ng-bind="action_data(action).name"></span>
                        <span class="bns_earn_point">
                            <strong data-ng-bind="(action.points | number) + ' '"></strong>
                            {{ action.points | sailplay_pluralize:'балл,балла,баллов' }}
                        </span>
                    </div>
                    <a href="#" class="bns_btn bns_earn_btn" data-sailplay-action
                       data-styles="{{ action_styles(action_data(action)) }}" data-action="action" data-text="Получить">Получить</a>
                </div>

                <div class="bns_earn_item" data-ng-repeat="action in custom_actions()">
                    <div class="bns_earn_item_left">
                        <img data-ng-src="{{ action.icon | sailplay_pic }}"
                             alt="{{ action.name }}">
                    </div>
                    <div class="bns_earn_item_right">
                        <span class="bns_earn_name" data-ng-bind="action.name"></span>
                        <span class="bns_earn_point">
                             <strong data-ng-bind="(action.points | number) + ' '"></strong>
                            {{ action.points | sailplay_pluralize:'балл,балла,баллов' }}
                        </span>
                    </div>
                    <a href="#" class="bns_btn bns_earn_btn"
                       data-ng-click="$event.preventDefault();$parent.open_custom = action;">
                        Получить
                    </a>
                </div>

            </div>

            <div class="bns_overlay custom" data-ng-if="open_custom"
                 data-ng-style="{ display:  ($parent.open_custom ? 'block' : 'none')}">
                <div class="bns_overlay_inner ">
                    <div class="oi_top">
                        <span class="oi_top__name" data-ng-bind="$parent.open_custom.name"></span>
                    </div>
                    <div class="bns_overlay_action_custom" data-sailplay-action-custom
                             data-action="$parent.open_custom"></div>
                    <div class="bns_input_block">
                        <a href="#" class="bns_btn bns_btn_center"
                           data-ng-click="$parent.open_custom = null;$event.preventDefault();body_lock(false);">Закрыть</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <notify-popup></notify-popup>

</div>
