@import "libs/mixins";


@font-face {
    font-family: 'Conv_pfdindisplaypro-bold';
    src: url('../sp-font/pfdindisplaypro-bold.eot');
    src: local('☺'), url('../sp-font/pfdindisplaypro-bold.woff') format('woff'), url('../sp-font/pfdindisplaypro-bold.ttf') format('truetype'), url('../sp-font/pfdindisplaypro-bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Conv_pfdindisplaypro';
    src: url('../sp-font/pfdindisplaypro-light.eot');
    src: local('☺'), url('../sp-font/pfdindisplaypro-light.woff') format('woff'), url('../sp-font/pfdindisplaypro-light.ttf') format('truetype'), url('../sp-font/pfdindisplaypro-light.svg') format('svg');
    font-weight: light;
    font-style: normal;
}


@font-face {
    font-family: 'Conv_pfdindisplaypro';
    src: url('../sp-font/pfdindisplaypro-thin.eot');
    src: local('☺'), url('../sp-font/pfdindisplaypro-thin.woff') format('woff'), url('../sp-font/pfdindisplaypro-thin.ttf') format('truetype'), url('../sp-font/pfdindisplaypro-thin.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}



// core
@import (reference) "libs/reset";

// core
@import "core/scaffolding";
@import "core/helpers";

@import "app/styles";
