<div class="bns_hist_pager" data-ng-if="1 < pages.length || !autoHide">

  <a data-ng-if="directionLinks" data-ng-class="{ disabled : pagination.current == 1 }" href="" data-ng-click="setCurrent(pagination.current - 1)">
    &lsaquo;
  </a>
  <a data-ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" data-ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }" href="" data-ng-click="setCurrent(pageNumber)">
    {{ pageNumber }}
  </a>

  <a data-ng-if="directionLinks" data-ng-class="{ disabled : pagination.current == pagination.last }" href="" data-ng-click="setCurrent(pagination.current + 1)">
    &rsaquo;
  </a>

</div>