<div class="sp_widget" data-ng-cloak>

		<a data-ng-href="{{ global.config.pages.main }}" class="sp_common-btn this-white sp_lk_back">Назад</a>

    <section class="sp_l-centered sp_gifts" data-ng-cloak data-sailplay-gifts>

        <h1 class="sp_gifts__head">ПОДАРКИ</h1>
        <div class="sp_gifts__title">Покупайте подарки за баллы</div>


        <div class="sp_gifts-items-wr">

            <div class="sp_giftitm__col" data-ng-repeat="gift in gifts()">
                <div class="sp_giftitm">
                    <div class="sp_giftitm__over">
                        <a href="#" class="sp_giftitm__btn"
                           data-ng-click="$event.preventDefault();make_purchase(gift);">Получить</a>
                    </div>
                    <div class="sp_giftitm__inner">
                        <div class="sp_giftitm__img"
                             style="background-image: url('{{ gift.thumbs.url_250x250 | sailplay_pic }}');"></div>
                        <div class="sp_giftitm__info" data-ng-bind="gift.name"></div>
                        <div class="sp_giftitm__price">
                            <span class="sp_giftitm__price-val" data-ng-bind="gift.points | number"></span>
                            {{ gift.points | sailplay_pluralize:'балл,баллы,баллов' }}
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /items wr -->

    </section>

    <notify-popup></notify-popup>

</div>