.wrapper.pof {
	body {
		background-color: @body-back;
		color: @color-text-main;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		line-height: 1.2;
		font-weight: normal;
		font-style: normal;
		//a {.alink(@color-link, @color-link-hover);}
		//fonts smooth in chrome
		-webkit-font-smoothing: subpixel-antialiased !important;
	}
	a, a:hover, a:focus {
		text-decoration: none;
		outline: none;
	}
	h1, h2, h3, h4, h5, h6, ul, ol, p {
		margin: 0;
		padding: 0;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}
	ul, ol {
		list-style: none;
	}
}
