.bns_adr_main {
  float: left;
  width: 100%;
  .bns_adr_item {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    label {
      width: 140px;
      line-height: 37px;
      color: @text-black;
      font-size: 15px;
      float: left;
    }
    span {
      float: left;
      line-height: 37px;
      font-weight: bold;
      color: @text-black;
      font-size: 15px;
    }
    input {
      width: 500px;
      padding: 0px 15px;
      height: 35px;
      font-size: 15px;
      font-weight: bold;
    }
  }
  .bns_input_block {
    padding-left: 0;
    & > label {
      font-size: 15px;
      width: 100%;
    }
  }
  .bns_btn {
    width: 190px;
    text-transform: uppercase;
    margin-top: 20px;
    line-height: 53px;
    height: 53px;
    font-size: 22px;
  }
}