@text-black: #1d1d1b;
@text-white: #ffffff;
@text-grey: #595954;
@text-point-grey: #bdbdbd;
@text-red: #e21934;

@bg-gray: #aaaaaa;
@bg-wh-gray: #f4f7f9;
@overlay-top: #222222;

@btn-bg: #e21933;
@btn-bg-grey: #8c7e80;
@btn-color: #ffffff;

@line-bg: #b1b1b1;
@line-fil: #e21933;

@err-bg-color: #fcf8e5;
@err-bord-color: #f2e8d8;
@gray: #4d4847;
@white-bg: #fff;







