@font-face {
  font-family: 'FuturaFuturisC';
  src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/bda4577a9243059f1551678b1e8faa23.eot');
  src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/bda4577a9243059f1551678b1e8faa23.eot?#iefix') format('embedded-opentype'),
  url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/f58310c04e652aeccbd94c4529c735e6.woff2') format('woff2'),
  url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/b7b810fa3824fe0b38a664aa779a7eb4.woff') format('woff'),
  url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/59ea48e746195e2f6ae44a6ded79a918.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}