@media screen and (max-width: 1140px){
  .bns_inner_block {
    width: 100%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    float: left;
    overflow: hidden;
    min-width: 320px;
  }
  .bns_gift {
    .bns_gift_main {
      .bns_gift_item {
        .bns_gift_item_name {
          padding: 0 20px;
        }
        .bns_gift_item_point {
          padding: 0 20px;
        }
      }
    }
  }
  .bns_top_img {
    .bns_top_text {
      margin-right: 30px;
    }
  }
  .bns_line {
    .bns_line_left {
      width: 100%;
      span {
        margin-top: 5px;
        margin-bottom:5px;
      }
    }
    height: auto;
    .bns_line_right {
      width: 100%;
      .bns_line_main {
        .bns_line_traf {
          -webkit-background-size:cover;
          background-size:cover;
          background-repeat: repeat;
        }
      }
    }
    .bns_line_left {
      span {
        margin-top: 28px;
        margin-bottom: 24px;
      }
    }

  }
}


@media screen and (max-width: 900px){
  .bns_top_img {
    .bns_top_text {
      width: 100%;
      margin-right: 0;
    }
  }
  .bns_top {
    .bns_top_left {
      margin-top: 0;
      width: 90%;
      margin-left: 5%;

    }
    .bns_top_center {
      width: 260px;
      border-right: 0;
    }
    .bns_top_right {
      width: 200px;
      margin-right: 5%;
      float: right;
      margin-top: 30px;
      img {
        margin-top: 20px;
      }
    }
  }
  .bns_top_img {
    .bns_top_text {
      height: auto;
      padding-bottom: 30px;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
}



@media screen and (max-width: 750px){
  .bns_top_menu {
    .bns_top_menu_left {
      border:0px;
      a {
        border: 1px solid #000;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 0px 15px;
      }
    }
  }
  .bns_gift {
    .bns_gift_main {
      padding: 40px 0px 35px;
      .slick-next, .slick-prev {
        display: none !important;
      }


    }
  }
  .bns_earn {
    h2 {
      font-size: 37px;
    }
  }
  .bns_input_block {
    padding: 0px 10px;
  }

  .bns_overlay {
    .bns_overlay_inner {
      width: 90% !important;
      .hist_main {
        padding: 0px 20px;
        .hist_item {
          .hist_name {
            padding-right: 0;
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px){
  .bns_adr_main {
    .bns_adr_item {
      label {
        width: 100%;
        line-height: 20px;
      }
      span {
        line-height: 20px;
      }
      input {
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px;
      }
    }

  }
  .bns_overlay {
    .bns_overlay_inner.oi_hist {
      .oi_top {
        height: auto;
        span.bns_over_head {
          font-size: 22px;
          letter-spacing: 0;
          line-height: 26px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
    .fil_prof {
      .bns_input_block {
        margin-bottom: 5px;
        label, .ib_label_text {
          width: 100%;
        }
        input[type="text"] {
          width: 100%;
        }
      }
    }
    .bns_over_err_block {
      margin-left: 10px;
      margin-right: 10px;
    }
    .bns_input_block .bns_btn_left, .bns_input_block .bns_btn_right {
      width: 46%;
    }
    .bns_overlay_inner {
      .oi_top {
        height: auto;
        span {
          line-height: 26px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
  .bns_top_img {
    .bns_top_text {
      .bns_top_text_icon {
        margin-right: 0;
        span {
          font-size: 12px;
        }
      }
    }
  }
  .bns_overlay {
    .bns_overlay_inner {
      .sure_main {
        .bns_gift_item {
          .bns_gift_item_name {
            padding: 0px;
          }
        }
      }
    }
  }
  .bns_top {
    .bns_top_left {
      .bns_ava {
        width: 100%;
      }
      .bns_prof_info {
        width: 100%;
        text-align: center;
        .bns_name {
          text-align: center;
        }
        .bns_email {
          text-align: center;
        }
        .bns_phone {
          text-align: center;
        }
      }
    }
    .bns_top_center {
      width: 100%;
    }
    .bns_top_right {
      width: 100%;
      margin-top: 0;
      margin-right: 0;
      img {
        margin-top: 0;
        margin-bottom: 30px;
      }
    }
  }
  .bns_line {
    .bns_line_right {
      .bns_stst {
        span {
          width: 27px;
          text-indent: -99999px;
          position: relative;
          img {
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
  .bns_earn {
    .bns_earn_main {
      .bns_earn_item {
        .bns_earn_item_right {
          padding-left: 18px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px){
  .bns_overlay {
    .bns_overlay_inner {
      .oi_top {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .bns_overlay.bns_overlay_page {
    .bns_overlay_inner {
      .bns_labal_big {
        width: 100%;
      }
      .bns_labal_big + input {
        float: left;
      }
    }
    .bns_input_block {
      .bns_btn_left, .bns_btn_right {
        width: 49%;
        margin-top: 20px;
      }
    }
  }
  .bns_top_img {
    .bns_top_logo {
      img {
        width: 100%;
      }
    }
    .bns_top_text {
      .bns_top_text_icon {
        width: 90%;
        margin-left: 5%;
      }
    }
  }
  .bns_earn {
    .bns_earn_main {
      width: 100%;
      margin-left: 0;
      .bns_earn_item {
        width: 100%;
        margin-left: 0;
        margin-right: 0px;
      }
    }
  }
  .bns_gift {
    .bns_gift_main {
      .bns_gift_item {
        .bns_gift_item_img {
          width: 100%;
          img {
            width: auto;
            height: 100%;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .bns_input_block {
    label, .ib_label_text {
      width: 100%;
    }
    input[type="text"] {
      width: 100%;
    }
    input[type="text"].inp_name {
      width: 44%;
    }
    .bns_err {
      position: relative;
      padding: 0;
      width: 100%;
      text-align: center;
      left: 0px;
      bottom: 0px;
      float: left;
      margin-bottom: 5px;
      margin-top: 10px;
    }
  }


}