<div data-sailplay-profile data-sailplay-history data-sailplay-badges style="margin: 14px;"
     data-ng-show="user()" data-ng-cloak>

    <div class="sp_widget">

        <section class="sp_l-centered sp_person-sec">
            <div class="sp_person-sec__col1">
                <div class="sp_person-sec__hd">Добро пожаловать</div>
                <div class="sp_person-sec__ttl">в клуб покупателей "Бронницкий ювелир"</div>
            </div>
            <div class="sp_person-sec__col2">
                <div class="sp_person-cell">
                    <div class="sp_person-cell__photo"
                         style="background-image: url('{{ user().user.pic | sailplay_pic }}');"></div>
                    <a href="#" class="sp_cmn-btn person-cell__btn js-open-profile-popup"
                       data-ng-click="$event.preventDefault();open_profile();">Изменить профиль</a>
                </div>
            </div>
            <div class="sp_person-sec__col3">
                <div class="sp_person-info">
                    <div class="sp_person-info__hd">Здравствуйте,</div>
                    <div class="sp_person-info__name">{{ user().user.name || 'Уважаемый покупатель' }}</div>
                    <div class="sp_person-info__cont">
                        <div data-ng-show="user().user.email">{{ user().user.email }}</div>
                        <div data-ng-show="user().user.phone">
                            {{ user().user.phone | tel }}
                            <div class="tooltip">
                                <span class="tooltip_icon">?</span>
                                <span class="tooltip_text">Телефон Вы можете изменить, отправив запрос на почту <a
                                        href="mailto:change@bronnitsy.info">change@bronnitsy.info</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="sp_person-info__status">
                        <div class="sp_person-info__stat-hd">Ваш статус: {{ user().user_status.name }}</div>
                        <div data-ng-if="get_next()">До статуса <b>{{ get_next().name }}</b> осталось {{
                            get_offset() }}
                            {{ get_offset() | sailplay_pluralize:'рубль,рубля,рублей' }}
                        </div>
                    </div>
                </div>
                <!--<a href="http://www.bronnitsy.com/delivery/" class="sp_person-sec__more">условия доставки</a>-->
            </div>
        </section>

        <section class="sp_l-centered sp_info-sec">
            <div class="sp_info-sec__l">
                <div class="sp_points-cell">
                    <div class="sp_points-cell__hd">Ваши баллы</div>
                    <div class="status-info-counter">
                        <div class="status-info-counter__val">{{ user().user_points.confirmed }}</div>
                        <div class="status-info-counter__remain">
                            +{{ user().user_points.unconfirmed }}
                            <div class="status-info-counter__popup">
                                Неподтвержденные баллы, которые начислятся после оплаты
                            </div>
                        </div>
                    </div>
                    <div class="sp_points-cell__ttl">{{ user().user_points.confirmed | sailplay_pluralize:'бонусный
                        балл,бонусных балла,бонусных баллов' }}
                    </div>
                    <a href="" data-ng-hide="hide_hist" data-ng-click="$event.preventDefault();show_history = true;"
                       class="sp_cmn-btn sp_cmn-btn_red sp_points-cell__btn js-open-history-popup">История
                        транзакций</a>
                </div>
            </div>
            <div class="sp_info-sec__r">
                <div class="sp_status-cell">
                    <div class="sp_status-cell__hd">Ваш статус:</div>
                    <div class="sp_status-cell__img"
                         style="background-image: url({{ user().user_status.pic || 'https://d3sailplay.cdnvideo.ru/media/assets/assetfile/e979ec44819f37ff84795afb2179a256.svg' }});"></div>
                    <div class="sp_status-cell__ttl">{{ user().user_status.name || 'Нет статуса' }}</div>
                    <a href="" class="sp_cmn-btn sp_cmn-btn_red sp_status-cell__btn js-open-status-popup"
                       data-ng-click="$event.preventDefault();show_statuses_list = true;">Список статусов</a>
                </div>
            </div>
        </section>

        <section class="sp_l-centered sp_progr-sec" data-ng-if="get_next()">
            <div class="sp_progr-sec__l">
                <div class="sp_progr-sec__txt">
                    До следющего статуса осталось <b>{{ get_offset() }} {{ get_offset() |
                    sailplay_pluralize:'рубль,рубля,рублей' }}</b>
                </div>
            </div>
            <div class="sp_progr-sec__r">

                <div class="sp_progr-cell">
                    <!-- в data-width указывается ширина бара отоснительно всей длинны -->
                    <div class="sp_progr-bar js-status-bar" data-width="90">
                        <div class="sp_progr-bar__inner">
                            <div class="sp_progr-bar__inner-bar this-inner1 js-status-bar__inner"
                                 data-ng-style="{ width: get_progress() + '%' }"></div>
                        </div>

                        <div class="sp_progr-bar__point this-point-{{ $index+1 }}"
                             data-ng-repeat="badge in badges().multilevel_badges[0]">
                            <div class="sp_progr-bar__point-img"
                                 style="background-image: url('{{ badge.thumbs.url_250x250 | sailplay_pic }}');"></div>
                            <div class="sp_progr-bar__point-name">{{ badge.name }}</div>
                        </div>
                    </div>
                </div>
                <!-- /sp_progr-cell -->
            </div>
        </section>

        <section class="sp_l-section sp_gift-sec" data-sailplay-gifts data-ng-cloak data-ng-controller="slick_config"
                 data-ng-init="selected_gift = false;">
            <div class="sp_cmn-sec-head">Подарки</div>
            <div class="sp_gift-slider js-gift-slider" data-ng-if="gifts && gifts() && gifts().length" data-slick-carousel data-options="$parent.gift_slider_config">
                <div data-ng-repeat="gift in $parent.gifts()" data-slick-slide>
                    <div class="sp_gift-slider__slide">
                        <div class="sp_gift-slider__img"
                             style="background-image: url('{{ gift.thumbs.url_250x250 | sailplay_pic }}');"></div>
                        <div class="sp_gift-slider__hd">{{ gift.name }}</div>
                        <div class="sp_gift-slider__ttl">{{ gift.descr }}</div>
                        <div class="sp_gift-slider__price">{{ gift.points }} {{ gift.points |
                            sailplay_pluralize:'балл,балла,баллов' }}
                        </div>
                        <button style="line-height: 36px;" type="button"
                                class="sp_cmn-btn-sm sp_gift-slider__btn js-open-gift-popup"
                                data-ng-click="$event.preventDefault();$parent.$parent.selected_gift = gift"
                                data-ng-disabled="gift.points > $parent.user().user_points.confirmed">Получить
                        </button>
                    </div>
                </div>

            </div>

            <div class="sp_overlay display_table" data-ng-show="selected_gift">
                <div class="display_table_cell" data-overlay-click="selected_gift = false;">
                    <div class="sp_gift-popup js-gift-popup">
                        <div class="sp_gift-popup__hd">{{ selected_gift.points }} бонусных баллов будут списаны с
                            вашего
                            счета
                        </div>
                        <div class="sp_gift-popup__img"
                             style="background-image: url('{{ selected_gift.thumbs.url_250x250 | sailplay_pic }}');"></div>
                        <div class="sp_gift-popup__ttl">Вы уверены?</div>
                        <div class="sp_gift-popup__btns">
                            <div class="sp_gift-popup__btn sp_cmn-btn-sm js-close-popup"
                                 data-ng-click="gift_purchase(selected_gift); selected_gift = false;">Да
                            </div>
                            <div class="sp_gift-popup__btn sp_cmn-btn-sm js-close-popup"
                                 data-ng-click="selected_gift = false;">Отмена
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </section>

        <section class="sp_task-sec-wrap" data-sailplay-actions data-ng-cloak>
            <div class="sp_l-section sp_task-sec" data-ng-controller="slick_config">
                <div class="sp_cmn-sec-head">Задания</div>

                <div class="sp_task-slider js-task-slider" data-ng-if="actions && actions()" data-slick-carousel data-options="action_slider_config">

                    <div data-slick-slide data-ng-show="show_profile_action">
                        <div class="sp_task-slider__slide">
                            <div class="sp_task-slider__ico"
                                 style="background-image: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/e979ec44819f37ff84795afb2179a256.svg');"></div>
                            <div class="sp_task-slider__hd">Заполнить профиль</div>
                            <div class="sp_task-slider__price">{{ 100 }} {{ 100 |
                                sailplay_pluralize:'балл,балла,баллов'
                                }}
                            </div>

                            <div class="sp_task-slider__cover">
                                <a class="sp_cmn-btn-sm sp_task-slider__btn"
                                   data-ng-click="$event.preventDefault();open_profile()">Выполнить</a>
                            </div>
                        </div>
                    </div>

                    <div data-ng-repeat="action in $parent.actions().actions" data-slick-slide>
                        <div class="sp_task-slider__slide">
                            <div class="sp_task-slider__ico"
                                 style="background-image: url({{ action_data(action).pic }});"></div>
                            <div class="sp_task-slider__hd">{{ action_data(action).name }}</div>
                            <div class="sp_task-slider__price">{{ action.points }} {{ action.points |
                                sailplay_pluralize:'балл,балла,баллов' }}
                            </div>

                            <div class="sp_task-slider__cover">
                                <span class="sp_cmn-btn-sm sp_task-slider__btn" data-sailplay-action
                                      data-action="action" data-text="Выполнить"
                                      data-styles="{{ config.social_styles || 'https://d3sailplay.cdnvideo.ru/media/assets/assetfile/e8f73ebedc5f336aa857674149750d3b.css' }}">Выполнить</span>
                            </div>
                        </div>
                    </div>

                    <div data-ng-repeat="action in $parent.actions_custom()" data-slick-slide>
                        <div class="sp_task-slider__slide">
                            <div class="sp_task-slider__ico"
                                 style="background-image: url({{ action_data(action).pic }});"></div>
                            <div class="sp_task-slider__hd">{{ action_data(action).name }}</div>
                            <div class="sp_task-slider__price">{{ action.points }} {{ action.points |
                                sailplay_pluralize:'балл,балла,баллов' }}
                            </div>

                            <div class="sp_task-slider__cover">
                                <span class="sp_cmn-btn-sm sp_task-slider__btn" data-sailplay-action
                                      data-action="action" data-text="Выполнить"
                                      data-styles="{{ config.social_styles || 'https://d3sailplay.cdnvideo.ru/media/assets/assetfile/e8f73ebedc5f336aa857674149750d3b.css' }}">Выполнить</span>
                            </div>
                        </div>
                    </div>                    

                </div>
            </div>
        </section>


    </div>
    <!-- /sp_widget -->
    <div class="sp_overlay display_table" data-ng-show="show_history">
        <div class="display_table_cell" data-overlay-click="show_history = false;">
            <div class="sp_hist-popup js-history-popup">
                <div class="sp_cmn-popup-close js-close-popup" data-ng-click="show_history = false;"></div>
                <div class="sp_hist-popup__hd">История транзакций</div>
                <div class="sp_hist-list">
                    <div class="sp_hist-list__itm" data-dir-paginate="item in history() | itemsPerPage:10"
                         data-pagination-id="history_pages" data-ng-class="{ 'this-dec': item.points_delta < 0 }">
                        <div class="sp_hist-list__val">{{ item.points_delta || 0 }} {{ item.points_delta |
                            sailplay_pluralize:'балл,балла,баллов' }}
                        </div>
                        {{ item | history_item }}
                    </div>
                </div>
                <!-- /list -->

                <dir-pagination-controls data-max-size="5" data-pagination-id="history_pages"
                                         data-template-url="/html/ui/ui.pagination.controls.html"
                                         data-auto-hide="true"></dir-pagination-controls>

            </div>
        </div>

    </div>
    <!-- /hist popup -->

    <div class="sp_overlay" data-ng-show="show_statuses_list">
        <div class="sp_stat-popup js-status-popup">
            <div class="sp_stat-popup__hd">Описание статусов</div>
            <div class="sp_stat-pop-itm" data-ng-repeat="badge in badges().multilevel_badges[0]">
                <div class="sp_stat-pop-itm__img"><img data-ng-src="{{ badge.thumbs.url_250x250 | sailplay_pic }}"
                                                       alt=""></div>
                <div class="sp_stat-pop-itm__text">
                    {{ badge.descr }}
                </div>
            </div>
            <div class="sp_stat-popup__btns">
                <div class="sp_stat-popup__btn sp_cmn-btn-sm js-close-popup"
                     data-ng-click="show_statuses_list = false;">ОК
                </div>
            </div>
        </div>

    </div>

    <div class="sp_overlay" data-ng-show="show_profile_info"
         data-overlay-click="show_profile_info = false;  body_lock(false)">
        <div class="sp_profile-popup js-profile-popup" data-fill-profile>
            <div class="sp_profile-popup__hd">Изменить профиль</div>

            <form class="sp_profile-form" name="fill_profile" novalidate
                  data-ng-submit="$event.preventDefault(); submit_profile(fill_profile, $parent.close_profile)">
                <div class="sp_profile-form__set">
                    <input type="email" name="email" class="sp_cmn-input" placeholder="Email"
                           data-ng-model="profile_form.user.addEmail"
                           data-ng-model-options="{ updateOn: 'default change blur' }" required>
                </div>
                <!--<div class="sp_profile-form__set">-->
                <!--<input type="text" name="phone" class="sp_cmn-input js-create-mask" data-phone-mask data-ng-model="profile_form.user.addPhone" maxlength="17" data-ng-model-options="{ updateOn: 'default change blur' }" required>-->
                <!--</div>-->
                <div class="sp_profile-form__set" data-ng-if="profile_form.user.birthDate">
                    <div class="sp_profile-form__ttl">Дата рождения</div>
                    <div class="sp_profile-form__dates" data-date-selector
                         data-ng-model="$parent.profile_form.user.birthDate">
                        <div class="sp_profile-form__dates-col">
                            <select name="birth_date" data-ng-model="selected_date[0]" data-selectize
                                    class="js-create-select sp_cmn-selectize">
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                        <div class="sp_profile-form__dates-col">
                            <select name="birth_date" data-ng-model="selected_date[1]" data-selectize
                                    class="js-create-select sp_cmn-selectize">
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>

                        </div>
                        <div class="sp_profile-form__dates-col">
                            <select name="birth_date" data-ng-model="selected_date[2]" data-selectize
                                    class="js-create-select sp_cmn-selectize">
                                <option value="1924">1924</option>
                                <option value="1925">1925</option>
                                <option value="1926">1926</option>
                                <option value="1927">1927</option>
                                <option value="1928">1928</option>
                                <option value="1929">1929</option>
                                <option value="1930">1930</option>
                                <option value="1931">1931</option>
                                <option value="1932">1932</option>
                                <option value="1933">1933</option>
                                <option value="1934">1934</option>
                                <option value="1935">1935</option>
                                <option value="1936">1936</option>
                                <option value="1937">1937</option>
                                <option value="1938">1938</option>
                                <option value="1939">1939</option>
                                <option value="1940">1940</option>
                                <option value="1941">1941</option>
                                <option value="1942">1942</option>
                                <option value="1943">1943</option>
                                <option value="1944">1944</option>
                                <option value="1945">1945</option>
                                <option value="1946">1946</option>
                                <option value="1947">1947</option>
                                <option value="1948">1948</option>
                                <option value="1949">1949</option>
                                <option value="1950">1950</option>
                                <option value="1951">1951</option>
                                <option value="1952">1952</option>
                                <option value="1953">1953</option>
                                <option value="1954">1954</option>
                                <option value="1955">1955</option>
                                <option value="1956">1956</option>
                                <option value="1957">1957</option>
                                <option value="1958">1958</option>
                                <option value="1959">1959</option>
                                <option value="1960">1960</option>
                                <option value="1961">1961</option>
                                <option value="1962">1962</option>
                                <option value="1963">1963</option>
                                <option value="1964">1964</option>
                                <option value="1965">1965</option>
                                <option value="1966">1966</option>
                                <option value="1967">1967</option>
                                <option value="1968">1968</option>
                                <option value="1969">1969</option>
                                <option value="1970">1970</option>
                                <option value="1971">1971</option>
                                <option value="1972">1972</option>
                                <option value="1973">1973</option>
                                <option value="1974">1974</option>
                                <option value="1975">1975</option>
                                <option value="1976">1976</option>
                                <option value="1977">1977</option>
                                <option value="1978">1978</option>
                                <option value="1979">1979</option>
                                <option value="1980">1980</option>
                                <option value="1981">1981</option>
                                <option value="1982">1982</option>
                                <option value="1983">1983</option>
                                <option value="1984">1984</option>
                                <option value="1985">1985</option>
                                <option value="1986">1986</option>
                                <option value="1987">1987</option>
                                <option value="1988">1988</option>
                                <option value="1989">1989</option>
                                <option value="1990">1990</option>
                                <option value="1991">1991</option>
                                <option value="1992">1992</option>
                                <option value="1993">1993</option>
                                <option value="1994">1994</option>
                                <option value="1995">1995</option>
                                <option value="1996">1996</option>
                                <option value="1997">1997</option>
                                <option value="1998">1998</option>
                                <option value="1999">1999</option>
                                <option value="2000">2000</option>
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="sp_profile-form__set">
                    <div class="sp_cmn-inline-param">
                        <label class="outer_label radio"
                               data-ng-class="{ checked: profile_form.custom_vars['В браке'] === 'да' }">
                            <input name="married" type="radio" class="js-create-radio" data-ng-value="'да'"
                                   required
                                   data-ng-model="profile_form.custom_vars['В браке']">

                            <span class="sp_cmn-label js-satellite">Замужем/женат</span>
                        </label>

                    </div>
                    <div class="sp_cmn-inline-param">
                        <label class="outer_label radio"
                               data-ng-class="{ checked: profile_form.custom_vars['В браке'] === 'нет' }">
                            <input name="married" type="radio" class="js-create-radio" data-ng-value="'нет'"
                                   required
                                   data-ng-model="profile_form.custom_vars['В браке']">

                            <span class="sp_cmn-label js-satellite">Не замужем/Холост</span>
                        </label>
                    </div>
                </div>
                <div class="sp_profile-form__set">
                    <input type="text" class="sp_cmn-input" placeholder="Имя супруга/супруги"
                           data-ng-model="profile_form.custom_vars['Имя супруга(и)']">
                </div>
                <div class="sp_profile-form__set" data-ng-if="profile_form.custom_vars['ДР супруга(и)']">
                    <div class="sp_profile-form__ttl">Дата рождения супруга/супруги</div>
                    <div class="sp_profile-form__dates" data-date-selector
                         data-ng-model="$parent.profile_form.custom_vars['ДР супруга(и)']">
                        <div class="sp_profile-form__dates-col">
                            <select name="married_date" data-ng-model="selected_date[0]" data-selectize
                                    class="js-create-select sp_cmn-selectize">
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                        <!-- /date-col -->
                        <div class="sp_profile-form__dates-col">
                            <select name="married_date" data-ng-model="selected_date[1]" data-selectize
                                    class="js-create-select sp_cmn-selectize">
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>

                        </div>
                        <!-- /date-col -->
                        <div class="sp_profile-form__dates-col">
                            <select name="married_date" data-ng-model="selected_date[2]" data-selectize
                                    class="js-create-select sp_cmn-selectize">
                                <option value="1924">1924</option>
                                <option value="1925">1925</option>
                                <option value="1926">1926</option>
                                <option value="1927">1927</option>
                                <option value="1928">1928</option>
                                <option value="1929">1929</option>
                                <option value="1930">1930</option>
                                <option value="1931">1931</option>
                                <option value="1932">1932</option>
                                <option value="1933">1933</option>
                                <option value="1934">1934</option>
                                <option value="1935">1935</option>
                                <option value="1936">1936</option>
                                <option value="1937">1937</option>
                                <option value="1938">1938</option>
                                <option value="1939">1939</option>
                                <option value="1940">1940</option>
                                <option value="1941">1941</option>
                                <option value="1942">1942</option>
                                <option value="1943">1943</option>
                                <option value="1944">1944</option>
                                <option value="1945">1945</option>
                                <option value="1946">1946</option>
                                <option value="1947">1947</option>
                                <option value="1948">1948</option>
                                <option value="1949">1949</option>
                                <option value="1950">1950</option>
                                <option value="1951">1951</option>
                                <option value="1952">1952</option>
                                <option value="1953">1953</option>
                                <option value="1954">1954</option>
                                <option value="1955">1955</option>
                                <option value="1956">1956</option>
                                <option value="1957">1957</option>
                                <option value="1958">1958</option>
                                <option value="1959">1959</option>
                                <option value="1960">1960</option>
                                <option value="1961">1961</option>
                                <option value="1962">1962</option>
                                <option value="1963">1963</option>
                                <option value="1964">1964</option>
                                <option value="1965">1965</option>
                                <option value="1966">1966</option>
                                <option value="1967">1967</option>
                                <option value="1968">1968</option>
                                <option value="1969">1969</option>
                                <option value="1970">1970</option>
                                <option value="1971">1971</option>
                                <option value="1972">1972</option>
                                <option value="1973">1973</option>
                                <option value="1974">1974</option>
                                <option value="1975">1975</option>
                                <option value="1976">1976</option>
                                <option value="1977">1977</option>
                                <option value="1978">1978</option>
                                <option value="1979">1979</option>
                                <option value="1980">1980</option>
                                <option value="1981">1981</option>
                                <option value="1982">1982</option>
                                <option value="1983">1983</option>
                                <option value="1984">1984</option>
                                <option value="1985">1985</option>
                                <option value="1986">1986</option>
                                <option value="1987">1987</option>
                                <option value="1988">1988</option>
                                <option value="1989">1989</option>
                                <option value="1990">1990</option>
                                <option value="1991">1991</option>
                                <option value="1992">1992</option>
                                <option value="1993">1993</option>
                                <option value="1994">1994</option>
                                <option value="1995">1995</option>
                                <option value="1996">1996</option>
                                <option value="1997">1997</option>
                                <option value="1998">1998</option>
                                <option value="1999">1999</option>
                                <option value="2000">2000</option>
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                            </select>
                        </div>
                        <!-- /date-col -->
                    </div>
                    <!-- /dates -->
                </div>
                <!-- /set -->
                <div class="sp_profile-form__set">
                    <div class="sp_cmn-inline-param">
                        <label class="outer_label checkbox"
                               data-ng-class="{ checked: profile_form.custom_vars['Дети'] === 'Да' }">
                            <input name="checkboxname" type="checkbox" class="js-create-checkbox"
                                   data-ng-model="profile_form.custom_vars['Дети']" data-ng-true-value="'Да'"
                                   data-ng-false-value="'Нет'">

                            <span class="sp_cmn-label js-satellite">Есть дети</span>
                        </label>
                    </div>
                </div>
                <div class="sp_profile-form__set">
                    <div class="sp_profile-form__ttl">Скрывать историю транзакции</div>
                    <div class="sp_cmn-inline-param">
                        <label class="outer_label radio"
                               data-ng-class="{ checked: profile_form.custom_vars.hide_hist === 'Да' }">
                            <input name="hide_hist" type="radio" class="js-create-radio" data-ng-value="'Да'"
                                   data-ng-model="profile_form.custom_vars.hide_hist">

                            <span class="sp_cmn-label js-satellite">Да</span>
                        </label>
                    </div>
                    <div class="sp_cmn-inline-param">
                        <label class="outer_label radio"
                               data-ng-class="{ checked: profile_form.custom_vars.hide_hist === 'Нет' }">
                            <input name="hide_hist" type="radio" class="js-create-radio" data-ng-value="'Нет'"
                                   data-ng-model="profile_form.custom_vars.hide_hist">

                            <span class="sp_cmn-label js-satellite">Нет</span>
                        </label>
                    </div>
                </div>
                <!-- /set -->

                <div class="sp_profile-form__btns">
                    <button type="submit" class="sp_cmn-btn-sm sp_profile-form__btn"
                            data-ng-disabled="!fill_profile.$valid">Отправить
                    </button>
                    <a href="#" class="sp_cmn-btn-sm sp_profile-form__btn js-close-popup"
                       data-ng-click="$event.preventDefault();$parent.show_profile_info = false; $parent.body_lock(false);">Отмена</a>
                </div>
            </form>
        </div>
    </div>
    <!-- /profile popup -->

    <notifier></notifier>

</div>

