.bns_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(119, 106, 197, 0.9);
  display: none;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 11111;
  overflow-y: auto;
  ::-webkit-input-placeholder {color:@gray;}
  ::-moz-placeholder          {color:@gray;}/* Firefox 19+ */
  :-moz-placeholder           {color:@gray;}/* Firefox 18- */
  :-ms-input-placeholder      {color:@gray;}
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .bns_overlay_inner {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
  }
  &__close {
    position: absolute;
    right: 25px;
    top: 37px;
    z-index: 10;
    width: 32px;
    height: 31px;
    background: url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/53b3b7227b2bc1691b69fcb3a654f4cd.png') no-repeat center;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    @media (max-width: @screen-md-max) {
    }
    @media (max-width: @screen-sm-max) {
    }
    @media (max-width: @screen-xs-max) {
      right: 20px;
      top: 20px;
    }
    @media (max-width: (@screen-xs-min - 1px)) {
    }
  }
}

.sp_status-popup {
  .sp-block-reset();
  position: relative;
  width: 1000px;
  max-width: 90%;

  //background-color: rgba(136,99,193,0.9);
  padding: 80px 0;
  @media (max-width: @screen-md-max) {
  }
  @media (max-width: @screen-sm-max) {
  }
  @media (max-width: @screen-xs-max) {
    padding: 40px 15px;
  }
  @media (max-width: (@screen-xs-min - 1px)) {
  }
  &__close {
    position: absolute;
    right: 25px;
    top: 37px;
    width: 32px;
    z-index: 10;
    height: 31px;
    background: url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/53b3b7227b2bc1691b69fcb3a654f4cd.png') no-repeat center;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    @media (max-width: @screen-md-max) {
    }
    @media (max-width: @screen-sm-max) {
    }
    @media (max-width: @screen-xs-max) {
      right: 20px;
      top: 20px;
    }
    @media (max-width: (@screen-xs-min - 1px)) {
    }
  }
  &__inner {
    max-width: 800px;
    margin: 0 auto;
    width: 90%;
    .clearfix();
  }
  &__col {
    float: left;
    width: 33.333%;
    padding-right: 20px;
    @media (max-width: @screen-md-max) {
    }
    @media (max-width: @screen-sm-max) {
    }
    @media (max-width: @screen-xs-max) {
      width: 100%;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media (max-width: (@screen-xs-min - 1px)) {
    }
  }
}
.sp_status-itm {
  //color: #C5B3E1;
  color: #fff;
  &.this-active {
    color: #fff;
  }
  @media (max-width: @screen-md-max) {
  }
  @media (max-width: @screen-sm-max) {
  }
  @media (max-width: @screen-xs-max) {
    text-align: center;

  }
  @media (max-width: (@screen-xs-min - 1px)) {
  }
  &__img {
    margin: 0 auto 20px;
    max-width: 210px;
    @media (max-width: @screen-md-max) {
    }
    @media (max-width: @screen-sm-max) {
    }
    @media (max-width: @screen-xs-max) {
      margin-bottom: 10px;
      max-width: 70px;
    }
    @media (max-width: (@screen-xs-min - 1px)) {
    }
    img {
      .img-soft-response();
      margin: 0 auto;
    }
  }
  &__hd {
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 20px;
    @media (max-width: @screen-md-max) {
    }
    @media (max-width: @screen-sm-max) {
    }
    @media (max-width: @screen-xs-max) {
      margin-bottom: 10px;
    }
    @media (max-width: (@screen-xs-min - 1px)) {
    }
  }
  &__ttl {
    font-size: 14px;
    line-height: 22px;
    padding-right: 30px;
    @media (max-width: @screen-md-max) {
    }
    @media (max-width: @screen-sm-max) {
    }
    @media (max-width: @screen-xs-max) {
      padding-right: 0;
    }
    @media (max-width: (@screen-xs-min - 1px)) {
    }
  }
}

.sp_hist-popup {
  .sp-block-reset();
  position: relative;
  width: 1000px;
  max-width: 90%;

  //background-color: rgba(119,106,197,0.9);
  padding: 80px 0;

  color: #fff;
  &__close {
    position: absolute;
    right: 25px;
    top: 37px;
    width: 32px;
    z-index: 10;
    height: 31px;
    background: url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/53b3b7227b2bc1691b69fcb3a654f4cd.png') no-repeat center;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    @media (max-width: @screen-md-max) {
    }
    @media (max-width: @screen-sm-max) {
    }
    @media (max-width: @screen-xs-max) {
      right: 20px;
      top: 20px;
    }
    @media (max-width: (@screen-xs-min - 1px)) {
    }
  }
  &__inner {
    max-width: 800px;
    margin: 0 auto;
    width: 90%;
    .clearfix();
  }
  &__hd {
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 20px;
  }
  &__ttl {
    font-size: 14px;
    line-height: 22px;

    margin-bottom: 25px;
  }
}

.sp_hist-popup-itm {
  .clearfix();
  border-top: 1px solid #9289BE;
  padding: 30px 0 30px;
  @width1: 20%;
  @width2: 60%;
  &__date {
    float: left;
    width: @width1;
    color: #BBB4E2;
    @media (max-width: @screen-md-max) {
    }
    @media (max-width: @screen-sm-max) {
    }
    @media (max-width: @screen-xs-max) {
      float: none;
      margin-bottom: 4px;
      width: auto;
    }
    @media (max-width: (@screen-xs-min - 1px)) {
    }
  }
  &__info {
    float: left;
    width: @width2;
    @media (max-width: @screen-md-max) {
    }
    @media (max-width: @screen-sm-max) {
    }
    @media (max-width: @screen-xs-max) {
      float: none;
      width: auto;
    }
    @media (max-width: (@screen-xs-min - 1px)) {
    }
  }
  &__count {
    float: right;
    width: 100% - @width1 - @width2;
    @media (max-width: @screen-md-max) {
    }
    @media (max-width: @screen-sm-max) {
    }
    @media (max-width: @screen-xs-max) {
      width: auto;
    }
    @media (max-width: (@screen-xs-min - 1px)) {
    }
  }
}

.sp_gift-popup {
  .sp-block-reset();
  width: 325px;
  max-width: 90%;
  background-color: #fff;
  border: 1px solid #FAE3F6;

  padding: 30px 40px;


  &__img {
    height: 235px;
    margin-bottom: 20px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__ttl {
    font-size: 15px;
    line-height: 22px;
    color: #808080;
    text-align: center;
    margin: 20px 0;
  }
  &__btn {
    width: 170px;
    margin: 0 auto;
  }
}

.sp_about-popup {
  .sp-block-reset();

  width: 430px;
  background-color: transparent;
  color: #fff;
  &__inner {
    padding: 30px;
  }
  &__head {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__txt {
    font-size: 14px;
    line-height: 1.3;
  }
}


.sp_custom_action-popup {
  .sp-block-reset();

  width: 100%;
  max-width: 760px;
  height: 100%;
  max-height: 500px;
  background-color: transparent;
  color: #fff;

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
  }

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

}

.sp_cmn-paginate {
  text-align: center;
  padding: 0 30px;
  &__inner {
    display: inline-block;
    position: relative;
  }
  &__itm {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    line-height: 1;
    padding: 0 4px 2px;

    .alink(#fff, #ccc);
    &:hover {
      color: #ccc !important;
    }
    &.this-active {
      cursor: default;
      color: #fff !important;
      border-bottom: 1px solid #fff;
      &:hover {
        color: #fff !important;
      }
    }
    &_delimeter {
      color: #fff !important;
      &:hover {
        color: #fff !important;
      }
    }
  }
  &__arrow {
    position: absolute;
    top: 30%;
    margin-top: -4px;
    color: #fff !important;
    &.this-left {
      left: -14px;
    }
    &.this-right {
      right: -14px;
    }
    opacity: .8;
    .alink(#fff, #ccc);
    &:hover {
      opacity: 1;
      color: #ccc !important;
    }
  }

}