@font-face {
    font-family: 'proxima_nova';
    src: url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/af3f982e7c4af53a4dc21743130b5037.eot');
    src: url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/af3f982e7c4af53a4dc21743130b5037.eot?#iefix') format('embedded-opentype'),
         url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/3008f4babca16b404c02da99edd18641.woff2') format('woff2'),
         url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/459864f32311bd258058d384976235c3.woff') format('woff'),
         url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/8045b027a66aaf3ea9d610b7f612dda7.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova';
    src: url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/12e3cf7418383b0c874c4b9d2604f62f.eot');
    src: url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/12e3cf7418383b0c874c4b9d2604f62f.eot?#iefix') format('embedded-opentype'),
         url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/ce6a5d96765eceae40196be950d25c77.woff2') format('woff2'),
         url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/4df339d5f9dfe56151441c8fecd8db8e.woff') format('woff'),
         url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/6302db2cb4bda537be70c7654f839c70.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.proxima() {
    font-family: 'proxima_nova', sans-serif;
}