.sp_intview {
	.sp-block-reset();
	margin-top: 50px;
	margin-bottom: 30px;

	&__head {
		font-size: 18px;
		line-height: 1;
		color: #000;
		.proxima-bold();
		font-weight: 700;
		text-transform: uppercase;

		margin-bottom: 4px;
	}

	&__title {
		font-size: 14px;
		.georgia();
		font-style: italic;
	}

	&__quest-wr {
		margin-top: 44px;
		margin-bottom: 30px;
	}
	&__quest {
		font-size: 18px;
		line-height: 1.43;
		margin-bottom: 25px;
	}

	&__textarea {
		height: 75px;
		max-width: 300px;
	}
}