@font-face {
    font-family: 'core_sans_a';
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/34a809daedd61c8f29981cc72517ef16.eot');
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/34a809daedd61c8f29981cc72517ef16.eot?#iefix') format('embedded-opentype'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/849205cfdef75543db212a16d5156259.woff2') format('woff2'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/c8b8c3f22348cdb9ec27bf137cb435f7.woff') format('woff'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/34a809daedd61c8f29981cc72517ef16.eot') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'core_sans_a';
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/8a8e5013d38e0a35a43680c84b7e406c.eot');
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/8a8e5013d38e0a35a43680c84b7e406c.eot?#iefix') format('embedded-opentype'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/ff8b9e4b0cc38a064d53e006c6baec75.woff2') format('woff2'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/bfebc56338d76e747b55d170eeae79a1.woff') format('woff'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/93560329ade1bcccd963009900c3e625.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'core_sans_a';
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/b93a6402edba7a053421219bb5f39380.eot');
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/b93a6402edba7a053421219bb5f39380.eot?#iefix') format('embedded-opentype'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/b1f293b45ff8d87bfb0b5f602a7229c9.woff2') format('woff2'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/6809073dc63588b13ed7215ba519efa7.woff') format('woff'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/459093eeb2593d1a417624e0f1d0e1e2.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}
.core-sans-a() {
    font-family: 'core_sans_a', sans-serif;
}