.for_mob {
	display: none;
}
.for_desc {
	display: block;
}
@media (max-width: 991px) {
	.sp_person-b {
		padding-top: 60px;
	}
	.sp_hist-list__head {
		position: absolute;
		top:0px;
		text-align: center;
		width: 94%;
	}
	.sp_lkhist-btn, .sp_lk_edit {
		margin: auto !important;
		width: 220px !important;
	}
	.sp_lk_edit {
		margin-top: 20px !important;
	}
}
@media (max-width: 767px) {
	.for_mob {
		display: block;
	}
	.for_desc {
		display: none;
	}
}