// basic url adress
@burl: "../image/";
@burlfonts: "../fonts/";

@import "fonts/proxima.less";
@import "modules/fonts-std.less";
@import "modules/fonts.less";

// bootstrap
@import "bootstrap/bootstrap.less";

// layout
@import "layout/layout.less";

// modules
@import "modules/variables.less";
@import "modules/mixins.less";

//pages
@import "pages/common.less";
@import "pages/forms.less";

@import "pages/profile-edit.less";
@import "pages/interview.less";
@import "pages/gifts.less";
@import "pages/history.less";
@import "pages/lk.less";

.back_to_main {
  width: 200px;
}

@media (max-width: @screen-md-max) {
}

@media (max-width: @screen-sm-max) {
}

@media (max-width: @screen-xs-max) {
}

@media (max-width: (@screen-xs-min - 1px)) {
}