.sp_l-section-wrap {
	position: relative;
	// min-width: 960px;
	&.this-crop {
		overflow: hidden;
	}
}
.sp_l-centered, .sp_l-section {
	position: relative;
	margin-right: auto;
	margin-left: auto;
    max-width: 1400px;
}
.sp_l-section {
	overflow: hidden;
}

