.sp_widget .v2 {
    .sp_progress-bar__point-label_image.img_type_1 {
        background-image: url(https://sailplays3.cdnvideo.ru/media/assets/assetfile/7783a1fe944a1d2da17b7fa6573e86e4.png)
    }

    .sp_progress-bar__point-label_image.img_type_2 {
        background-image: url(https://sailplays3.cdnvideo.ru/media/assets/assetfile/039f7c695334a0f506947090bef27300.png)
    }

    .sp_progress-bar__point-label_image.img_type_3 {
        background-image: url(https://sailplays3.cdnvideo.ru/media/assets/assetfile/11608c3a1f963c7160f8872ae35925b3.png)
    }

    .sp_progress-bar__point-label_image.img_type_4 {
        background-image: url(https://sailplays3.cdnvideo.ru/media/assets/assetfile/30e77071a25da3c28827e69169c5335a.png)
    }

    .sp_person-block__info {
        margin-left: 0;
    }

    &.sp_person-sec {
        text-align: center;
    }

    .sp_person-sec__left {
        width: 100%;
    }

    .sp_person-block__name {
        text-transform: uppercase;
        font-size: 45px;
        line-height: 28px;
    }

    .sp_info-counter__hist {
        text-transform: lowercase;
        color: black;
        font-size: 24px;
        border: none;

        &:hover {
            border-bottom: 1px dashed #939393;
        }
    }

    &.sp_info-counter {
        margin-top: 60px;
        text-align: center;
        padding: 0;
    }

    .sp_info-counter__count-val {
        font-size: 150px;
    }

    .sp_person-block__param-val {
        font-family: inherit;
        font-style: italic;
        text-transform: uppercase;
    }

    &.sp_text_block {
        text-align: center;
        font-size: 21px;
        margin-top: 35px;
        margin-bottom: 45px;
    }
}