<div class="sailplay_babaevsky sailplay_babaevsky__clearfix" data-ng-show="state">

    <!--<span class="sailplay_babaevsky__header">Активация карты</span>-->

    <div data-ng-show="state != 3">

        <span class="sailplay_babaevsky__text" style="text-align: center" data-ng-if="state == 2">Ваша анкета находится на модерации</span>

        <div data-ng-show="state != 2">

        <span class="sailplay_babaevsky__text">
            Для участия в Программе лояльности фирменных магазинов «Алёнка» и получения виртуальной карты участника программы Вам необходимо заполнить электронную анкету.
        </span>

            <form action="#" name="profile_form" novalidate
                  data-ng-submit="$event.preventDefault();submit(profile_form);">

                <div class="sailplay_babaevsky__form sailplay_babaevsky__clearfix">

                    <div class="sailplay_babaevsky__form-field">
                        <span>Фамилия*</span>
                        <input type="text" name="lastName" data-ng-model="form.lastName" required>
                    </div>

                    <div class="sailplay_babaevsky__form-field">
                        <span>Мобильный телефон*</span>
                        <input type="text" name="addPhone" data-ng-model="form.addPhone" required>
                    </div>

                    <div class="sailplay_babaevsky__form-field">
                        <span>Имя*</span>
                        <input type="text" name="firstName" data-ng-model="form.firstName" required>
                    </div>

                    <div class="sailplay_babaevsky__form-field">
                        <span>E-mail*</span>
                        <input type="text" name="addEmail" data-ng-model="form.addEmail" required>
                    </div>

                    <div class="sailplay_babaevsky__form-field">
                        <span>Отчество*</span>
                        <input type="text" name="middleName" data-ng-model="form.middleName" required>
                    </div>

                    <div class="sailplay_babaevsky__form-field">
                        <span>Дата рождения</span>
                        <div class="sailplay_babaevsky__form-field_date">
                            <date-picker data-model="form.birthDate"></date-picker>
                        </div>
                    </div>

                    <div class="sailplay_babaevsky__form-field">
                        <span>Пол*</span>
                        <div class="sailplay_babaevsky__form-field_radio-group">

                            <label>
                                <input type="radio" name="sex" data-ng-model="form.sex" data-ng-value="1" required>
                                <i></i>
                                <span>Мужской</span>
                            </label>

                            <label>
                                <input type="radio" name="sex" data-ng-model="form.sex" data-ng-value="2" required>
                                <i></i>
                                <span>Женский</span>
                            </label>

                        </div>
                    </div>


                </div>

                <div class="sailplay_babaevsky__card sailplay_babaevsky__clearfix">

                    <div class="sailplay_babaevsky__form-field">

                        <span>Тип карты</span>

                        <div class="sailplay_babaevsky__form-field_radio-group">

                            <label>
                                <input type="radio" name="type" data-ng-model="type" data-ng-value="'bonus'" required>
                                <i></i>
                                <span>Бонусная карта</span>
                            </label>

                            <label>
                                <input type="radio" name="type" data-ng-model="type" data-ng-value="'student'" required>
                                <i></i>
                                <span>Карта студента</span>
                            </label>

                            <label>
                                <input type="radio" name="type" data-ng-model="type" data-ng-value="'social'" required>
                                <i></i>
                                <span>Социальная карта</span>
                            </label>

                        </div>

                    </div>

                    <div class="sailplay_babaevsky__card-types"
                         data-ng-if="(type == 'student' || type == 'social') && !pic_path">

                        <p data-ng-if="type == 'social'">
                            Загрузите скан или фото вашей социальной карты
                        </p>

                        <p data-ng-if="type == 'student'">
                            Загрузите скан или фото вашей карты студента
                        </p>

                        <label class="sailplay_babaevsky__file-upload">
                            <input name="card_photo" type="file" data-ng-model="$parent.pic" accept="image/*"
                                   onchange="angular.element(this).scope().on_file_change(this)" required>
                            <button>Загрузить</button>
                        </label>

                    </div>

                </div>

                <div class="sailplay_babaevsky__form-field sailplay_babaevsky__agree">

                    <label class="sailplay_babaevsky__form-field_checkbox">
                        <input type="checkbox" name="agree" data-ng-model="agree" required>
                        <i></i>
                        <a href="#" target="_blank" data-ng-click="$event.preventDefault();show_rules();">Я принимаю условия</a>
                    </label>

                    <label class="sailplay_babaevsky__form-field_checkbox">
                        <input type="checkbox" name="subscribe" data-ng-model="subscribe" required>
                        <i></i>
                        <span>Я согласен получать информационные уведомления об акциях и специальных скидках</span>
                    </label>

                </div>

                <div class="sailplay_babaevsky__buttons">
                    <input type="submit" value="Активировать карту" data-ng-disabled="profile_form.$invalid">
                    <button data-ng-click="$event.preventDefault();clear();">Отмена</button>
                </div>

            </form>

        </div>

    </div>

    <div data-ng-if="state == 3">
        <sailplay-magic></sailplay-magic>
    </div>

    <magic-modal class="sailplay_babaevsky__confirm_popup" data-show="show_confirm_phone">

        <form action="#" novalidate data-ng-submit="$event.preventDefault();confirm_phone($parent.phone_code);">

            <div class="sailplay_babaevsky__form-field sailplay_babaevsky__clearfix">
                <span>Введите код подтверждения телефона</span>
                <input type="text" name="phone_code" data-ng-model="$parent.phone_code" required>
            </div>

            <div class="sailplay_babaevsky__form-field sailplay_babaevsky__clearfix">
                <input type="submit" value="Подтвердить"/>
            </div>

        </form>

    </magic-modal>

    <magic-modal class="sailplay_babaevsky__notify_popup" data-show="notify">

        <p data-ng-if="notify" data-ng-bind-html="notify | to_trusted"></p>

    </magic-modal>

</div>