.sp_l-centered, .sp_l-section {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

.sp_l-section {
  overflow: hidden;
}

input.ng-invalid.ng-touched {
 border: 1px solid @btn-danger-bg !important;
}

button {
  outline: none;
}

.body_lock {
  overflow: hidden;
  margin-right: 15px;
}

.uppercase {
  text-transform: uppercase;
}