#ppsp{

    &.type_show_detail{
        .ppsp-deal-detail{
            display: block;
        }

        .ppsp-deal-list{
            display: none;
        }
    }

    &.type_show_unauth{
        .ppsp-profile{
            display: none;
        }

        .ppsp-unauth{
            display: block;
        }
    }

    &.type_show_reg{
        .ppsp-registration-bl{
            display: block;
        }

        .ppsp-enter-bl{
            display: none;
        }
    }

    &.type_show_enter{
        .ppsp-enter-bl{
            display: block;
        }
    }

    &.type_show_forget{
        .ppsp-forget-bl{
            display: block;
        }

        .ppsp-enter-bl{
            display: none;
        }
    }

    &.type_show_points-history{
        .ppsp-point-bl{
            display: block;
        }

        .ppsp-deal-detail,
        .ppsp-deal-list{
            display: none;
        }

        .ppsp-profile-btn{
            color: #fff !important;
            border: 1px solid #0f5fae;
            background: #0f5fae;
        }
    }

    &.type_show_task_profile{
        .ppsp-task-list-bl{
            display: none;
        }

        .ppsp-task-profile-bl{
            display: block;
        }
    }

    &.type_show_task_feedback{
        .ppsp-task-list-bl{
            display: none;
        }

        .ppsp-task-feedback-bl{
            display: block;
        }
    }

    &.type_show_unreg-alert{
        .ppsp-task-list-unauth{
            display: block;
        }
    }

    &.type_show_alert_panel{
        .ppsp-alert-bl{
            display: block;
        }
    }
}