.alink(@color, @colorHover) {
  &:link {color: @color;}
  &:visited{color: @color;}
  &:hover{color: @colorHover;}
  &:active{color: @color;}
}
.alink(@color) {
  &:link {color: @color;}
  &:visited{color: @color;}
  &:hover{color: @color;}
  &:active{color: @color;}
}
.color(@color, @color-hover) {
  color: @color;
  &:hover {
    color: @color-hover;
  }
}
.color(@color) {
  color: @color;
  &:hover {
    color: @color;
  }
}
.trans() {
  .transition(all @trans-duration linear 0ms);
}
.trans(@dur) {
  .transition(all @dur linear 0ms);
}

.sprite() {
  background-image: url("https://d3sailplay.cdnvideo.ru/media/assets/assetfile/db78ee8ea152fb7c95a138800bea3552.png");
  background-repeat: no-repeat;
}
.sprite(@x, @y) {
  background-image: url("https://d3sailplay.cdnvideo.ru/media/assets/assetfile/db78ee8ea152fb7c95a138800bea3552.png");
  background-repeat: no-repeat;
  background-position: -@x -@y;
}
.sprite2() {
  background-image: url("https://d3sailplay.cdnvideo.ru/media/assets/assetfile/db78ee8ea152fb7c95a138800bea3552.png");
  background-repeat: no-repeat;
}
.sprite2(@x, @y) {
  background-image: url("https://d3sailplay.cdnvideo.ru/media/assets/assetfile/db78ee8ea152fb7c95a138800bea3552.png");
  background-repeat: no-repeat;
  background-position: -@x -@y;
}
.bpos(@x, @y) {
  background-position: -@x -@y;
}
.picon() {
  content: "";
  display: block;
  position: absolute;
}
.picon(@width, @height, @sprite-x, @sprite-y) {
  display: block;
  position: absolute;
  content: "";
  .sprite(@sprite-x, @sprite-y);
  width: @width;
  height: @height;
}
.picon(@width, @height) {
  display: block;
  position: absolute;
  content: "";
  width: @width;
  height: @height;
}
.borderbox() {
  & {
    .box-sizing(border-box);
    &:before,
    &:after {
      .box-sizing(border-box);
    }
    * {
      .box-sizing(border-box);
      &:before,
      &:after {
        .box-sizing(border-box);
      }
    }
  }
}

.clear-input() {
  display: block;
  outline: none !important;
  -webkit-appearance: none;
  &:active, &:focus {
    outline: none !important;
  }
}
.clear-submit() {
  display: block;
  outline: none !important;
  outline: 1px solid white;
  outline-offset:-2px;

  &:active, &:focus {
    outline: none !important;
  }
}
.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
  // .background-clip(padding-box);
}
.border-image(@param) {
  -moz-border-image: @param; 
  -webkit-border-image: @param;
  -o-border-image: @param;
  border-image: @param;
}

.hover-active(@color) {
  background-color: @color;
  &:hover {
    background-color: darken(@color, 5%);
  }
  &:active {
    background-color: darken(@color, 8%);
  }
}
.center-icon(@width, @height) {
  width: @width;
  height: @height;
  left: 50%;
  top: 50%;
  margin-top: -@height/2;
  margin-left: -@width/2;
}
.top-center-icon(@height) {
  height: @height;
  top: 50%;
  margin-top: -@height/2;
}
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
  text-shadow: @string;
}