<div class="bns_overlay" data-ng-if="data">

    <div class="bns_overlay_close" data-ng-click="$event.preventDefault();$parent.data = null;body_lock(false);"></div>

    <div class="bns_overlay_inner">

        <div class="bns_overlay_top">

            <a href="#" class="bns_close"
               data-ng-click="$event.preventDefault();$parent.data = null;body_lock(false);">Закрыть</a>

            <div class="bns_overlay_top_name" data-ng-bind="$parent.data.title"></div>

        </div>

        <div class="bns_overlay_bottom">

            <div class="bns_overaly_bottom_left" data-ng-bind-html="$parent.data.text | to_trusted"></div>

        </div>

    </div>

</div>

