@import "parts/main.less";

.sailplay_wrapper {
  margin: 0;
  padding: 0;

  .pages {
    display: inline-block;
    margin: 10px 0;

    a {
      margin-left: 5px;
      color: white;
      text-decoration: none;

      &:first-child {
        margin-left: 0;
      }

      &.active {
        font-weight: bold;
        color: #dd4010;
      }

      &:hover {
        text-decoration: underline;
      }

    }

  }

  .saiplay_logout {
    display: inline-block;
    color: white;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
  }

  .bns_overlay {

    .notify {

      .oi_top {
        margin-bottom: 0 !important;
      }

      .bns_input_block {
        height: auto;
        min-height: 0;
        padding: 10px 50px;
      }

      .notify_text {
        color: white;
        margin-top: 10px;
      }

      .bns_btn {
        min-width: 180px !important;
        margin-bottom: 20px;
      }

    }

  }

}