<div class="sp_wrapper" data-ng-show="auth">

    <div class="bns_inner_block_wrap">
        <div class="bns_inner_block">

            <div class="bns_info" data-sailplay-profile>

                <div class="bns_info_ava">

                    <div class="bns_info_img" data-ng-if="config.data.user_pic">
                        <div class="img-container" data-ng-style="{'background-image': 'url('+config.data.user_pic+')'}" ></div>
                    </div>

                    <span class="bns_info_name"
                          data-ng-bind="user().user.first_name || user().user.last_name ? (user().user.first_name || '') + ' ' + (user().user.last_name || '') : 'Имя не указано'"></span>

                    <span class="bns_info_phone"
                          data-ng-bind="user().user.phone && (user().user.phone | tel) || 'Телефон не указан'"></span>

                    <span class="bns_info_email" data-ng-bind="user().user.email || 'E-mail не указан'"></span>

                    <span class="bns_info_adr"
                          data-ng-bind="config.data && (config.data.delivery_address | number) > 0 ? (config.data.delivery_address + ' ' + (config.data.delivery_address | sailplay_pluralize:'адрес,адреса,адресов') + ' доставки') : 'Нет адресов доставки'">
                    </span>

                    <a data-ng-href="{{ config.data && config.data.edit_profile_link }}"
                       class="bns_edit">Редактировать</a>

                </div>

                <div class="bns_info_right">

                    <div class="bns_info_bal">
                        <span class="bns_info_head">У Вас</span>
                        <span class="bns_info_bal_block">
                            <span class="bns_info_bal_num" data-ng-bind="user().user_points.confirmed | number"></span>
                            <span class="bns_info_bal_text"
                                  data-ng-bind="user().user_points.confirmed | sailplay_pluralize:'балл,балла,баллов'"></span>
                        </span>
                        <span class="bns_info_bal_ne" data-ng-class="{type_visible: user().user_points.unconfirmed}">
                            <span class="bns_info_bal_num"
                                  data-ng-bind="'+' + user().user_points.unconfirmed | number"></span>
                            <span class="bns_info_bal_text">не подтвержденных баллов</span>
                        </span>
                        <a href="#" class="bns_desc"
                           data-ng-click="$event.preventDefault();show_history();body_lock(true)">История начислений</a>
                        <a href="#" class="bns_mob"
                           data-ng-click="$event.preventDefault();show_history();body_lock(true)">Начисления</a>
                    </div>

                    <div class="bns_info_status" data-sailplay-status>
                        <span class="bns_info_head">Ваш статус</span>
                        <span class="bns_info_status_name"
                              title="{{ getCurrentStatus() ? getCurrentStatus().name : 'Нет статуса' }}"
                              data-ng-bind="getCurrentStatus() ? getCurrentStatus().name : 'Нет статуса'"></span>
                              <span class="bns_info_bal_text">
                                  вернём баллами
                              </span>
                        <span class="bns_info_bal_ne">
                            <span class="bns_info_bal_num"
                                  data-ng-bind="toNextStatus(getPurchasesSum()) ? ((toNextStatus(getPurchasesSum()) | number) + ' ' + (( toNextStatus(getPurchasesSum()) | sailplay_pluralize:'рубль,рубля,рублей'))) : '0'"></span>
                            <span class="bns_info_bal_text">до перехода на следующий статус</span>
                        </span>
                        <a href="#"
                           data-ng-click="$event.preventDefault();show_status();body_lock(true)">Все статусы</a>
                    </div>

                    <div class="bns_info_badge" data-sailplay-status>
                        <span class="bns_info_head">Ваши бейджи</span>
                        <span class="bns_info_badge_empty"
                              data-ng-if="!(badges().one_level_badges | filter:{is_received:true}).length">У вас пока нет бейджей</span>
                        <div class="bns_info_badge_main">

                            <div class="bns_badge_item"
                                 data-ng-repeat="badge in badges().one_level_badges | filter:{is_received:true} | limitTo:4">
                                <div class="bns_badge_item_img">
                                    <img data-ng-src="{{ (badge | spBadgeDesc).pic }}">
                                </div>
                                <span data-ng-bind="badge.name"></span>
                            </div>

                        </div>
                        <a href="#" data-ng-click="$event.preventDefault();show_badges();body_lock(true)">Все бейджи</a>
                    </div>

                </div>

                <div class="bns_info_line" data-sailplay-profile data-sailplay-status>

                    <div class="bns_info_line_stat">
                        <span class="bns_info_line_stat_item"
                              data-ng-style="getBadgeStyle()" data-ng-repeat="badge in badges().multilevel_badges[0]">
                            {{ badge.name }}
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </span>
                    </div>

                    <div class="bns_line_main_wrap" data-ng-if="badges && badges() && user && user()">
                        <div class="bns_line_main">

                            <div class="bns_line_fill" data-ng-style="getStatusPercents()">
                                <div class="bns_line_fill_til"
                                     data-ng-if="(badges().multilevel_badges[0] | filter:is_received:false).length">
                                    <strong data-ng-bind="getPurchasesSum() | number"></strong>
                                    {{ getPurchasesSum() | sailplay_pluralize:'рубль,рубля,рублей' }}
                                </div>
                            </div>

                            <div class="bns_line_nepod" data-ng-style="getNextStatusPercents()">
                                <div class="bns_line_nepod_bal"
                                     data-ng-bind="(toNextStatus(getPurchasesSum()) | number) + ' ' + (toNextStatus(getPurchasesSum()) | sailplay_pluralize:'рубль,рубля,рублей')"></div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="bns_gift" data-sailplay-gifts>

                <div class="bns_head">
                    <h2>Подарки</h2>
                    <span class="bns_sub_head">Вы можете менять свои баллы на эти подарки</span>
                    <a href="#" class="bns_desc"
                       data-ng-show="gifts && gifts() && gifts().length"
                       data-ng-click="$event.preventDefault();show_gifts();body_lock(true);">Смотреть все подарки</a>
                </div>

                <div class="bns_gift_main">

                    <div class="bns_gift_item" data-ng-repeat="gift in gifts() | filter: { is_over_quantity_per_user: false } " data-slack-slider
                         data-ng-click="$event.preventDefault();$parent.gift_get=gift;body_lock(true);"
                         data-slack-config="gifts_config">

                        <span class="bns_gift_item_name" title="{{ gift.name }}"
                              data-ng-bind="gift.name"></span>

                        <div class="bns_gift_item_img">
                            <img data-ng-src="{{ gift.thumbs.url_250x250 | sailplay_pic }}">
                        </div>

                        <span class="bns_gift_item_linck"
                              data-ng-bind="'Получить за ' + (gift.points | number) + ' ' + (gift.points | sailplay_pluralize:'балл,балла,баллов')"></span>

                    </div>

                    <div class="bns_gift_item"
                         data-ng-if="gifts && gifts() && gifts().length >= 6"
                         data-ng-click="$event.preventDefault();show_gifts();body_lock(true);">
                        <div class="bns_gift_item_img bns_gift_item_img_show_all">
                            <img src="//sailplays3.cdnvideo.ru/media/assets/assetfile/2c6c0c722055cdb07332f677060a1fea.png">
                            <span>Смотреть <br>все подарки</span>
                        </div>
                    </div>

                </div>

                <a href="#" class="bns_mob bns_show_all_mob bns_show_all_mob_gift"
                   data-ng-click="$event.preventDefault();show_gifts();body_lock(true);">Смотреть все подарки</a>

                <div class="bns_overlay bns_overlay_get_gift" data-ng-if="gift_get">
                    <div class="bns_overlay_close" data-ng-click="$event.preventDefault();body_lock(false);$parent.gift_get = null;"></div>
                    <div class="bns_overlay_inner">

                        <div class="bns_overlay_top">
                            <a href="#" class="bns_close"
                               data-ng-click="$event.preventDefault();body_lock(false);$parent.gift_get = null;">Закрыть</a>
                            <span class="bns_overlay_top_name" data-ng-bind="$parent.gift_get.name"></span>
                            <span class="bns_overlay_top_desc"
                                  data-ng-bind-html="$parent.gift_get.descr | to_trusted"></span>
                        </div>

                        <div class="bns_overlay_bottom">

                            <div class="bns_overaly_bottom_left">
                                <span class="bns_text">Стоимость:</span>
                                <span class="bns_bal"
                                      data-ng-bind="($parent.gift_get.points | number) + ' ' + ($parent.gift_get.points | sailplay_pluralize:'балл,балла,баллов')"></span>
                            </div>

                            <div class="bns_bottom_right">
                                <div class="bns_overlay_right_img">
                                    <img src="//sailplays3.cdnvideo.ru/media/assets/assetfile/1d17a0b88fd0930cd95438ccf3c2df47.png">
                                </div>
                                <a href="#"
                                   data-ng-class="{bns_nact: user().user_points.confirmed < $parent.gift_get.points}"
                                   data-ng-bind="user().user_points.confirmed >= $parent.gift_get.points ? 'Получить' : 'Не хватает баллов'"
                                   data-ng-click="$event.preventDefault();get($parent.gift_get);"></a>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

            <div class="bns_qust" data-sailplay-actions>

                <div class="bns_head">
                    <h2>Задания</h2>
                    <span class="bns_sub_head">Выполняй задания и получай дополнительные баллы</span>
                    <a href="#" data-ng-show="actions && actions.length" class="bns_desc"
                       data-ng-click="$event.preventDefault();show_actions();body_lock(true)">Смотреть
                        все задания</a>
                </div>

                <span class="bns_qust_empty" data-ng-if="actions && !actions.length">Вы выполнили все задания!</span>

                <div class="bns_qust_main">

                    <div class="bns_qust_item" data-ng-repeat="action in actions | limitTo:6 track by $index">

                        <div class="bns_qust_img">
                            <img data-ng-src="{{ action._actionId ? action_data(action).image : (action.icon | sailplay_pic) }}">
                        </div>
                        <span class="bns_qust_name">
                            <span class="bns_qust_name_center"
                                  data-ng-bind="action._actionId ? action_data(action).name : action.name"></span>
                        </span>

                        <span class="bns_qust_bal"
                              data-ng-bind="(action.points | number) + ' ' + (action.points | sailplay_pluralize:'балл,балла,баллов')"></span>

                        <span class="bns_linck" data-ng-click="$parent.show = action;">Выполнить</span>

                    </div>

                    <a href="#" class="bns_mob bns_show_all_mob bns_show_all_mob_qust"
                       data-ng-click="$event.preventDefault();show_actions();body_lock(true)">Смотреть все задания</a>
                </div>

                <div class="bns_overlay bns_overlay_quest" data-ng-if="show">
                    <div class="bns_overlay_close" data-ng-click="$event.preventDefault();body_lock(false);$parent.show = null;"></div>
                    <div class="bns_overlay_inner">

                        <div class="bns_overlay_top">

                            <a href="#" class="bns_close"
                               data-ng-click="$event.preventDefault();$parent.show = null;body_lock(false);">Закрыть</a>

                            <span class="bns_overlay_top_name">Выполнение задания</span>

                            <span class="bns_overlay_top_desc"
                                  data-ng-bind="$parent.show._actionId ? action_data($parent.show).name : $parent.show.name"></span>

                        </div>

                        <div class="bns_overlay_bottom">

                            <div class="bns_overaly_bottom_left">
                                <span class="bns_text">Вам будет начисленно</span>
                                <span class="bns_bal"
                                      data-ng-bind="($parent.show.points | number) + ' ' + ($parent.show.points | sailplay_pluralize:'балл,балла,баллов')"></span>
                            </div>

                            <div class="bns_bottom_right">

                                <div class="bns_overlay_right_img">
                                    <img data-ng-src="{{ $parent.show._actionId ? action_data($parent.show).image : ($parent.show.icon | sailplay_pic) }}">
                                </div>

                                <a href="#" data-ng-if="$parent.show._actionId"
                                   class="bns_overlay_actionbtn"
                                   data-sailplay-action data-action="$parent.show" data-text="Выполнить"
                                   data-styles="{{ action_styles(action_data($parent.show)) }}">Выполнить</a>

                            </div>

                            <div data-ng-if="!$parent.show._actionId" class="bns_overlay_actionbtn_custom"
                                 data-sailplay-action-custom
                                 data-action="$parent.show">Выполнить
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="bns_overlay bns_overlay_all_quest" data-sailplay-actions data-ng-if="showActions">
        <div class="bns_overlay_close" data-ng-click="$event.preventDefault();clear_show('showActions');body_lock(false);"></div>
        <div class="bns_overlay_inner">

            <div class="bns_overlay_left">

                <span class="bns_overlay_head">Все задания</span>

                <span class="bns_quest_main_empty"
                      data-ng-if="actions && !actions.length">Вы выполнили все задания!</span>

                <div class="bns_overlay_gift_main">

                    <div class="bns_overlay_gift_item" data-ng-repeat="action in actionsWithCompleted track by $index"
                         data-m-custom-scrollbar data-selector=".bns_overlay_gift_main">

                        <div class="bns_overlay_gift_item_img">
                            <img data-ng-src="{{ action._actionId ? action_data(action).image : (action.icon | sailplay_pic) }}">
                        </div>

                        <div class="bns_overlay_gift_item_right">
                            <span class="bns_overlay_gift_item_name"
                                  data-ng-bind="action._actionId ? action_data(action).name : action.name"></span>
                            <span class="bns_overlay_gift_item_bal"
                                  data-ng-bind="(action.points | number) + ' ' + (action.points | sailplay_pluralize:'балл,балла,баллов')"></span>
                            <a href="#" data-ng-class="{'bns_nact': action.isCompleted}" data-ng-click="$event.preventDefault();get_action(action);body_lock(true);">{{action.isCompleted ? 'Выполнено' : 'Выполнить'}}</a>
                        </div>

                    </div>

                </div>

            </div>

            <div class="bns_overlay_right bns_overlay_right_sm">
                <a href="#" class="bns_close"
                   data-ng-click="$event.preventDefault();clear_show('showActions');body_lock(false);">Закрыть</a>
            </div>

        </div>
    </div>

    <div class="bns_overlay bns_overlay_badge" data-sailplay-status data-sailplay-profile data-ng-if="showBadges">
        <div class="bns_overlay_close" data-ng-click="$event.preventDefault();clear_show('showBadges');body_lock(false);"></div>
        <div class="bns_overlay_inner">

            <div class="bns_overlay_left">
                <span class="bns_overlay_head">Бейджи</span>
                <div class="bns_overlay_badge_main">

                    <a href="#" class="bns_overlay_badge_item"
                       data-dir-paginate="badge in badges().one_level_badges | itemsPerPage:16"
                       data-pagination-id="badge_pages"
                       data-ng-class="{act: badge.is_received}"
                       data-ng-click="$event.preventDefault();$parent.showBadgesInfo=badge;">
                        <img data-ng-src="{{ (badge | spBadgeDesc).pic }}"
                             alt="{{ badge.name }}">
                    </a>

                    <dir-pagination-controls data-max-size="5" data-pagination-id="badge_pages"
                                             data-template-url="/html/ui/ui.pagination.controls.html"
                                             data-auto-hide="true"></dir-pagination-controls>

                </div>
                <!--<div class="bns_overlay_badge_page">-->
                <!--<a href="#" class="act">1</a>-->
                <!--<a href="#">2</a>-->
                <!--</div>-->
            </div>

            <div class="bns_overlay_right">

                <a href="#" class="bns_close"
                   data-ng-click="$event.preventDefault();clear_show('showBadges');body_lock(false);">Закрыть</a>

                <div data-ng-if="showBadgesInfo">

                    <div class="bns_overlay_right_img">
                        <img data-ng-src="{{ ($parent.showBadgesInfo | spBadgeDesc).pic }}">
                    </div>

                    <span class="bns_overlay_right_name" data-ng-bind="$parent.showBadgesInfo.name"></span>

                    <span class="bns_overlay_right_date"
                          data-ng-bind="$parent.showBadgesInfo.received_date ? 'Получено ' + ($parent.showBadgesInfo.received_date | date:'dd.MM.yyyy HH:mm') : 'Не получен'"></span>

                    <span class="bns_overlay_right_desc"
                          data-ng-bind="($parent.showBadgesInfo | spBadgeDesc)[$parent.showBadgesInfo.is_received ? 'after' : 'before']"></span>

                    <div class="bns_right_soc" data-ng-show="showBadgesInfo.is_received">
                        <a href="#" data-ng-click="$event.preventDefault();share('fb', $parent.showBadgesInfo);">
                            <img src="//sailplays3.cdnvideo.ru/media/assets/assetfile/2c54f65cafa62ebc0475d4b468f96ed1.png"
                                 alt="Facebook">
                        </a>
                        <a href="#" data-ng-click="$event.preventDefault();share('vk', $parent.showBadgesInfo);">
                            <img src="//sailplays3.cdnvideo.ru/media/assets/assetfile/047349b7ca545a369ae92a1430177323.png"
                                 alt="Vkontakte">
                        </a>
                        <a href="#" data-ng-click="$event.preventDefault();share('tw', $parent.showBadgesInfo);">
                            <img src="//sailplays3.cdnvideo.ru/media/assets/assetfile/04aad3116cdf8af0fb0324beb7565df9.png"
                                 alt="Twitter">
                        </a>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="bns_overlay bns_overlay_stst" data-sailplay-status data-sailplay-profile data-ng-if="showStatus">
        <div class="bns_overlay_close" data-ng-click="$event.preventDefault();clear_show('showStatus');body_lock(false);"></div>
        <div class="bns_overlay_inner" data-ng-if="user && user() && badges && badges()">

            <div class="bns_overlay_left">
                <span class="bns_overlay_head">Статусы</span>
                <div class="bns_overlay_stat_main">

                    <div class="bns_overlay_stat_item" data-ng-repeat="badge in badges().multilevel_badges[0]"
                         data-ng-click="$parent.selected_status = badge;"
                         data-ng-class="{act: badge.is_received,last: user().user_status.name && user().user_status.name == badge.name, sel: $parent.selected_status && (badge.name == $parent.selected_status.name)}">

                        <div class="bns_overlay_stat_item_img">
                            <img data-ng-src="{{ (badge | spBadgeDesc).pic }}"
                                 alt="{{ badge.name }}">
                        </div>

                        <div class="bns_overlay_stat_item_text">
                            <span data-ng-bind="badge.name"></span>
                            <strong
                                    data-ng-bind="badge.is_received ? user().user_status.name && user().user_status.name == badge.name ? 'Текущий' : 'Получен' : ((getSumForStatus(badge) | number) + ' ' + (getSumForStatus(badge) | sailplay_pluralize:'рубль,рубля,рублей'))"></strong>
                        </div>

                    </div>

                </div>
            </div>

            <div class="bns_overlay_right">

                <a href="#" class="bns_close"
                   data-ng-click="$event.preventDefault();clear_show('showStatus');body_lock(false);">Закрыть</a>

                <div data-ng-show="selected_status || getCurrentStatus()">

                    <div class="bns_overlay_right_img">
                        <img data-ng-src="{{ ((selected_status || getCurrentStatus()) | spBadgeDesc).pic }}">
                    </div>

                    <!--<span class="bns_overlay_right_bal" data-ng-if="user().user_status">+200 Баллов</span>-->
                    <span class="bns_overlay_right_name"
                          data-ng-bind="(selected_status || getCurrentStatus()).name"></span>
                    <span class="bns_overlay_right_date"
                          data-ng-bind="(selected_status || getCurrentStatus()).received_date ? 'Получено ' + ((selected_status || getCurrentStatus()).received_date | date:'dd.MM.yyyy HH:mm') : 'Не получен'"></span>

                    <span class="bns_overlay_right_desc"
                          data-ng-bind-html="(((selected_status || getCurrentStatus()) | spBadgeDesc)[(selected_status || getCurrentStatus()).is_received ? 'after' : 'before'] || '&nbsp;') | to_trusted "></span>

                    <div class="bns_right_soc" data-ng-show="selected_status.is_received">
                        <a href="#"
                           data-ng-click="$event.preventDefault();share('fb', (selected_status || getCurrentStatus()));">
                            <img src="//sailplays3.cdnvideo.ru/media/assets/assetfile/2c54f65cafa62ebc0475d4b468f96ed1.png"
                                 alt="Facebook">
                        </a>
                        <a href="#"
                           data-ng-click="$event.preventDefault();share('vk', (selected_status || getCurrentStatus()));">
                            <img src="//sailplays3.cdnvideo.ru/media/assets/assetfile/047349b7ca545a369ae92a1430177323.png"
                                 alt="Vkontakte">
                        </a>
                        <a href="#"
                           data-ng-click="$event.preventDefault();share('tw', (selected_status || getCurrentStatus()));">
                            <img src="//sailplays3.cdnvideo.ru/media/assets/assetfile/04aad3116cdf8af0fb0324beb7565df9.png"
                                 alt="Twitter">
                        </a>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="bns_overlay bns_overlay_gift" data-sailplay-gifts data-ng-if="showGifts">
        <div class="bns_overlay_close" data-ng-click="$event.preventDefault();clear_show('showGifts');body_lock(false);"></div>
        <div class="bns_overlay_inner">

            <div class="bns_overlay_left">
                <span class="bns_overlay_head">
                    Подарки
                    <strong class="bns_overlay_head_bal"
                            data-ng-bind="'Баланс: ' + (user().user_points.confirmed | number) + ' ' + (user().user_points.confirmed | sailplay_pluralize:'балл,балла,баллов')"></strong>
                </span>

                <div class="bns_overlay_gift_main">

                    <div class="bns_overlay_gift_item" data-ng-repeat="gift in gifts() | filter: { is_over_quantity_per_user: false }"
                         data-m-custom-scrollbar data-selector=".bns_overlay_gift_main">

                        <div class="bns_overlay_gift_item_img">
                            <img data-ng-src="{{ gift.thumbs.url_250x250 | sailplay_pic }}">
                        </div>

                        <div class="bns_overlay_gift_item_right">

                            <span class="bns_overlay_gift_item_name" data-ng-bind="gift.name"></span>

                            <span class="bns_overlay_gift_item_bal">
                                {{ (gift.points | number) + ' ' + (gift.points | sailplay_pluralize:'балл,балла,баллов') }}
                                <span class="bns_overlay_gift_item_nebal"
                                      data-ng-if="gift.points > user().user_points.confirmed">Не хватает баллов</span>
                            </span>

                            <a href="#" data-ng-class="{bns_nact : gift.points > user().user_points.confirmed}"
                               data-ng-click="$event.preventDefault();get_gift(gift);body_lock(true);">Получить</a>

                        </div>

                    </div>

                </div>

            </div>

            <div class="bns_overlay_right bns_overlay_right_sm">
                <a href="#" class="bns_close"
                   data-ng-click="$event.preventDefault();clear_show('showGifts');body_lock(false);">Закрыть</a>
            </div>

        </div>
    </div>

    <div class="bns_overlay bns_overlay_hist" data-sailplay-history data-ng-if="showHistory">
        <div class="bns_overlay_close" data-ng-click="$event.preventDefault();clear_show('showHistory');body_lock(false);"></div>
        <div class="bns_overlay_inner">

            <div class="bns_overlay_left">
                <span class="bns_overlay_head">История начислений</span>

                <span class="bns_overlay_hist_empty" data-ng-if="history && history() && history().length === 0">Начислений еще не было</span>

                <table class="bns_overlay_hist_main">

                    <tr data-dir-paginate="item in history() | filter:{points_delta:'!!'} | itemsPerPage:5"
                        data-pagination-id="history_pages">

                        <td data-ng-bind="item.action_date | date:'dd.MM.yyyy'"></td>
                        <td>
                            <span class="bns_name" data-ng-bind="item | history_item"></span>
                            <!--<span class="bns_desc"></span>-->
                        </td>
                        <td data-ng-class="{bns_min: item.points_delta < 0, bns_plus: item.points_delta >= 0}"
                            data-ng-bind="item.points_delta && ((item.points_delta > 0 ? '+' : '') + (item.points_delta | number)) + ' ' + (item.points_delta |sailplay_pluralize:'балл,балла,баллов')"></td>

                    </tr>

                </table>

                <dir-pagination-controls data-max-size="5" data-pagination-id="history_pages"
                                         data-template-url="/html/ui/ui.pagination.controls.html"
                                         data-auto-hide="true"></dir-pagination-controls>

            </div>

            <div class="bns_overlay_right bns_overlay_right_sm">
                <a href="#" class="bns_close"
                   data-ng-click="$event.preventDefault();clear_show('showHistory');body_lock(false);">Закрыть</a>
            </div>

        </div>
    </div>

    <notify-popup></notify-popup>

</div>