.sailplay_wrapper {
  margin: 0;
  padding: 0;
  font-family: 'Crimson';

  .pages {
    display: inline-block;
    margin: 10px 0;

    a {
      margin-left: 5px;
      color: black;
      text-decoration: none;

      &:first-child {
        margin-left: 0;
      }

      &.active {
        color: #45a39a;
      }

      &:hover {
        text-decoration: underline;
      }

    }

  }

  .ava_logout {
    display: inline-block;
    color: #071741;
    width: 100%;
    margin-bottom: 7px;

    &:hover {
      text-decoration: none;
    }

  }

  .review {

    .oi_top {
      margin-bottom: 30px !important;
    }

    .bns_review {
      margin-bottom: 10px;
      min-width: 248px;
    }

    .bns_btn {
      margin-top: 0 !important;
    }

  }

  .bns_overlay {

    .notify {

      .oi_top {
        margin-bottom: 0 !important;
      }

      .bns_input_block {
        height: auto;
        min-height: 0;
        padding: 10px 50px;
      }

      .notify_text {
        margin-top: 10px;
      }

      .bns_btn {
        min-width: 180px !important;
        margin-bottom: 20px;
      }

    }

  }

}


@import "parts/main.less";