body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  &.no_scrol {

    .bns_inner_block_wrap {
      overflow: hidden;
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
}
.bns_inner_block {
  max-width: 1200px;
  width: 100%;
  margin:auto;
}
.nicescroll-rails {
  z-index: 10000000000 !important;
}
.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #828282 !important;
}