.bns_mob {
  display: none;
}
@media screen and (max-width: 1260px){
  .bns_gift {
    .bns_gift_main {
      .slick-next{
        right: 0px;
      }
      .slick-prev{
        left: 0px;
      }
    }
  }

}
@media screen and (max-width: 1200px){
  .bns_inner_block {
    padding: 0px 30px;
    box-sizing: border-box;
  }
  .bns_info {
    .bns_info_right {
      .bns_info_bal {
      }
      .bns_info_badge {

        .bns_info_badge_main {
          .bns_badge_item {
            span {
              display: none;
            }
          }
        }
      }
    }
  }
  .bns_info .bns_info_right .bns_info_bal .bns_info_bal_ne .bns_info_bal_text {
    height: 34px;
  }
  .bns_info .bns_info_right .bns_info_status .bns_info_bal_ne .bns_info_bal_text {
    height: 34px;
  }
  .bns_info .bns_info_right .bns_info_badge .bns_info_badge_main .bns_badge_item .bns_badge_item_img img {
    max-width: 90%;
  }
  .bns_info .bns_info_right .bns_info_badge .bns_info_badge_main .bns_badge_item .bns_badge_item_img {
    height: 118px;
  }
  .bns_qust .bns_qust_main .bns_qust_item{
    width: 14.9%;
  }
}
@media screen and (max-width: 980px){
  .bns_info .bns_info_ava {
    width: 25%;
  }
  .bns_info .bns_info_right {
    width: 73%;
  }
  .bns_info .bns_info_line {
    width: 73%;
  }
  .bns_info .bns_info_right .bns_info_bal {
    width: 31.5%;
  }
  .bns_info .bns_info_right .bns_info_status {
    width: 31.5%;
  }
  .bns_info .bns_info_right .bns_info_badge {
    width: 31.5%;
  }
  .bns_info .bns_info_right .bns_info_badge .bns_info_badge_main .bns_badge_item {
    display: none;
  }
  .bns_info .bns_info_right .bns_info_badge .bns_info_badge_main .bns_badge_item:first-child {
    display: block;
    border: 0px;
    width: 100%;
  }
  .bns_info .bns_info_line .bns_info_line_stat .bns_info_line_stat_item {
    font-size: 8px;
  }
  .bns_qust .bns_qust_main .bns_qust_item{
    width: 22.5%;
  }
  .bns_gift .bns_gift_main .bns_gift_item .bns_gift_item_linck {
    margin-top: 5px;
  }
}

@media screen and (max-width: 780px){
  .bns_info .bns_info_ava {
    width: 33%;
  }
  .bns_info .bns_info_right {
    width: 64%;
  }
  .bns_info .bns_info_right .bns_info_bal {
    width: 49%;
  }
  .bns_info .bns_info_right .bns_info_status {
    width: 49%;
    margin-right: 0;
  }
  .bns_info .bns_info_right .bns_info_badge {
    width: 100%;
    margin-top: 20px;
  }
  .bns_info .bns_info_right .bns_info_badge .bns_info_badge_main .bns_badge_item {
    display: block;
  }
  .bns_info .bns_info_right .bns_info_badge .bns_info_badge_main .bns_badge_item .bns_badge_item_img {
    height: 78px;
  }
  .bns_info .bns_info_right .bns_info_badge .bns_info_badge_main .bns_badge_item:first-child {
    display: block;
    width: 25%;
    border-right: 1px solid #C6C6C6;
  }
  .bns_info .bns_info_line {
    width: 100%;
  }
  .bns_info .bns_info_right .bns_info_bal .bns_info_bal_ne .bns_info_bal_text {
    height: auto;
  }
  .bns_qust .bns_qust_main .bns_qust_item {
    width: 31%;
  }
  .bns_gift .bns_head .bns_sub_head, .bns_qust .bns_head .bns_sub_head {
    box-sizing: border-box;
    padding-right: 190px;
  }
  .bns_gift .bns_head:before, .bns_qust .bns_head:before {
    top:31px;
  }
  .bns_qust .bns_head a, .bns_gift .bns_head a {
    top:36px;
  }
  .bns_info .bns_info_right .bns_info_status .bns_info_bal_ne .bns_info_bal_text {
    height: auto;
  }

}
@media screen and (max-width: 650px){
  .bns_overlay .bns_overlay_inner {
    width: 90%;
  }
  .bns_info .bns_info_line .bns_line_fill_til{
   display: none;
  }
  .bns_info .bns_info_line .bns_line_nepod{
   display: none;
  }
  //.bns_info .bns_info_line .bns_info_line_stat .bns_info_line_stat_item {
  //  display: none;
  //  width: 50%;
  //}
  //.bns_info .bns_info_line .bns_info_line_stat .bns_info_line_stat_item:first-child {
  //  display: block;
  //}
  //.bns_info .bns_info_line .bns_info_line_stat .bns_info_line_stat_item:last-child {
  //  display: block;
  //}
  .bns_overlay .bns_overlay_inner .bns_overlay_hist_main td:nth-child(1) {
    display: none;
  }
  .bns_overlay .bns_overlay_inner .bns_overlay_left {
    padding-left: 15px;
  }
  .bns_overlay.bns_overlay_hist .bns_overlay_inner .bns_overlay_right {
    background-color: #fff;
  }
  .bns_overlay.bns_overlay_hist .bns_overlay_inner .bns_overlay_left {
    width: 100%;
  }
  .bns_overlay.bns_overlay_hist .bns_overlay_inner .bns_overlay_right {
    height: auto;
    z-index: 2;
    width: 30%;
  }
  .bns_overlay.bns_overlay_hist .bns_overlay_inner .bns_overlay_right .bns_close {
    margin-bottom: 0;
  }
  .bns_overlay .bns_overlay_inner .bns_overlay_right {
    position: static;
    width: 100% !important;
  }
  .bns_overlay .bns_overlay_inner .bns_overlay_right .bns_close {
    position: absolute;
    right: 20px;
    top: 10px;
    width: auto;
    margin-top: 0;
    z-index: 2;
  }
  .bns_overlay .bns_overlay_inner .bns_overlay_right .bns_overlay_right_img {
    margin-top: 20px;
  }
  .bns_overlay .bns_overlay_inner .bns_overlay_right .bns_right_soc {
    position: relative;
  }
  .bns_overlay .bns_overlay_inner .bns_overlay_left {
    width: 100% !important;
  }
  .bns_overlay .bns_overlay_inner .bns_overlay_stat_main .bns_overlay_stat_item.sel:after {
    display: none;
  }
  .bns_overlay.bns_overlay_gift .bns_overlay_inner .bns_overlay_left {
    width: 100%;
  }
  .bns_overlay .bns_overlay_inner .bns_overlay_left .bns_overlay_gift_main .bns_overlay_gift_item .bns_overlay_gift_item_img {
    width: 100%;
    height: auto;
    padding-top: 15px;
  }
  .bns_overlay .bns_overlay_inner .bns_overlay_left .bns_overlay_gift_main .bns_overlay_gift_item .bns_overlay_gift_item_right {
    width: 100%;
    padding-left: 0px;
  }
  .bns_overlay .bns_overlay_inner .bns_overlay_left .bns_overlay_gift_main .bns_overlay_gift_item .bns_overlay_gift_item_right a {
    float: left;
    margin-top: 10px;
    width: 100%;
  }
  .bns_overlay .bns_overlay_inner .bns_overlay_left .bns_overlay_gift_main .bns_overlay_gift_item .bns_overlay_gift_item_right .bns_overlay_gift_item_name {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .bns_overlay .bns_overlay_inner .bns_overlay_left .bns_overlay_gift_main .bns_overlay_gift_item .bns_overlay_gift_item_right .bns_overlay_gift_item_bal {
    width: 100%;
    text-align: center;
  }
  .bns_overlay .bns_overlay_inner .bns_overlay_bottom .bns_bottom_right .bns_overlay_right_img {
    position: static;
    margin-right: 0;
  }
  .bns_overlay .bns_overlay_inner .bns_overlay_bottom .bns_overaly_bottom_left {
    width: 100%;
    text-align: center;
  }
  .bns_overlay .bns_overlay_inner .bns_overlay_bottom .bns_bottom_right a{
    display: inline-block;
    margin-top: 25px;
    width: 70%;
    float: none;
  }
  .bns_overlay .bns_overlay_inner .bns_overlay_bottom .bns_bottom_right {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 600px){
  .bns_info .bns_info_ava {
    width: 100%;
    margin-bottom: 40px;
  }
  .bns_info .bns_info_right {
    width: 100%;
  }
  .bns_info .bns_info_line .bns_info_line_stat .bns_info_line_stat_item {
    font-size: 0;
  }
  .bns_info .bns_info_ava .bns_info_img {
    width: 50%;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    height: 160px;
  }
  .bns_info .bns_info_ava .bns_info_name {
    width: 50%;
    text-align: left;
  }
  .bns_info .bns_info_ava .bns_info_phone {
    width: 50%;
    text-align: left;
  }
  .bns_info .bns_info_ava .bns_info_email {
    width: 50%;
    text-align: left;
  }
  .bns_info .bns_info_ava .bns_info_adr {
    width: 50%;
    text-align: left;
  }
}
@media screen and (max-width: 500px){
  .bns_desc {
    display: none;
  }
  .bns_mob {
    display: block;
  }
  .bns_show_all_mob {
    width: 98%;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    color: #0054A6;
    font-size: 14px;
    line-height: 38px;
    border: 1px solid #D1D1D1;
    background-color: #fff;
    border-radius: 3px;
    -webkit-transition: box-shadow 300ms ease;
    -moz-transition: box-shadow 300ms ease;
    -ms-transition: box-shadow 300ms ease;
    -o-transition: box-shadow 300ms ease;
    transition: box-shadow 300ms ease;
    &:hover {
      -webkit-box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.07);
      box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.07);
    }
  }
  .bns_gift_main  + .bns_show_all_mob {
    margin-top: 5px;
    width: 95%;
  }
  .bns_qust .bns_qust_main .bns_qust_item {
    width: 47.5%;
  }
  .bns_qust .bns_head a {
    bottom: 10px;
    top:auto;
    width: 100%;
  }
  .bns_gift .bns_head .bns_sub_head, .bns_qust .bns_head .bns_sub_head {
    padding-right: 0;
  }
  .bns_inner_block {
    padding: 0px 15px;
  }

}
@media screen and (max-width: 380px){
  .bns_info .bns_info_ava .bns_info_img {
    height: 140px;
  }
}
@media screen and (max-width: 370px){
  .bns_info .bns_info_ava .bns_info_img {
    height: 120px;
  }
}
@media screen and (max-width: 350px){

  .bns_gift .bns_gift_main .bns_gift_item {
    height: 320px;
  }
}
