<div class="popup popup__gift" data-ng-cloak data-ng-if="data && share_data">

    <div class="popup_overlay" data-ng-click="$parent.data = null"></div>

    <div class="popup_content">

        <div class="popup_header">

            <span class="popup_header-title">Подтверждение</span>

            <span class="popup_header-close" data-ng-click="$parent.data = null">

                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 29 30" style="enable-background:new 0 0 29 30;" xml:space="preserve">
                <style type="text/css">
                    .st0 {
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                        fill: #FFFFFF;
                    }
                </style>
                <polygon class="st0" points="20.9,9.8 19.7,8.6 14.5,13.8 9.3,8.6 8.1,9.8 13.3,15 8.1,20.2 9.3,21.4 14.5,16.2 19.7,21.4
                    20.9,20.2 15.7,15 "/>
                </svg>


            </span>

        </div>

        <div class="popup_body">

            <div class="popup_body__parts left">

                <img data-ng-src="{{ $parent.data.thumbs.url_250x250 | sailplay_pic }}" alt="{{ $parent.data.name }}">

                <span class="gift_name" data-ng-bind="$parent.data.name"></span>

            </div>

            <div class="popup_body__parts right">

                <span class="header_text">Поздравляем!</span>

                <span class="body_text">Подарок успешно добавлен в корзину!</span>

                <span class="body_text">*Для его получения необходимо завершить покупку через корзину</span>

                <div class="share_buttons">
                    <a href="#" class="share_button type_fb" data-ng-click="$event.preventDefault();make_share('fb')">

                        <div class="origin">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 39.6 40" style="enable-background:new 0 0 39.6 40;" xml:space="preserve">
                            <style type="text/css">
                                .type_fb .origin .st0 {
                                    fill: #E6EAEE;
                                }

                                .type_fb .origin .st1 {
                                    fill: #4B6296;
                                }

                                .type_fb .origin .st2 {
                                    fill: #E45E4C;
                                }
                            </style>
                            <path class="st1" d="M15.4,16.9h1.9v-0.8v-0.8v-0.1c0-0.8,0-2,0.6-2.8c0.6-0.8,1.5-1.4,2.9-1.4c2.4,0,3.3,0.3,3.3,0.3l-0.5,2.8
                                c0,0-0.8-0.2-1.5-0.2c-0.7,0-1.4,0.3-1.4,1v0.3v1v0.8h3l-0.2,2.7h-2.8V29h-3.5v-9.4h-1.9V16.9L15.4,16.9z"/>
                            </svg>

                        </div>

                        <div class="hover">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 39.6 40" style="enable-background:new 0 0 39.6 40;" xml:space="preserve">
                            <style type="text/css">
                                .type_fb .hover .st0 {
                                    fill: #E6EAEE;
                                }

                                .type_fb .hover .st1 {
                                    fill-rule: evenodd;
                                    clip-rule: evenodd;
                                    fill: #6A95C7;
                                }

                                .type_fb .hover .st2 {
                                    fill: #4B6296;
                                }
                            </style>
                            <path class="st2" d="M15.4,16.9h1.9v-0.8v-0.8v-0.1c0-0.8,0-2,0.6-2.8c0.6-0.8,1.5-1.4,2.9-1.4c2.4,0,3.3,0.3,3.3,0.3l-0.5,2.8
                                c0,0-0.8-0.2-1.5-0.2c-0.7,0-1.4,0.3-1.4,1v0.3v1v0.8h3l-0.2,2.7h-2.8V29h-3.5v-9.4h-1.9V16.9L15.4,16.9z"/>
                            </svg>

                        </div>

                    </a>
                    <a href="#" class="share_button type_ok" data-ng-click="$event.preventDefault();make_share('ok')">

                        <div class="origin">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 39.6 40" style="enable-background:new 0 0 39.6 40;" xml:space="preserve">
                            <style type="text/css">
                                .type_ok .origin .st0 {
                                    fill-rule: evenodd;
                                    clip-rule: evenodd;
                                    fill: #4B6296;
                                }
                            </style>
                            <path class="st0" d="M25.9,20.8c-0.3-0.6-1.1-1.1-2.3-0.2c-1.5,1.2-3.9,1.2-3.9,1.2s-2.4,0-3.9-1.2c-1.1-0.9-1.9-0.4-2.3,0.2
                                c-0.5,1.1,0.1,1.6,1.4,2.4c1.1,0.7,2.7,1,3.7,1.1l-0.8,0.8c-1.2,1.2-2.4,2.4-3.2,3.2c-0.5,0.5-0.5,1.3,0,1.7l0.1,0.1
                                c0.2,0.2,0.6,0.4,0.9,0.4h0c0.3,0,0.6-0.1,0.9-0.4l3.2-3.2c1.2,1.2,2.4,2.4,3.2,3.2c0.5,0.5,1.3,0.5,1.7,0l0.1-0.1
                                c0.5-0.5,0.5-1.3,0-1.7l-3.2-3.2l-0.9-0.9c1-0.1,2.6-0.4,3.7-1.1C25.9,22.3,26.5,21.8,25.9,20.8L25.9,20.8z M19.8,12.1
                                c1.5,0,2.6,1.2,2.6,2.6c0,1.5-1.2,2.6-2.6,2.6s-2.6-1.2-2.6-2.6C17.1,13.3,18.3,12.1,19.8,12.1L19.8,12.1z M19.8,20.1
                                c3,0,5.3-2.4,5.3-5.3c0-3-2.4-5.3-5.3-5.3c-3,0-5.3,2.4-5.3,5.3C14.4,17.7,16.8,20.1,19.8,20.1L19.8,20.1z"/>
                            </svg>

                        </div>

                        <div class="hover">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 39.6 40" style="enable-background:new 0 0 39.6 40;" xml:space="preserve">
                            <style type="text/css">
                                .type_ok .hover .st0 {
                                    fill: #E6EAEE;
                                }

                                .type_ok .hover .st1 {
                                    fill: #4B6296;
                                }

                                .type_ok .hover .st2 {
                                    fill-rule: evenodd;
                                    clip-rule: evenodd;
                                    fill: #EE812F;
                                }
                            </style>
                            <path class="st2" d="M25.9,20.8c-0.3-0.6-1.1-1.1-2.3-0.2c-1.5,1.2-3.9,1.2-3.9,1.2s-2.4,0-3.9-1.2c-1.1-0.9-1.9-0.4-2.3,0.2
                                c-0.5,1.1,0.1,1.6,1.4,2.4c1.1,0.7,2.7,1,3.7,1.1l-0.8,0.8c-1.2,1.2-2.4,2.4-3.2,3.2c-0.5,0.5-0.5,1.3,0,1.7l0.1,0.1
                                c0.2,0.2,0.6,0.4,0.9,0.4h0c0.3,0,0.6-0.1,0.9-0.4l3.2-3.2c1.2,1.2,2.4,2.4,3.2,3.2c0.5,0.5,1.3,0.5,1.7,0l0.1-0.1
                                c0.5-0.5,0.5-1.3,0-1.7l-3.2-3.2l-0.9-0.9c1-0.1,2.6-0.4,3.7-1.1C25.9,22.3,26.5,21.8,25.9,20.8L25.9,20.8z M19.8,12.1
                                c1.5,0,2.6,1.2,2.6,2.6c0,1.5-1.2,2.6-2.6,2.6s-2.6-1.2-2.6-2.6C17.1,13.3,18.3,12.1,19.8,12.1L19.8,12.1z M19.8,20.1
                                c3,0,5.3-2.4,5.3-5.3c0-3-2.4-5.3-5.3-5.3c-3,0-5.3,2.4-5.3,5.3C14.4,17.7,16.8,20.1,19.8,20.1L19.8,20.1z"/>
                            </svg>

                        </div>

                    </a>
                    <a href="#" class="share_button type_vk" data-ng-click="$event.preventDefault();make_share('vk')">

                        <div class="origin">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 39.6 40" style="enable-background:new 0 0 39.6 40;" xml:space="preserve">
                            <style type="text/css">
                                .type_vk .origin .st0 {
                                    fill-rule: evenodd;
                                    clip-rule: evenodd;
                                    fill: #4B6296;
                                }
                            </style>
                            <path class="st0" d="M19.5,26.8H21c0,0,0.4,0,0.7-0.3c0.2-0.2,0.2-0.6,0.2-0.6s0-1.9,0.9-2.2c0.9-0.3,2,1.9,3.2,2.7
                                c0.9,0.6,1.6,0.5,1.6,0.5l3.2,0c0,0,1.7-0.1,0.9-1.4c-0.1-0.1-0.5-1-2.4-2.8c-2-1.9-1.7-1.6,0.7-4.8c1.5-2,2.1-3.2,1.9-3.7
                                c-0.2-0.5-1.3-0.4-1.3-0.4l-3.6,0c0,0-0.3,0-0.5,0.1c-0.2,0.1-0.3,0.4-0.3,0.4s-0.6,1.5-1.3,2.8c-1.6,2.7-2.2,2.9-2.5,2.7
                                c-0.6-0.4-0.5-1.6-0.5-2.4c0-2.6,0.4-3.7-0.8-4c-0.4-0.1-0.7-0.2-1.7-0.2c-1.3,0-2.4,0-3,0.3c-0.4,0.2-0.7,0.6-0.5,0.7
                                c0.2,0,0.8,0.1,1.1,0.5c0.4,0.5,0.4,1.6,0.4,1.6s0.2,3.1-0.5,3.5c-0.5,0.3-1.2-0.3-2.6-2.7c-0.7-1.3-1.3-2.7-1.3-2.7
                                s-0.1-0.3-0.3-0.4c-0.2-0.2-0.6-0.2-0.6-0.2l-3.4,0c0,0-0.5,0-0.7,0.2c-0.2,0.2,0,0.6,0,0.6s2.7,6.3,5.7,9.4
                                C16.4,27,19.5,26.8,19.5,26.8L19.5,26.8z"/>
                            </svg>

                        </div>

                        <div class="hover">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 39.6 40" style="enable-background:new 0 0 39.6 40;" xml:space="preserve">
                            <style type="text/css">
                                .type_vk .hover .st0 {
                                    fill-rule: evenodd;
                                    clip-rule: evenodd;
                                    fill: #6A95C7;
                                }
                            </style>
                            <path class="st0" d="M19.5,26.8H21c0,0,0.4,0,0.7-0.3c0.2-0.2,0.2-0.6,0.2-0.6s0-1.9,0.9-2.2c0.9-0.3,2,1.9,3.2,2.7
                                c0.9,0.6,1.6,0.5,1.6,0.5l3.2,0c0,0,1.7-0.1,0.9-1.4c-0.1-0.1-0.5-1-2.4-2.8c-2-1.9-1.7-1.6,0.7-4.8c1.5-2,2.1-3.2,1.9-3.7
                                c-0.2-0.5-1.3-0.4-1.3-0.4l-3.6,0c0,0-0.3,0-0.5,0.1c-0.2,0.1-0.3,0.4-0.3,0.4s-0.6,1.5-1.3,2.8c-1.6,2.7-2.2,2.9-2.5,2.7
                                c-0.6-0.4-0.5-1.6-0.5-2.4c0-2.6,0.4-3.7-0.8-4c-0.4-0.1-0.7-0.2-1.7-0.2c-1.3,0-2.4,0-3,0.3c-0.4,0.2-0.7,0.6-0.5,0.7
                                c0.2,0,0.8,0.1,1.1,0.5c0.4,0.5,0.4,1.6,0.4,1.6s0.2,3.1-0.5,3.5c-0.5,0.3-1.2-0.3-2.6-2.7c-0.7-1.3-1.3-2.7-1.3-2.7
                                s-0.1-0.3-0.3-0.4c-0.2-0.2-0.6-0.2-0.6-0.2l-3.4,0c0,0-0.5,0-0.7,0.2c-0.2,0.2,0,0.6,0,0.6s2.7,6.3,5.7,9.4
                                C16.4,27,19.5,26.8,19.5,26.8L19.5,26.8z"/>
                            </svg>
                        </div>

                    </a>
                    <a href="#" class="share_button type_tw" data-ng-click="$event.preventDefault();make_share('tw')">

                        <div class="origin">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 39.6 40" style="enable-background:new 0 0 39.6 40;" xml:space="preserve">
                            <style type="text/css">
                                .type_tw .origin .st0 {
                                    fill: #4B6296;
                                }
                            </style>
                            <path class="st0" d="M29.3,14.1c-0.7,0.3-1.4,0.5-2.2,0.6c0.8-0.5,1.4-1.2,1.7-2.2c-0.8,0.4-1.6,0.8-2.5,0.9
                                c-0.7-0.8-1.7-1.2-2.8-1.2c-2.1,0-3.9,1.7-3.9,3.9c0,0.3,0,0.6,0.1,0.9c-3.2-0.2-6.1-1.7-8-4.1c-0.3,0.6-0.5,1.2-0.5,2
                                c0,1.3,0.7,2.5,1.7,3.2c-0.6,0-1.2-0.2-1.8-0.5c0,0,0,0,0,0c0,1.9,1.3,3.5,3.1,3.8c-0.3,0.1-0.7,0.1-1,0.1c-0.3,0-0.5,0-0.7-0.1
                                c0.5,1.5,1.9,2.7,3.6,2.7c-1.3,1-3,1.7-4.8,1.7c-0.3,0-0.6,0-0.9-0.1c1.7,1.1,3.8,1.7,6,1.7c7.2,0,11.1-5.9,11.1-11.1
                                c0-0.2,0-0.3,0-0.5C28.1,15.6,28.7,14.9,29.3,14.1L29.3,14.1z"/>
                            </svg>

                        </div>

                        <div class="hover">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 39.6 40" style="enable-background:new 0 0 39.6 40;" xml:space="preserve">
                            <style type="text/css">
                                .type_tw .hover .st0 {
                                    fill: #E6EAEE;
                                }

                                .type_tw .hover .st1 {
                                    fill: #4B6296;
                                }

                                .type_tw .hover .st2 {
                                    fill: #45BFEF;
                                }
                            </style>
                            <path class="st2" d="M29.3,14.1c-0.7,0.3-1.4,0.5-2.2,0.6c0.8-0.5,1.4-1.2,1.7-2.2c-0.8,0.4-1.6,0.8-2.5,0.9
                                c-0.7-0.8-1.7-1.2-2.8-1.2c-2.1,0-3.9,1.7-3.9,3.9c0,0.3,0,0.6,0.1,0.9c-3.2-0.2-6.1-1.7-8-4.1c-0.3,0.6-0.5,1.2-0.5,2
                                c0,1.3,0.7,2.5,1.7,3.2c-0.6,0-1.2-0.2-1.8-0.5c0,0,0,0,0,0c0,1.9,1.3,3.5,3.1,3.8c-0.3,0.1-0.7,0.1-1,0.1c-0.3,0-0.5,0-0.7-0.1
                                c0.5,1.5,1.9,2.7,3.6,2.7c-1.3,1-3,1.7-4.8,1.7c-0.3,0-0.6,0-0.9-0.1c1.7,1.1,3.8,1.7,6,1.7c7.2,0,11.1-5.9,11.1-11.1
                                c0-0.2,0-0.3,0-0.5C28.1,15.6,28.7,14.9,29.3,14.1L29.3,14.1z"/>
                            </svg>

                        </div>

                    </a>
                    <a href="#" class="share_button type_gp" data-ng-click="$event.preventDefault();make_share('gp')">

                        <div class="origin">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 39.6 40" style="enable-background:new 0 0 39.6 40;" xml:space="preserve">
                            <style type="text/css">
                                .type_gp .origin .st0 {
                                    fill: #E6EAEE;
                                }

                                .type_gp .origin .st1 {
                                    fill: #4B6296;
                                }
                            </style>
                            <g>
                                <path class="st1" d="M20.6,13.8c-0.8,0.8-1.6,1.6-2.4,2.5c-0.6-0.5-1.3-0.9-2.1-1.1c-2.7-0.6-5.3,1.2-5.8,3.9
                                    c-0.5,2.8,1.2,5.4,4,5.8c2.2,0.4,4.3-0.6,5-2.7c0.1-0.2,0.1-0.3,0.1-0.5c-1.5,0-3,0-4.5,0c0-1.1,0-2.2,0-3.2c0-0.1,0.2-0.2,0.3-0.2
                                    c0.5,0,1,0,1.6,0c1.8,0,3.6,0,5.5,0c0.4,0,0.6,0.1,0.7,0.5c0.3,2.7-0.2,5.2-2.1,7.2c-1.3,1.4-3,2.1-4.8,2.3
                                    c-3.8,0.4-7.4-1.7-8.8-5.3c-1.9-4.9,1.2-10.4,6.4-11.2c2.5-0.4,4.8,0.2,6.8,1.9C20.5,13.7,20.5,13.7,20.6,13.8z"/>
                                <path class="st1" d="M25,18.5c1,0,1.9,0,2.9,0c0-1,0-1.9,0-2.9c0.7,0,1.3,0,2,0c0.1,0,0.2,0.2,0.2,0.3c0,0.7,0,1.4,0,2.1
                                    c0,0.1,0,0.3,0,0.5c1,0,1.9,0,2.9,0c0,0.7,0,1.4,0,2.1c-1,0-1.9,0-2.9,0c0,1,0,1.9,0,2.9c-0.7,0-1.4,0-2.1,0c0-0.9,0-1.9,0-2.9
                                    c-0.5,0-0.9,0-1.3,0c-0.5,0-1,0-1.5-0.1c0-0.5,0-1.1-0.1-1.6C25,18.9,25,18.7,25,18.5z"/>
                            </g>
                            </svg>

                        </div>

                        <div class="hover">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 39.6 40" style="enable-background:new 0 0 39.6 40;" xml:space="preserve">
                            <style type="text/css">
                                .type_gp .hover .st0 {
                                    fill: #E6EAEE;
                                }

                                .type_gp .hover .st1 {
                                    fill: #4B6296;
                                }

                                .type_gp .hover .st2 {
                                    fill: #E45E4C;
                                }
                            </style>
                            <g>
                                <path class="st2" d="M20.6,13.8c-0.8,0.8-1.6,1.6-2.4,2.5c-0.6-0.5-1.3-0.9-2.1-1.1c-2.7-0.6-5.3,1.2-5.8,3.9
                                    c-0.5,2.8,1.2,5.4,4,5.8c2.2,0.4,4.3-0.6,5-2.7c0.1-0.2,0.1-0.3,0.1-0.5c-1.5,0-3,0-4.5,0c0-1.1,0-2.2,0-3.2c0-0.1,0.2-0.2,0.3-0.2
                                    c0.5,0,1,0,1.6,0c1.8,0,3.6,0,5.5,0c0.4,0,0.6,0.1,0.7,0.5c0.3,2.7-0.2,5.2-2.1,7.2c-1.3,1.4-3,2.1-4.8,2.3
                                    c-3.8,0.4-7.4-1.7-8.8-5.3c-1.9-4.9,1.2-10.4,6.4-11.2c2.5-0.4,4.8,0.2,6.8,1.9C20.5,13.7,20.5,13.7,20.6,13.8z"/>
                                <path class="st2" d="M25,18.5c1,0,1.9,0,2.9,0c0-1,0-1.9,0-2.9c0.7,0,1.3,0,2,0c0.1,0,0.2,0.2,0.2,0.3c0,0.7,0,1.4,0,2.1
                                    c0,0.1,0,0.3,0,0.5c1,0,1.9,0,2.9,0c0,0.7,0,1.4,0,2.1c-1,0-1.9,0-2.9,0c0,1,0,1.9,0,2.9c-0.7,0-1.4,0-2.1,0c0-0.9,0-1.9,0-2.9
                                    c-0.5,0-0.9,0-1.3,0c-0.5,0-1,0-1.5-0.1c0-0.5,0-1.1-0.1-1.6C25,18.9,25,18.7,25,18.5z"/>
                            </g>
                            </svg>

                        </div>

                    </a>
                </div>

            </div>

        </div>

    </div>

</div>