.roboto(@fontSize) {
	font-family: 'Roboto', sans-serif;
	font-size: @fontSize;
}
.roboto() {
	font-family: 'Roboto', sans-serif;
}
.lato() {
	font-family: 'Lato', sans-serif;
}
.lato(@fontSize) {
	font-family: 'Lato', sans-serif;
	font-size: @fontSize;
}
.helvetica() {
	font-family: 'helvetica', sans-serif;
}
.helvetica(@fontSize) {
	font-family: 'helvetica', sans-serif;
	font-size: @fontSize;
}