@font-face {
    font-family: 'motor_oil_1937_m54regular';
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/f98ab43507aa96addc49d9d26f37cc6f.eot');
    src: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/f98ab43507aa96addc49d9d26f37cc6f.eot?#iefix') format('embedded-opentype'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/eff2c839b7520eec6c82962cc299c065.woff2') format('woff2'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/b69fe04e9972866005b5480cf012d02f.woff') format('woff'),
         url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/389bb2abe991e0d3909c895a20eafd0f.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.motor() {
    font-family: 'motor_oil_1937_m54regular', sans-serif;
}
.motor(@size) {
    font-family: 'motor_oil_1937_m54regular', sans-serif;
    font-size: @size;
}
