@font-face {
    font-family: 'motor_oil_1937_m54regular';
    src: url('@{burlfonts}motor_oil_1937_m54-webfont.eot');
    src: url('@{burlfonts}motor_oil_1937_m54-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{burlfonts}motor_oil_1937_m54-webfont.woff2') format('woff2'),
         url('@{burlfonts}motor_oil_1937_m54-webfont.woff') format('woff'),
         url('@{burlfonts}motor_oil_1937_m54-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.motor() {
    font-family: 'motor_oil_1937_m54regular', sans-serif;
}
.motor(@size) {
    font-family: 'motor_oil_1937_m54regular', sans-serif;
    font-size: @size;
}
