// basic url adress
@burl: "../image/";
@burlfonts: "../fonts/";
@sprite_sailplay: "//sailplays3.cdnvideo.ru/media/assets/assetfile/d62e1b10ca9b8bb9b334c13d26e8a14a.png";
@import url(//fonts.googleapis.com/css?family=Lato:400,700,900,300&subset=latin,latin-ext);

@import "modules/fonts-std.less";
@import "modules/fonts.less";

// bootstrap
@import "bootstrap/bootstrap.less";

// layout
@import "layout/common-layout.less";

// modules
@import "modules/variables.less";
@import "modules/base.less";
@import "modules/mixins.less";
@import "modules/common-elements.less";
@import "modules/forms.less";
@import "modules/tests.less";
@import "modules/typo.less";

//pages
@import "pages/common.less";
@import "pages/index.less";

//plugins
// @import "plugins/preloader.less";
// @import "plugins/owl.carousel2.less";
@import "plugins/owl.carousel.less";

@media (max-width: (@screen-lg-min - 1px)) {
}

@media (max-width: (@screen-md-min - 1px)) {
}

@media (max-width: (@screen-sm-min - 1px)) {
}

@media (max-width: (@screen-xs-min - 1px)) {
}

.wrapper.pof {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
}
