.vk_share_btn {
    /*width: 150px;*/
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    background-color: #00AEEF;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
    font-family: Lato,sans-serif;
}

.vk_share_btn:hover {
    background-color: #0abcff;
}

.fb_share_btn {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    background-color: #00AEEF;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
    font-family: Lato,sans-serif;
}

.fb_share_btn:hover {
    background-color: #0abcff;
}

.ok_share_btn {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    background-color: #00AEEF;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
    font-family: Lato,sans-serif;
}

.ok_share_btn:hover {
    background-color: #0abcff;
}

.gp_share_btn {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    background-color: #00AEEF;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
    font-family: Lato,sans-serif;
}

.gp_share_btn:hover {
    background-color: #0abcff;
}