---
layout: default.hbs
---


<div class="spvv">
    <div class="spvv-banner">
        <div class="spvv-banner__text">
            Бонусная программа
        </div>
        <div class="spvv-banner__subtext">
            Совершайте покупки, выполняйте задания, <br/>
            копите баллы и меняйте их на подарки
        </div>
        <div class="spvv-banner__img"></div>
    </div>

    <div class="spvv-inline ">
        <div class="spvv-bl__left">
            <div class="spvv-history">
                <div class="spvv-history__i">
                    <div class="spvv-history__i-date">
                        07.11.2015
                    </div>
                    <div class="spvv-history__i-name">
                        Покупка
                    </div>
                    <div class="spvv-history__i-points">
                        +70 баллов
                    </div>
                </div>
                <div class="spvv-history__i">
                    <div class="spvv-history__i-date">
                        05.11.2015
                    </div>
                    <div class="spvv-history__i-name">
                        Пройден опрос
                    </div>
                    <div class="spvv-history__i-points">
                        +100 баллов
                    </div>
                </div>
                <div class="spvv-history__i">
                    <div class="spvv-history__i-date">
                        07.11.2015
                    </div>
                    <div class="spvv-history__i-name">
                        Покупка
                    </div>
                    <div class="spvv-history__i-points">
                        +70 баллов
                    </div>
                </div>
                <div class="spvv-history__i">
                    <div class="spvv-history__i-date">
                        07.11.2015
                    </div>
                    <div class="spvv-history__i-name">
                        Покупка
                    </div>
                    <div class="spvv-history__i-points">
                        +70 баллов
                    </div>
                </div>
                <div class="spvv-history__i">
                    <div class="spvv-history__i-date">
                        07.11.2015
                    </div>
                    <div class="spvv-history__i-name">
                        Покупка
                    </div>
                    <div class="spvv-history__i-points">
                        +70 баллов
                    </div>
                </div>
            </div>
            <div class="spvv-history__page">
                <a class="spvv-history__page-i" href="#">
                    1
                </a>
                <a class="spvv-history__page-i" href="#">
                    2
                </a>
                <a class="spvv-history__page-i selected" href="#">
                    3
                </a>
                <a class="spvv-history__page-i" href="#">
                    5
                </a>
                <span class="spvv-history__page-i">
                    ...
                </span>
                <a class="spvv-history__page-i" href="#">
                    5
                </a>
            </div>
        </div>

        <div class="spvv-bl spvv-bl__points">
            <div>
                <div class="spvv-bl__title">
                    Ваши баллы
                </div>
            </div>

            <div class="spvv-bl__count">
                720

                <i class="spvv-bl__count-icon">
                    <span class="text">+50</span>
                </i>

                <div class="spvv-bl__count-popup">
                    Ваши неподтвержденные баллы,
                    которые станут подтверждены
                    после факта оплаты заказа
                </div>
            </div>
            <div class="spvv-bl__subcount">
                бонусных баллов
            </div>

            <div class="spvv-bl__btn-con">
                <a class="spvv-bl__btn spvv-bl__btn-history" href="#" data-toggle-history>
                    <span class="history">История начислений</span>
                    <span class="close hidden">Закрыть список</span>
                </a>
            </div>
        </div>

        <div class="spvv-bl__right">
            asdda
        </div>

        <div class="spvv-bl spvv-bl__status">
            <div>
                <div class="spvv-bl__title">
                    Ваши статус
                </div>
            </div>

            <div class="spvv-bl__label-img">
                <div class="spvv-bl__label" style="background-image: url(sp-img/label.png);"></div>
            </div>

            <div class="spvv-bl__btn-con">
                <a class="spvv-bl__btn spvv-bl__btn-status" href="#" data-toggle-status>
                    <span class="list">Список статусов</span>
                    <span class="close hidden">Закрыть список</span>
                </a>
            </div>
        </div>
    </div>

    <div class="spvv-gifts">
        <div class="spvv-simple__title">
            подарки
        </div>
        <div class="spvv-simple__subtitle">
            на которые вы можете обменять свои баллы
        </div>

        <div class="spvv-slider">
            <div class="spvv-slider__i" style="background-image: url(sp-img/image-1.png);">
                <div class="spvv-slider__i-content">
                    <div class="spvv-slider__i-no">
                        Не хвататет баллов
                    </div>
                </div>

            </div>
            <div class="spvv-slider__i"  style="background-image: url(sp-img/image-1.png);">
                <div class="spvv-slider__i-content">
                    <div class="spvv-slider__i-content-inner">
                        <div class="spvv-slider__i-name">
                            Платье женское
                        </div>
                        <div class="spvv-slider__i-price">
                            <span>3250</span>
                            баллов
                        </div>
                    </div>
                    <div class="spvv-slider__i-con">
                        <a class="spvv-slider__i-btn" href="#">Получить</a>
                    </div>
                </div>

            </div>
            <div class="spvv-slider__i"  style="background-image: url(sp-img/image-1.png);">
                <div class="spvv-slider__i-content">
                    <div class="spvv-slider__i-content-inner">
                        <div class="spvv-slider__i-name">
                            Платье женское
                        </div>
                        <div class="spvv-slider__i-price">
                            <span>3250</span>
                            баллов
                        </div>
                    </div>
                    <div class="spvv-slider__i-con">
                        <a class="spvv-slider__i-btn" href="#">Получить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="spvv-tasks">
        <div class="spvv-simple__title">
            задания
        </div>
        <div class="spvv-simple__subtitle">
            за выполнение которых, вы получите баллы
        </div>

        <div class="spvv-tasks__slider " data-toggle-task>
            <div class="spvv-tasks__list">
                <div class="spvv-tasks__list-inner">
                    <a class="spvv-task" href="#">
                    <span class="spvv-task__inner">
                        <span class="spvv-task__name">
                            Разместить свой лук <br/> в соцсетях
                        </span>
                        <span class="spvv-task__count">
                            <span>500</span> баллов
                        </span>
                    </span>
                    </a>

                    <a class="spvv-task" href="#" data-show-test>
                    <span class="spvv-task__inner">
                        <span class="spvv-task__name">
                            Пройти опрос
                        </span>
                        <span class="spvv-task__count">
                            <span>300</span> баллов
                        </span>
                    </span>
                    </a>

                    <a class="spvv-task" href="#">
                    <span class="spvv-task__inner">
                        <span class="spvv-task__name">
                            Оставить свой отзыв о нас
                        </span>
                        <span class="spvv-task__count">
                            <span>150</span> баллов
                        </span>
                    </span>
                    </a>
                    <a class="spvv-task" href="#">
                    <span class="spvv-task__inner">
                        <span class="spvv-task__name">
                            Совершить покупку
                        </span>
                        <span class="spvv-task__count">
                            <i class="spvv-icon-infinite"></i> баллов
                        </span>
                    </span>
                    </a>
                </div>
            </div>

            <div class="spvv-test hidden">
                <div class="spvv-test__head">
                    <a class="spvv-test__head-back" href="#"></a>
                    <div class="spvv-test__head-title">
                        Пройти опрос
                    </div>
                    <div class="spvv-test__head-points">
                        <span>300</span>
                        баллов
                    </div>
                </div>
                <div class="spvv-test__list">
                    <div class="spvv-quest">
                        <div class="spvv-quest__hint">
                            Вопрос 1 / 5
                        </div>
                        <div class="spvv-quest__title">
                            Какой цвет вы предпочитаете в весенне-летних луках?
                        </div>
                        <div class="spvv-quest__content">
                            <div class="spvv-quest__i">
                                <div class="spvv-quest__i-text">
                                    <div class="text">Далее</div>
                                </div>
                                Алебастровый
                            </div>
                            <div class="spvv-quest__i">
                                <div class="spvv-quest__i-text">
                                    <div class="text">Далее</div>
                                </div>
                                Бериловый
                            </div>
                            <div class="spvv-quest__i">
                                <div class="spvv-quest__i-text">
                                    <div class="text">Далее</div>
                                </div>
                                Камелопардовый
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
