@import (reference) "vars";

//user info section
.user_info_wrapper {
  display: inline-block;
  width: 100%;
  background-color: @beige;
  td {
    vertical-align: middle;
    padding: 20px 5px;
  }
  p {
    margin: 0;
  }
}

.user_badge {
  background-color: @dark_green;
  color: @white;
  .border-radius(3px);
  padding: 4px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  margin-top: 12px !important;
  position: relative;
  &:before {
    position: absolute;
    left: 30%;
    height: 12px;
    width: 15px;
    top: -12px;
    background-image: url('../img/arrow_badge.png');
    background-repeat: no-repeat;
    background-position: center top;
    content: ' ';
  }
}


.user_pic {
  @width: 60px;
  width: @width;
  height: @width;
  border: none;
  -moz-border-radius: @width/2;
  -webkit-border-radius: @width/2;
  -khtml-border-radius: @width/2;
  -o-border-radius: @width/2;
  -ms-border-radius: @width/2;
  -icab-border-radius: @width/2;
  border-radius: @width/2;
  display: block;
}

.user_info table {
  float: right;
  margin-right: 10px;
  height: 100px;
  width: 290px;
}

.user_points {
  position: absolute;
  left: 385px;
  width: 420px;
  height: 60px;
  top: 5px;
}

.user_points table {
  height: 60px;
  float: left;
  width: 350px;
  margin-left: 10px;
}

.points_circle {
  position: relative;
  z-index: 0;
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -icab-border-radius: 30px;
  border-radius: 30px;
  line-height: 60px;
  font-size: 18px;
  letter-spacing: 2px;
}

.points_circle.confirmed {
  background-color: #ff3b3b;
  color: #FFFFFF;
}

.points_circle.unconfirmed {
  background-color: transparent;
  border: 2px dashed #ff3b3b;
  color: #ff3b3b;
  width: 56px;
  height: 56px;
  line-height: 56px;
}