@dark_green: #148F6A;
@black: #000000;
@deep_red: #e20e1b;
@beige: transparent;
@main_bg: #fff8da;
@dark_grey: #89877f;
@white: #ffffff;
@grey_border: #bdbbb5;
@rockwell_font_url: 'https://d3257v5wstjx8h.cloudfront.net/media/assets/assetfile/ad3ead6c5f4d97c3a529fcf9d6df722c.ttf';

.border-radius(@radius){
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
  -o-border-radius: @radius;
  -ms-border-radius: @radius;
  -icab-border-radius: @radius;
  border-radius: @radius;
}

.transition(...){
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}

.box-sizing (@string) {
  -webkit-box-sizing: @string;
  -moz-box-sizing:    @string;
  box-sizing:         @string;
}